<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../scripts/func5.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 5
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 5. Упорядочить аргументы / Structure your argument </h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>2273</td>
            <td>в-NumOrd-ых, XP/Cl</td>
            <td><span class="construction">Во-первых</span>, я бы хотел поблагодарить своего тренера.</td>
        </tr>
        <tr>
            <td>2353</td>
            <td>С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
            <td><span class="construction">С одной стороны</span>, мои знания были глубокими, <span class="construction">с другой стороны</span>, односторонними.</td>
        </tr>
        <tr>
            <td>899</td>
            <td>впрочем, Cl</td>
            <td>Фильм получил высокие оценки. <span class="construction">Впрочем</span>, он получился затянутым.</td>
        </tr>
    </table>
    <p>NumOrd = ordinal numeral (порядковое числительное типа первый, второй)<br>
        XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>2.1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

    <button onclick="Ex21_eng()">Show in English</button>
    <div class="translation" id="ex21_eng"></div><br>
    <button onclick="Ex21_norw()">Show in Norwegian</button>
    <div class="translation" id="ex21_norw"></div>

    <div class="second_indent">
        <p>
            б.<br>
            Программа обмена доступна* многим студентам. Для неё вам необходимо подготовить
            небольшой пакет документов. <span class="construction">Во-первых</span>, вам нужна копия паспорта. <span class="construction">Во-вторых</span>, справка
            о знании английского языка. <span class="construction">В-третьих</span>, рекомендательное письмо от одного
            преподавателя. Кроме того, вам надо написать короткое эссе. <span class="construction">С одной стороны</span>, это очень
            легко сделать. <span class="construction">С другой стороны</span>, только 10% студентов решают попробовать.<br>
            *доступна — English: available; Norwegian: tilgjengelig
        </p>

    </div>

    <h3>2.2. Составьте текст, используя конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
        В этой конструкции NumOrd — это порядковое числительное (ordinal
        numeral), которое образует слова <span class="construction">во-первых, во-вторых, в-третьих, в-
            четвёртых...</span> . На месте XP/Cl находится фраза (XP=phrase) или целое
        предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex22_eng()">Show in English</button>
    <div class="translation" id="ex22_eng"></div><br>
    <button onclick="Ex22_norw()">Show in Norwegian</button>
    <div class="translation" id="ex22_norw"></div><br>

    <div class="second_indent">
        <p>
            а. Что нужно, чтобы поехать в Россию?<ol>
        <li>Сделать визу</li>
        <li>Купить билеты</li>
        <li>Забронировать отель/найти жильё</li>
        <li>Собрать чемодан/вещи</li>
    </ol>
        </p>
        <p>
            б. Почему вы хотите поехать в Россию?<ol>
        <li>Интересные музеи</li>
        <li>Красивая архитектура</li>
        <li>Хорошие люди</li>
        <li>Вкусная еда</li>
    </ol>
        </p>
        <p>
            в. У имени Александр есть много вариантов.<ol>
        <li>Обычно используют сокращённый* вариант этого имени, Саша.</li>
        <li>Есть ещё другие варианты имени Александр — Шура, Саня, Алик.</li>
        <li>Саша — это не только мужское, но и женское имя (Александра).</li>
        <ol>
            </p>
    </div><span style="display:inline-block;">сокращённый* — English: shortened; Norwegian: forkortet</span><br>
    <button onclick="Ex22()">Показать ответ</button>
    <div id="ex22_ans"></div>

    <h3>2.3. Перепишите информационное письмо из визового центра, используя
        конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
        В этой конструкции NumOrd — это порядковое числительное (ordinal
        numeral), которое образует слова <span class="construction">во-первых, во-вторых, в-третьих, в-
            четвёртых...</span> . На месте XP/Cl находится фраза (XP=phrase) или целое
        предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex23_eng()">Show in English</button>
    <div class="translation" id="ex23_eng"></div><br>
    <button onclick="Ex23_norw()">Show in Norwegian</button>
    <div class="translation" id="ex23_norw"></div><br>

    <div class="second_indent">
        <p>
            Добрый день! Вы записаны в визовый центр на 12:00.<br>
            Список документов, которые вам нужно иметь с собой…
        <ul>
            <li>загранпаспорт;</li>
            <li>сертификат о вакцинации;</li>
            <li>подтверждение о бронировании отеля;</li>
            <li>две фотографии;</li>
        </ul>
        С уважением,<br>
        Визовый центр.
        </p>
    </div>
    <button onclick="Ex23()">Показать ответ</button>
    <div id="ex23_ans"></div>

    <h3>2.4. Вы сотрудник посольства. Расскажите туристу, который хочет
        поехать в Россию, что ему нужно сделать, чтобы получить визу.
        Используйте схему, слова «надо», «нужно» и «необходимо», а также
        конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
    </h3>
    <button onclick="Ex24_eng()">Show in English</button>
    <div class="translation" id="ex24_eng"></div><br>
    <button onclick="Ex24_norw()">Show in Norwegian</button>
    <div class="translation" id="ex24_norw"></div><br>

    <div class="second_indent">
        <img src="../../images/2/4.jpg" alt="scheme" style="height: 500px;">
    </div>

    <h3>2.5. Соедините части предложений, подобрав логичное продолжение. Используйте
        конструкцию <span class="construction">С одной стороны, XP/Cl. С другой (стороны), XP/Cl.</span> Слово
        «стороны» во второй части конструкции часто опускается, поэтому в
        формуле конструкции оно указано в скобках (). На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause,
        sentence)</h3>
    <button onclick="Ex25_eng()">Show in English</button>
    <div class="translation" id="ex25_eng"></div><br>
    <button onclick="Ex25_norw()">Show in Norwegian</button>
    <div class="translation" id="ex25_norw"></div>

    <div class="second_indent">
        <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. В Москве зимой очень красиво<br><br>
                    2. Путешествовать интересно<br><br>
                    3. Есть много сладкого вредно<br><br>
                    4. Учить русский язык сложно<br><br>
                    5. Смотреть сериалы весело
                </td>
                <td>а. сладкое — это очень вкусно<br><br>
                    б. это прокрастинация<br><br>
                    в. там холодно<br><br>
                    г. очень интересно<br><br>
                    д. для путешествий нужно много времени и денег
                </td>
            </tr>
        </table>
        <br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex25_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex25()">Проверить</button><br>
        <div id="ex25_result" style="display: inline;"></div><br>
        <button onclick="Ex25()">Показать ответ</button>
        <div id="ex25_ans"></div>
    </div>

    <h3>2.6. Антон отдыхал в Греции и после поездки решил написать отзыв на сайте
        отеля. Что-то ему понравилось, а что-то не понравилось. Антон сделал
        заметки. Помогите ему написать отзыв, соединив предложения.
        Используйте конструкцию <span class="construction">С одной стороны, XP/Cl. С другой (стороны),
                XP/Cl</span>. На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause,
        sentence)
    </h3>
    <button onclick="Ex26_eng()">Show in English</button>
    <div class="translation" id="ex26_eng"></div><br>
    <button onclick="Ex26_norw()">Show in Norwegian</button>
    <div class="translation" id="ex26_norw"></div>

    <ol>
        <li>В отеле была хорошая еда / плохо убирали в номере<br><input class="input_normal" type="text" id="ex26a_input"></li>
        <div id="ex26a_result" style="display: inline;"></div><br>
        <li>У отеля отдельный пляж / там всегда было много людей<br><input class="input_normal" type="text" id="ex26b_input"></li>
        <div id="ex26b_result" style="display: inline;"></div><br>
        <li>Вечером были весёлые вечеринки / музыка всю ночь мешала спать.<br><input class="input_normal" type="text" id="ex26c_input"></li>
        <div id="ex26c_result" style="display: inline;"></div><br>
        <li>находиться в отеле было приятно / иногда некомфортно<br><input class="input_normal" type="text" id="ex26d_input"></li>
        <div id="ex26d_result" style="display: inline;"></div><br>
    </ol>
    <button onclick="check_Ex26()">Проверить</button><br><br>
    <button onclick="Ex26()">Показать ответ</button>
    <div id="ex26_ans"></div>

    <h3>
        6.3. Соедините предложения, подобрав логичное продолжение. Используйте конструкцию <span class="construction">впрочем, Cl.</span> На месте Cl находится целое предложение (Cl=clause, sentence). Обратите внимание на значение конструкции, представленное на схеме ниже.
    </h3>
    <button onclick="Ex63_eng()">Show in English</button><br>
    <div class="translation" id="ex63_eng"></div><br>
    <button onclick="Ex63_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex63_norw"></div><br>
    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>
                    <img src="../../images/6/3_1.png" alt="3_1" style="width: 300px;">
                </td>
                <td><span class="construction">впрочем, Cl</span><br><br>
                    Говорящий предложил один вариант ответа, потом немного подумал и предложил другой вариант ответа, который противоречит первому.<br><br>
                    The speaker offered an answer, then thought for a while and offered a different answer that contradicts the first one.<br><br>
                    Taleren svarer, tenker seg om en liten stund og kommer med et nytt svar som helt eller delvis motsier det første svaret.<br><br>
                </td>
            </tr>
        </table><br>
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>
                    1. — Как мне доехать до стадиона?
                    <p style="margin-left: 18px">— Вам нужен трамвай номер 25.</p>
                </td>
                <td>
                    а. Впрочем, налево и прямо тоже можно.
                </td>
            </tr>
            <tr>
                <td>
                    2. — Сколько стоит проезд на метро?
                    <p style="margin-left: 18px">— Одна поездка стоит 56 рублей.</p>
                </td>
                <td>
                    б. Впрочем, вам быстрее дойти пешком через парк.
                </td>
            </tr>
            <tr>
                <td>
                    3. — Как дойти до Большого театра?
                    <p style="margin-left: 18px">— Вам сейчас нужно повернуть направо и на перекрестке снова направо.</p>
                </td>
                <td>
                    в. Впрочем, на троллейбусе можно доехать всего за двадцать минут.
                </td>
            </tr>
            <tr>
                <td>
                    4. — Ура, прилетели! Поедем домой на автобусе?
                    <p style="margin-left: 18px">— Да, можно.</p>
                </td>
                <td>
                    г. Впрочем, сейчас пробки. Нам будет быстрее доехать в аэропорт на аэроэкспрессе.
                </td>
            </tr>
            <tr>
                <td>
                    5. — Нам надо быть в аэропорту через час. Я вызову такси?
                    <p style="margin-left: 18px">— Да, вызывай!</p>
                </td>
                <td>
                    д. Впрочем, неважно! У вас же есть проездной!
                </td>
            </tr>
            <tr>
                <td>
                    6. — Вы далеко живёте от работы?
                    <p style="margin-left: 18px">— Далеко! Пешком идти больше часа.</p>
                </td>
                <td>
                    е. Впрочем, у нас много багажа. Поехали лучше на такси!
                </td>
            </tr>
        </table><br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex63_input" placeholder="1а, 2б, 3в, 4г, 5д, 6е">
        <button onclick="check_Ex63()">Проверить</button><br>
        <div id="ex63_result" style="display: inline;"></div><br>
        <button onclick="Ex63()">Показать ответ</button>
        <div id="ex63_ans"></div>
    </div>
    <h3>
        6.4. Перед вами фрагмент схемы московского метро. Один из вас — турист, а другой — москвич. Турист хочет узнать, как ему доехать на метро от одной станции до другой. Москвич объясняет и называет два способа, как доехать до нужной станции. Используйте модель диалога, предложенную ниже, и конструкцию <span class="construction">впрочем, Cl.</span> На месте Cl находится целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex64_eng()">Show in English</button><br>
    <div class="translation" id="ex64_eng"></div><br>
    <button onclick="Ex64_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex64_norw"></div><br>
    <button onclick="Ex64_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex64_comment"></div><br>
    <div class="second_indent">
        <p>Откройте схему московского метро по ссылке <a href="https://yandex.ru/metro/moscow?scheme_id=sc3497401">1</a> или <a href="https://mosmetro.ru/metro-map/?utm_referrer=https%3a%2f%2fwww.google.com%2f">2</a>.</p>
        <img src="../../images/6/4_1.png" alt="4_1" style="width: 700px;">
        <p>*5 — Кольцевая ветка (название дано не по цвету).</p>
        <p><b>Модель</b></p>
        <table class="table_lesson" style="width: 700px">
            <tr><td>
                <b>Турист/туристка:</b><br>
                — Скажите, пожалуйста, как мне доехать от (Gen)__________ до (Gen) __________?<br><br>
                <b>Москвич/москвичка:</b><br>
                — Вам нужно доехать до (Gen)____________, а потом пересесть на (Acc) ____________ ветку. <span class="construction">Впрочем,</span> вы можете доехать до (Gen)____________, а потом пересесть на (Acc) ____________ ветку (а потом доехать до (Gen)____________и пересесть на (Acc) ____________ ветку)
            </td></tr>
        </table>
        <p><b>Образец</b><p>
        <table class="table_lesson" style="width: 700px">
            <tr>
                <td>
                    <b>Откуда</b>
                </td>
                <td>
                    <b>Куда</b>
                </td>
            </tr>
            <tr>
                <td>
                    Минская
                </td>
                <td>
                    Киевская
                </td>
            </tr>
        </table>
        <p>
            — Скажите, пожалуйста, как мне доехать от Минской до Киевской?<br>
            — Вам нужно доехать до Делового центра, а потом пересесть на голубую ветку. <span class="construction">Впрочем,</span> вы можете доехать до Парка победы, а потом пересесть на синюю ветку.
        </p><br>
        <table class="table_lesson" style="width: 700px">
            <tr>
                <td></td>
                <td>
                    <b>Откуда</b>
                </td>
                <td>
                    <b>Куда</b>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Китай-город (Gen Китай-города)
                </td>
                <td>
                    Павелéцкая
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Тексти́льщики (Gen Текстильщиков)
                </td>
                <td>
                    Чкáловская
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Тру́бная
                </td>
                <td>
                    Площадь революции (Gen Площади революции)
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Новослобóдская
                </td>
                <td>
                    Пу́шкинская
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Третьякóвская
                </td>
                <td>
                    Серпуховскáя
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Театрáльная
                </td>
                <td>
                    Баррикáдная
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    Маякóвская
                </td>
                <td>
                    Китай-город (Gen Китай-города)
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    Кропóткинская
                </td>
                <td>
                    Проспект мира (Gen Проспекта мира)
                </td>
            </tr>
        </table>
    </div>

</div>

    <br><br>
</body>

</html>