<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 5
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 5 </h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>2273</td>
            <td>в-NumOrd-ых, XP/Cl</td>
            <td><span class="construction">Во-первых</span>, я бы хотел поблагодарить своего тренера.</td>
        </tr>
        <tr>
            <td>2353</td>
            <td>С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
            <td><span class="construction">С одной стороны</span>, мои знания были глубокими, <span class="construction">с другой стороны</span>, односторонними.</td>
        </tr>
        <tr>
            <td>899</td>
            <td>впрочем, Cl</td>
            <td>Фильм получил высокие оценки. <span class="construction">Впрочем</span>, он получился затянутым.</td>
        </tr>
    </table>
    <p>NumOrd = ordinal numeral (порядковое числительное типа первый, второй)<br>
        XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>

</div>

    <br><br>
</body>

</html>