<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/one.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 1
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 1. Пояснить / Clarify your point</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1087</td>
            <td>иными/другими словами, XP/Cl</td>
            <td>Наш корреспондент выехал в аэропорт, чтобы взять интервью.<br><span class="construction">Другими словами,</span> задать несколько вопросов.</td>
        </tr>
        <tr>
            <td>1831</td>
            <td>XP/Cl, то есть XP/Cl</td>
            <td>У меня было кредитов, <span class="construction">то есть</span> долга, на два миллиона.</td>
        </tr>
        <tr>
            <td>1833</td>
            <td>XP, а именно XP</td>
            <td>Он мне подарил книгу, <span class="construction">а именно</span> энциклопедию о динозаврах.</td>
        </tr>
        <tr>
            <td>839</td>
            <td>в частности, XP/Cl</td>
            <td>Они занимались ремонтом техники, <span class="construction">в частности</span>
                холодильников.</td>
        </tr>
        <tr>
            <td>2001</td>
            <td>с точки зрения NP-Gen, Cl</td>
            <td><span class="construction">С точки зрения</span>
                экологии, это катастрофа.</td>
        </tr>
        <tr>
            <td>1174</td>
            <td>NP типа NP-Gen</td>
            <td>дом <span class="construction">типа</span> хижины</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>
        

    </div>

    <br><br>
</body>

</html>