<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/func1.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 1
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 1. Пояснить / Clarify your point</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1087</td>
            <td>иными/другими словами, XP/Cl</td>
            <td>Наш корреспондент выехал в аэропорт, чтобы взять интервью.<br><span class="construction">Другими словами,</span> задать несколько вопросов.</td>
        </tr>
        <tr>
            <td>1831</td>
            <td>XP/Cl, то есть XP/Cl</td>
            <td>У меня было кредитов, <span class="construction">то есть</span> долга, на два миллиона.</td>
        </tr>
        <tr>
            <td>1833</td>
            <td>XP, а именно XP</td>
            <td>Он мне подарил книгу, <span class="construction">а именно</span> энциклопедию о динозаврах.</td>
        </tr>
        <tr>
            <td>839</td>
            <td>в частности, XP/Cl</td>
            <td>Они занимались ремонтом техники, <span class="construction">в частности</span>
                холодильников.</td>
        </tr>
        <tr>
            <td>2001</td>
            <td>с точки зрения NP-Gen, Cl</td>
            <td><span class="construction">С точки зрения</span>
                экологии, это катастрофа.</td>
        </tr>
        <tr>
            <td>1174</td>
            <td>NP типа NP-Gen</td>
            <td>дом <span class="construction">типа</span> хижины</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>
        

    
        <table>
            <tr>
                <td><b>Функция: пояснить</b><br>
                    English: to clarify your point<br>
                    Norwegian: å tydeliggjøre et utsagn
                </td>
            </tr>
            <tr>
                <td>
                    <span class="construction">иными/другими словами, XP/Cl</span><br>
                    English: ‘in other words, ...’<br>
                    Norwegian: ‘med andre ord, ... ’<br><br>
                    ≈<br>
                    <br>
                    <span class="construction">XP/Cl, то есть XP/Cl</span><br>
                    English: ‘..., that is ...’<br>
                    Norwegian: ‘... det vil si ...’
                </td>
                
            </tr>
            <tr>
                <td>
                    ≠<br>
                    <span class="construction">XP, а именно XP</span><br>
                    Конструкция уточняет более общее понятие (например, коронавирус) через более частное (например, омикрон).<br><br>
    
                    English: ‘..., specifically, ...’ or ‘..., to be exact, ...’<br>
                    Explaining a more general concept (e.g., coronavirus) by using more specific ones (e.g., Omicron).<br><br>
    
                    Norwegian: ‘..., eller mer spesifikt, ...’<br>
                    Klargjøring; X er mer generelt begrep, Y er mer spesifikt begrep: f.eks. <i>koronavirus er et bredere begrep enn omikron-varianten</i>.
                </td>
    
            </tr>
        </table>

        <h3>
            4.2. Закончите предложения (1-3), подобрав подходящий вариант (а-в).
            Используйте конструкции <span class="construction">иными/другими словами, XP/Cl</span> и <span class="construction">XP/Cl, то есть XP/Cl</span>.
            Эти конструкции выполняют одну и ту же функцию и в этих предложениях являются взаимозаменяемыми.
            На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause, sentence).
        </h3>
        <button onclick="Ex4_2_eng()">Show in English</button>
        <div class="translation" id="ex4_2_eng"></div><br>
        <button onclick="Ex4_2_norw()">Show in Norwegian</button>
        <div class="translation" id="ex4_2_norw"></div>
        <table>
            <tr>
                <td>1. У бабушки болят глаза. Ей нужен врач, который лечит болезни глаз,</td>
                <td rowspan="3">
                    <span class="construction">другими словами,</span><br>
                    <span class="construction">то есть</span>
                </td>
                <td>а. стоматолог</td>
            </tr>
            <tr>
                <td>2. Маша каталась на сноуборде и сломала ногу. Ей нужен врач, который лечит переломы,</td>
                <td>б. окулист</td>
            </tr>
            <tr>
                <td>3. У Степана болит зуб. Ему нужен врач, который лечит зубы,</td>
                <td>в. хирург</td>
            </tr>
        </table>
        <p>перелом — Engish: fracture; Norwegian: brudd, beinbrudd, fraktur</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_2_input">
        <button onclick="check_Ex4_2()">Проверить</button><br>
        <div id="ex4_2_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_2()">Показать ответ</button>
        <div id="ex4_2_ans"></div>


        <h3>4.3. Закончите предложения (1-3), подобрав подходящий вариант (а-в). Используйте конструкцию <span class="construction">XP, а именно XP</span>. На месте XP находится слово или фраза (XP=phrase).</h3>
    <button onclick="Ex4_3_eng()">Show in English</button>
    <div class="translation" id="ex4_3_eng"></div><br>
    <button onclick="Ex4_3_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_3_norw"></div>
    <table>
        <tr>
            <td>1. У Михаила часто болит голова. Ему нужен врач,</td>
            <td rowspan="3"><span class="construction">а именно</span></td>
            <td>а. психотерапевт</td>
        </tr>
        <tr>
            <td>2. У тëти глубокая депрессия. Ей нужен специалист,</td>
            <td>б. невропатолог </td>
        </tr>
        <tr>
            <td>3. У дедушки сломался зуб. Ему нужен стоматолог,</td>
            <td>в. стоматолог-ортопед</td>
        </tr>
    </table>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex4_3_input">
    <button onclick="check_Ex4_3()">Проверить</button><br>
    <div id="ex4_3_result" style="display: inline-block;"></div><br>
    <button onclick="Ex4_3()">Показать ответ</button>
    <div id="ex4_3_ans"></div>


    <h3>
        4.4. Заполните пропуски словами из списка. Объясните, почему другие варианты не подходят. Правильных ответов может быть больше одного.<br><br>
        а. <span class="construction">другими словами</span><br>
        б. <span class="construction">то есть</span><br>
        в. <span class="construction">а именно</span>
    </h3>
    <button onclick="Ex4_4_eng()">Show in English</button>
    <div class="translation" id="ex4_4_eng"></div><br>
    <button onclick="Ex4_4_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_4_norw"></div>

    <div class="second_indent">
        <p>1. Когда вы пойдëте в больницу, возьмите с собой нужные документы, ____________ паспорт и медицинский полис.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_4a_input">
        <button onclick="check_Ex4_4a()">Проверить</button><br>
        <div id="ex4_4a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_4a()">Показать ответ</button>
        <div id="ex4_4a_ans"></div>
        <p>2. Я реагирую на кошек и собак, ____________ у меня на них аллергия.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_4b_input">
        <button onclick="check_Ex4_4b()">Проверить</button><br>
        <div id="ex4_4b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_4b()">Показать ответ</button>
        <div id="ex4_4b_ans"></div>
        <p>3. Томас постоянно играет в компьютерные игры, ____________ у него игромания, ____________ игровая зависимость* (spilleavhengighet).</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_4c_input">
        <button onclick="check_Ex4_4c()">Проверить</button><br>
        <div id="ex4_4c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_4c()">Показать ответ</button>
        <div id="ex4_4c_ans"></div>
        <p>4. При коронавирусе бывают разные симптомы, ____________ насморк, температура, кашель, диарея.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_4d_input">
        <button onclick="check_Ex4_4d()">Проверить</button><br>
        <div id="ex4_4d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_4d()">Показать ответ</button>
        <div id="ex4_4d_ans"></div>
    </div>

    <h3>4.13. Бонусное упражнение*<br>Закончите предложения (1-6), подобрав подходящий вариант (а-е). Используйте конструкцию <span class="construction">XP, а именно XP</span>.</h3>
    <button onclick="Ex4_13_eng()">Show in English</button>
    <div class="translation" id="ex4_13_eng"></div><br>
    <button onclick="Ex4_13_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_13_norw"></div>

    <table>
        <tr>
            <td>1. На ваше здоровье влияет много факторов,</td>
            <td>а. <span class="construction">а именно</span> печенье, конфеты, шоколадки, газировку — эти продукты содержат много добавленного сахара!</td>
        </tr>
        <tr>
            <td>2. Нутрициологи советуют измерять еду не калориями, а порциями,</td>
            <td>б. <span class="construction">а именно</span> объёмом еды размером с ваш кулак. </td>
        </tr>
        <tr>
            <td>3. В день взрослому человеку рекомендуется 1–2 порции молочных продуктов,</td>
            <td>в. <span class="construction">а именно</span> ходьба, бег, плавание, желательна 3 раза в неделю.</td>
        </tr>
        <tr>
            <td>4. Старайтесь не покупать домой много сладостей,</td>
            <td>г. <span class="construction">а именно</span> 250 миллилитров молока или 300 миллилитров кефира, 150 граммов творога или 30 граммов сыра.</td>
        </tr>
        <tr>
            <td>5. Внимательно читайте список ингредиентов. Во многих продуктах,</td>
            <td>д. <span class="construction">а именно</span> еда, сон, физические упражнения и стресс. </td>
        </tr>
        <tr>
            <td>6. Аэробная нагрузка,</td>
            <td>е. <span class="construction">а именно</span> в йогуртах, соусах и соках не должно быть сахара в составе. </td>
        </tr>
    </table>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex4_13_input">
    <button onclick="check_Ex4_13()">Проверить</button><br>
    <div id="ex4_13_result" style="display: inline-block;"></div><br>
    <button onclick="Ex4_13()">Показать ответ</button>
    <div id="ex4_13_ans"></div>

    <h3>
        4.15. Бонусное упражнение*.<br>
        Вы администратор в поликлинике. Объясните пациенту по телефону, как подготовиться к приему у врача. Используйте памятку внизу и конструкции <span class="construction">XP, а именно XP</span> и <span class="construction">XP/Cl, то есть XP/Cl</span>.
    </h3>
    <button onclick="Ex4_15_eng()">Show in English</button>
    <div class="translation" id="ex4_15_eng"></div><br>
    <button onclick="Ex4_15_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_15_norw"></div>

    <p><b>Памятка</b></p>
    <p>Приготовьте документы</p>
    <ul>
        <li>Паспорт</li>
        <li>Медицинский полис </li>
    </ul>
    <p>Опишите свои жалобы</p>
    <ul>
        <li>Какие симптомы?</li>
        <li>Когда они начались? </li>
        <li>Было ли такое раньше?</li>
    </ul>
    <p>Расскажите о ваших хронических заболеваниях</p>
    <ul>
        <li>Есть ли у вас хронические заболевания? </li>
        <li>Принимаете ли вы постоянно какие-то лекарства?</li>
    </ul>
    <p>Предупредите врача об особых состояниях</p>
    <ul>
        <li>Аллергия</li>
        <li>Беременность</li>
        <li>Операции в прошлом</li>
    </ul>
    <p>Задайте вопросы по итогам разговора</p>
    <ul>
        <li>Какой диагноз поставил вам врач?</li>
        <li>Почему он выбрал такую тактику лечения? </li>
        <li>Какие лекарства он вам назначил?</li>
    </ul>


    <h3>11.8. Соедините предложения или части предложений, подобрав логичное
        продолжение. Конструкция <span class="construction">в частности, XP/Cl</span> может присоединять целое предложение
        (Cl) или только часть предложения, фразу (XP).
    </h3>
    <button onclick="Ex11_8_eng()">Show in English</button>
    <div class="translation" id="ex11_8_eng"></div><br>
    <button onclick="Ex11_8_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_8_norw"></div>
    <div class="second_indent">
    <table class="table_lesson" style="width: 1200px">
        <tr>
            <td>1. Представители многих профессий должны
                носить форму,</td>
            <td>а. В частности, стюардессам запрещено
                иметь татуировки и делать яркий
                маникюр.</td>
        </tr>
        <tr>
            <td>2. Ограничения на внешний вид могут
                касаться не только одежды, но и тела
                человека.</td>
            <td>б. В частности, лучше избегать ()
                массивных кроссовок или ярких
                шнурков.</td>
        </tr>
        <tr>
            <td>3. Деловой стиль одежды часто требуется на
                официальных мероприятиях,</td>
            <td>в. в частности, пилоты и машинисты
                поездов.</td>
        </tr>
        <tr>
            <td>4. Современный деловой образ допускает
                спортивную обувь, но действовать нужно
                аккуратно.</td>
            <td>г. в частности, на престижных
                конференциях или серьёзных деловых
                встречах.</td>
        </tr>
        <tr>
            <td>5. Шик может быть выражен аксессуарами,</td>
            <td>д. в частности, дорогим галстуком,
                часами или очками.</td>
        </tr>
    </table><br>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex11_8_input" placeholder="1а, 2б, 3в, 4г, 5д">
    <button onclick="check_Ex11_8()">Проверить</button><br>
    <div id="ex11_8_result" style="display: inline;"></div><br>
    <button onclick="Ex11_8()">Показать ответ</button>
    <div id="ex11_8_ans"></div>

    </div>

    <h3>11.9. Продолжите предложения, используя конструкцию <span class="construction">в частности, XP/Cl</span>. В этой
        конструкции слот XP/Cl заполняется фразой (XP=phrase) или целым предложением
        (Cl=clause, sentence).
    </p>
    </h3>
    <button onclick="Ex11_9_eng()">Show in English</button>
    <div class="translation" id="ex11_9_eng"></div><br>
    <button onclick="Ex11_9_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_9_norw"></div>
    <p><b>Образец</b>:<br>
        Красивая одежда не обязательно дорогая.<br>
        —&gt; Красивая одежда не обязательно дорогая. <span class='construction'>В частности</span>, можно покупать вещи с рук
        (например, на finn.no).</p>

    <div class="second_indent">
        <ol>
            <li>Стиль и мода — это разные вещи. <span class='construction'>В частности</span>, ________________________</li>
            <li>Для хорошего гардероба не нужно много вещей. <span class='construction'>В частности</span>, _____________________</li>
            <li>Современная мода очень либеральна. <span class='construction'>В частности</span>, _____________________</li>
            <li>Внешний вид может помочь в работе. <span class='construction'>В частности</span>, _____________________</li>
        </ol>
        <button onclick="Ex11_9()">Показать ответ</button>
        <div id="ex11_9_ans"></div>
    </div>

    <h3>6.2. Сравните транспортные средства по разным параметрам. Составьте предложения, используя предложенную модель и конструкцию <span class="construction">с точки зрения NP-Gen, Cl.</span><br>
        В этой конструкции NP — это существительное в генитиве (NP=noun phrase, Gen=Genitive case), а Cl — это целое предложение (Cl=clause, sentence). Обратите внимание на значение конструкции, представленное на схеме ниже.
    </h3>
    <button onclick="Ex6_2_eng()">Show in English</button><br>
    <div class="translation" id="ex6_2_eng"></div><br>
    <button onclick="Ex6_2_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex6_2_norw"></div><br>
    <button onclick="Ex6_2_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex6_2_comment"></div><br>
    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>
                    <img src="../../images/6/2_1.png" alt="2_1" style="width: 200px;">
                </td>
                <td><span class="construction">с точки зрения NP-Gen, Cl</span><br><br>
                    Есть разные параметры, по которым можно охарактеризовать объект. Конструкция указывает на один из них.<br><br>
                    There exist various parameters that can be used to characterize an object. This construction points to one of these parameters.<br><br>
                    Det eksisterer flere parametere for å beskrive et objekt. Denne konstruksjonen peker mot en av disse parameterne.<br><br>
                </td>
            </tr>
        </table><br>
        <p><b>Модель</b><br>
            <span class="construction">С точки зрения</span> ________ , ________ лучше/хуже ________
        </p>
        <p><b>Образец</b><br>
            <span class="construction">С точки зрения</span> комфорта, яхта лучше поезда.
        </p>
        <table class="table_lesson" style="width: 700px">
            <tr>
                <td style="width: 170px">
                    С точки зрения + Gen
                </td>
                <td>
                    цена<br>
                    комфорт<br>
                    скорость<br>
                    безопасность<br>
                    экология<br>
                    надёжность<br>
                    доступность<br>
                    маневренность
                </td>
                <td>
                    автобус<br>
                    автомобиль<br>
                    катер<br>
                    самолёт<br>
                    поезд<br>
                    круизный лайнер<br>
                    вертолёт<br>
                    яхта<br>
                </td>
                <td style="width: 150px">
                лучше/хуже + Gen
                </td>
                <td>
                    автобус<br>
                    автомобиль<br>
                    катер<br>
                    самолёт<br>
                    поезд<br>
                    круизный лайнер<br>
                    вертолёт<br>
                    яхта<br>
                </td>
            </tr>
        </table><br>
    </div>

    <h3>8.3. Некоторые популярные в России блюда имеют аналоги в других странах. Вы сходили в кафе в Москве.
        Расскажите другу о том, какое блюдо вы попробовали, используя конструкцию <span class="construction">NP типа NP-Gen</span>.
        В этой конструкции NP — это существительное (NP=noun phrase), а NP-Gen — это существительное в генитиве (Gen=Genitive case).
    </h3>
    <button onclick="Ex8_3_eng()">Show in English</button><br>
    <div class="translation" id="ex8_3_eng"></div><br>
    <button onclick="Ex8_3_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex8_3_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:
        <br>
            Сначала я заказала оладьи. Это что-то <span class="construction">типа</span> панкейков. Затем я попробовала...<br></p>
        <table class="table_lesson">
            <tr>
                <td><img src="../../images/8/3_1.JPG" alt="3_1" style="width: 400px;"><br>Оладьи</td>
                <td><img src="../../images/8/3_2.JPG" alt="3_2" style="width: 400px;"><br>Панкейки (в английском <i>pancakes</i>)</td>
            </tr>
        </table>
        <br>
        <p><b>1.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_3.JPG" alt="3_3" style="width: 400px;"><br>Кексы</td>
            <td><img src="../../images/8/3_4.JPG" alt="3_4" style="width: 400px;"><br>Маффины (в английском <i>muffins</i>)</td>
        </table><br>
        <button onclick="Ex8_3a()">Показать ответ</button>
        <div id="ex8_3a_ans"></div>
        <p><b>2.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_5.JPG" alt="3_5" style="width: 400px;"><br>Яичница болтунья</td>
            <td><img src="../../images/8/3_6.JPG" alt="3_6" style="width: 400px;"><br>Яичный скрэмбл (в английском <i>scrambled eggs</i>)</td>
        </table><br>
        <button onclick="Ex8_3b()">Показать ответ</button>
        <div id="ex8_3b_ans"></div>
        <p><b>3.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_7.JPG" alt="3_7" style="width: 400px;"><br>Бефстроганов</td>
            <td><img src="../../images/8/3_8.JPG" alt="3_8" style="width: 400px;"><br>Гуляш (в венгерском <i>gulyás</i>)</td>
        </table><br>
        <button onclick="Ex8_3c()">Показать ответ</button>
        <div id="ex8_3c_ans"></div>
        <p><b>4.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_9.JPG" alt="3_9" style="width: 400px;"><br>Творожная запеканка</td>
            <td><img src="../../images/8/3_10.JPG" alt="3_10" style="width: 400px;"><br>Чизкейк (в английском <i>сheesecake</i>)</td>
        </table><br>
        <button onclick="Ex8_3d()">Показать ответ</button>
        <div id="ex8_3d_ans"></div>
    </div>


    </div>

    <br><br>
</body>

</html>