<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 7
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 7</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>11</td>
            <td>(как) по мне, (так) Cl</td>
            <td><span class="construction">Как по мне</span>, это ещё не беда.</td>
        </tr>
        <tr>
            <td>188</td>
            <td>на PronPoss-Loc месте/на месте NP-Gen Cl бы</td>
            <td><span class="construction">На</span> его <span class="construction">месте</span> я <span class="construction">бы</span> поступила в другой университет.</td>
        </tr>
        <tr>
            <td>739</td>
            <td>будь моя воля, Cl бы</td>
            <td><span class="construction">Будь моя воля</span>, я <span class="construction">бы</span> одни конфеты ел.</td>
        </tr>
        <tr>
            <td>1137</td>
            <td>на PronPoss-Acc взгляд, Cl</td>
            <td><span class="construction">На мой взгляд</span>, у него сложный характер.</td>
        </tr>
        <tr>
            <td>2005</td>
            <td>насколько PronPers-1 понимать, Cl</td>
            <td>Ты ещё не готов, <span class="construction">насколько я понимаю</span>.</td>
        </tr>
        <tr>
            <td>2222</td>
            <td>честно говоря, Cl</td>
            <td><span class="construction">Честно говоря</span>, я с вами не согласен.</td>
        </tr>
        <tr>
            <td>2003</td>
            <td>по-моему, Cl</td>
            <td><span class="construction">По-моему</span>, мы проехали нашу остановку.</td>
        </tr>
        <tr>
            <td>2303</td>
            <td>Сам подумать-Imp, Cl</td>
            <td><span class="construction">Сам подумай</span>, зачем взрослому человеку это нужно?</td>
        </tr>
    </table>
    <p>Cl = clause, sentence (предложение)<br>
        PronPoss = possessive pronoun (притяжательное местоимение)<br>
        Loc = Locative case (локатив)<br>
        NP = noun phrase (существительное)<br>
        Gen = Genitive case (генитив)<br>
        Acc = Accusative case (аккузатив)<br>
        PronPers = personal pronoun (личное местоимение)<br>
        1 = 1st person (1 лицо)<br>
        Imp = imperative (форма императива)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>

</div>

    <br><br>
</body>

</html>