<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 6
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 6. Подвести итог / Draw a conclusion</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1839</td>
            <td>таким образом, Cl</td>
            <td><span class="construction">Таким образом</span>, наша команда за год добилась важных результатов.</td>
        </tr>
        <tr>
            <td>1100</td>
            <td>как бы то ни было, Cl</td>
            <td>На новой клавиатуре клавиши расположены странно.<br> <span class="construction">Как бы то ни было</span>, к этому быстро привыкаешь.</td>
        </tr>
        <tr>
            <td>836</td>
            <td>в целом Cl</td>
            <td><span class="construction">В целом</span> кино достойно просмотра.</td>
        </tr>
        <tr>
            <td>308</td>
            <td>словом, Cl</td>
            <td><span class="construction">Словом</span>, я хочу её видеть.</td>
        </tr>
        <tr>
            <td>1870</td>
            <td>(да) и вообще, Cl</td>
            <td><span class="construction">Да и вообще</span>, я слишком занят.</td>
        </tr>
        <tr>
            <td>107</td>
            <td>дело Cop не в NP-Loc (, а в NP-Loc)</td>
            <td><span class="construction">Дело не в</span> опозданиях.</td>
        </tr>
        <tr>
            <td>2311</td>
            <td>Cl, и на том спасибо</td>
            <td>Не обижают, <span class="construction">и на том спасибо</span>.</td>
        </tr>
        <tr>
            <td>64</td>
            <td>вот и Pred!</td>
            <td><span class="construction">Вот и</span> чудесно!</td>
        </tr>
        <tr>
            <td>759</td>
            <td>в заключение Cl</td>
            <td><span class="construction">В заключение</span> я хочу поблагодарить всех сотрудников нашей фирмы.</td>
        </tr>
        <tr>
            <td>1957</td>
            <td>Итак, Cl</td>
            <td><span class="construction">Итак</span>, мы вкратце рассказали об особенностях двух культур.</td>
        </tr>
    </table>
    <p>Cl = clause, sentence (предложение)<br>
        Cop = copula verb быть (связочный глагол быть)<br>
        NP = noun phrase (существительное)<br>
        Loc = Locative case (локатив)<br>
        Pred = predicative (предикатив, то есть прилагательное в краткой форме)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>

</div>

    <br><br>
</body>

</html>