<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../scripts/func6.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 6
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 6. Подвести итог / Draw a conclusion</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1839</td>
            <td>таким образом, Cl</td>
            <td><span class="construction">Таким образом</span>, наша команда за год добилась важных результатов.</td>
        </tr>
        <tr>
            <td>1100</td>
            <td>как бы то ни было, Cl</td>
            <td>На новой клавиатуре клавиши расположены странно.<br> <span class="construction">Как бы то ни было</span>, к этому быстро привыкаешь.</td>
        </tr>
        <tr>
            <td>836</td>
            <td>в целом Cl</td>
            <td><span class="construction">В целом</span> кино достойно просмотра.</td>
        </tr>
        <tr>
            <td>308</td>
            <td>словом, Cl</td>
            <td><span class="construction">Словом</span>, я хочу её видеть.</td>
        </tr>
        <tr>
            <td>1870</td>
            <td>(да) и вообще, Cl</td>
            <td><span class="construction">Да и вообще</span>, я слишком занят.</td>
        </tr>
        <tr>
            <td>107</td>
            <td>дело Cop не в NP-Loc (, а в NP-Loc)</td>
            <td><span class="construction">Дело не в</span> опозданиях.</td>
        </tr>
        <tr>
            <td>2311</td>
            <td>Cl, и на том спасибо</td>
            <td>Не обижают, <span class="construction">и на том спасибо</span>.</td>
        </tr>
        <tr>
            <td>64</td>
            <td>вот и Pred!</td>
            <td><span class="construction">Вот и</span> чудесно!</td>
        </tr>
        <tr>
            <td>759</td>
            <td>в заключение Cl</td>
            <td><span class="construction">В заключение</span> я хочу поблагодарить всех сотрудников нашей фирмы.</td>
        </tr>
        <tr>
            <td>1957</td>
            <td>Итак, Cl</td>
            <td><span class="construction">Итак</span>, мы вкратце рассказали об особенностях двух культур.</td>
        </tr>
    </table>
    <p>Cl = clause, sentence (предложение)<br>
        Cop = copula verb быть (связочный глагол быть)<br>
        NP = noun phrase (существительное)<br>
        Loc = Locative case (локатив)<br>
        Pred = predicative (предикатив, то есть прилагательное в краткой форме)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>2.10. Соедините предложения, подобрав логичное продолжение.
        Используйте конструкцию <span class="construction">таким образом, Cl</span>. На месте Cl находится целое
        предложение (Cl=clause, sentence).</span></h3>
    <button onclick="Ex210_eng()">Show in English</button>
    <div class="translation" id="ex210_eng"></div><br>
    <button onclick="Ex210_norw()">Show in Norwegian</button>
    <div class="translation" id="ex210_norw"></div>

    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. Для поездки за границу нужно сделать
                    загранпаспорт, получить визу, купить билеты и
                    спланировать маршрут.<br><br>
                    2. В Санкт-Петербурге много музеев, парков, дворцов и
                    храмов. За день их все не посмотреть.<br><br>
                    3. Чтобы сделать визу в Норвегию, нужно много
                    времени и денег, а у русских мало и того, и другого.<br><br>
                    4. Я потеряла паспорт, а Соня не смогла улететь домой,
                    потому что её рейс отменили.
                </td>
                <td>а. Туда лучше ехать на
                    несколько дней.<br><br>
                    б. Мы вместе остались на
                    каникулы в общежитии.<br><br>
                    в. Готовиться к путешествию
                    нужно заранее.<br><br>
                    г. В Норвегию русские туристы
                    приезжают нечасто.
                </td>
            </tr>
        </table>
        <br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex210_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex210()">Проверить</button><br>
        <div id="ex210_result" style="display: inline;"></div><br>
        <button onclick="Ex210()">Показать ответ</button>
        <div id="ex210_ans"></div>
    </div>

    <h3>2.8. Составьте короткий рассказ об одном дне из жизни друзей. Оцените, как прошёл их день, используя конструкцию <span class='construction'>в целом Cl</span>.
        На месте Cl находится целое предложение (Cl=clause, sentence).</h3>
    <button onclick="Ex28_eng()">Show in English</button>
    <div class="translation" id="ex28_eng"></div><br>
    <button onclick="Ex28_norw()">Show in Norwegian</button>
    <div class="translation" id="ex28_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:</p>
        <table class="table_lesson" style="width: 400px">
            <tr>
                <td>Кто?</td>
                <td>Что делал?</td>
            </tr>
            <tr>
                <td>Леонид</td>
                <td>выспался<br>
                    сходил на море<br>
                    сходил на футбольный матч</td>
            </tr>
        </table>
        <p>Леонид выспался, сходил на море и на футбольный матч. <span class="construction">В целом</span> день прошёл хорошо.</p>

        <div>а
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Евгения</td>
                    <td>отдохнула<br>
                        сходила в спа<br>
                        посмотрела фильм</td>
                </tr>
            </table>
        </div><br>

        <div>б
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Наташа и Андрей</td>
                    <td>потеряли ключи от квартиры<br>
                        опоздали на поезд<br>
                        замёрзли на прогулке</td>
                </tr>
            </table>
        </div><br>

        <div>в
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Дима</td>
                    <td>приготовил вкусный ужин<br>
                        посмотрел новый фильм<br>
                        купил новый диван</td>
                </tr>
            </table>
        </div><br>
        <button onclick="Ex28()">Показать ответ</button>
        <div id="ex28_ans"></div>
    </div>

    <h3>2.9. Выберите подходящую конструкцию. Объясните свой выбор. В каждом
        случае одна конструкция вводит вывод, а другая добавляет информацию.
        </p>
    </h3>
    <button onclick="Ex29_eng()">Show in English</button>
    <div class="translation" id="ex29_eng"></div><br>
    <button onclick="Ex29_norw()">Show in Norwegian</button>
    <div class="translation" id="ex29_norw"></div>

    <div class="second_indent">
        <ol>
            <li>На границе офицер попросил меня показать паспорт и сертификат о вакцинации. <span class="construction">Кроме
                    того, / В целом</span> он спросил о цели визита.</li>
            <div id="ex9a_result" style="display: inline;"></div><br>
            <li>У фильма интересный сюжет, актёры тоже хорошо играли. <span class="construction">Кроме того, / В целом</span> я
                рекомендую вам посмотреть этот фильм.</li>
            <div id="ex9b_result" style="display: inline;"></div><br>
            <li>Оформление паспорта занимает не более трёх месяцев, визы — не более пяти дней. <span class="construction">К тому же, / В
                    целом</span> до отпуска мы успеем.</li>
            <div id="ex9c_result" style="display: inline;"></div><br>
            <li>Перед путешествием надо купить билеты, страховку, забронировать отель и получить
                визы. <span class="construction">К тому же, / В целом</span> теперь надо сделать ПЦР-тест на коронавирус.</li>
            <div id="ex9d_result" style="display: inline;"></div><br>
            <li>Для путешествия мне нужна виза, билеты и жильё. Билеты можно купить заранее, а
                жить — в хостеле или через каучсёрфинг. <span class="construction">Кроме того, / В целом</span> путешествия — это не
                всегда очень дорого.</li>
            <div id="ex9e_result" style="display: inline;"></div><br>

        </ol>
        <button onclick="check_Ex29()">Проверить</button><br><br>
        <button onclick="Ex29()">Показать ответ</button>
        <div id="ex29_ans"></div>
    </div>

    <h3>
        7.7. Подпишите открытки, адресованные разным людям. В каждой открытке напишите поздравление с помощью «конструктора поздравлений». Обратите внимание, что поздравления разным людям отличаются друг от друга. Каждое поздравление заканчивайте, используя конструкцию <span class="construction">словом, Cl.</span><br>
        В этой конструкции Cl — это целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex77_eng()">Show in English</button><br>
    <div class="translation" id="ex77_eng"></div><br>
    <button onclick="Ex77_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex77_norw"></div><br>
    <div class="second_indent">
        <p><b>Кого поздравить:</b><br>
        <ul>
            <li>сестру с Днём рождения (18 лет)</li>
            <li>друга с Новым годом</li>
            <li>начальника с юбилеем (60 лет)</li>
            <li>подругу с рождением ребёнка</li>
            <li>бабушку с 8 марта</li>
            <li>родителей с годовщиной свадьбы</li>
            <li>коллегу с Днём рождения (34 года)</li>
            <li>учителя с Днём учителя</li>
        </ul>
        <p><b>Конструктор поздравлений:</b><br>
        <table class="table_lesson" style="width: 750px">
            <tr>
                <td>(Дорогой/Дорогая) + имя!<br>
                    (Уважаемый/Уважаемая) + имя + отчество!
                </td>
            </tr>
            <tr>
                <td>
                    Поздравляю тебя/Вас/вас с + Ins
                    <ul style="display: grid;grid-auto-flow: column;grid-template-rows: repeat(4, auto);">
                        <li>День рождения</li>
                        <li>юбилей</li>
                        <li>годовщина свадьбы</li>
                        <li>Новый год</li>
                        <li>рождение ребёнка</li>
                        <li>Восьмое марта</li>
                        <li>День учителя</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Желаю тебе/Вам/вам + Gen
                    <ul style="display: grid;grid-auto-flow: column;grid-template-rows: repeat(5, auto);">
                        <li>здоровье</li>
                        <li>счастье</li>
                        <li>успехи (в Loc)</li>
                        <li>хорошее настроение</li>
                        <li>исполнение желаний</li>
                        <li>любовь</li>
                        <li>улыбки</li>
                        <li>доброе</li>
                        <li>радость</li>
                        <li>всё самое хорошее</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Пусть + Fut
                    <ul>
                        <li>мечты сбываться</li>
                        <li>всё (есть) хорошо</li>
                        <li>каждый день (есть) добрым</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="construction">Словом,</span>
                    <ul>
                        <li>будь счастлив!</li>
                        <li>всего самого доброго!</li>
                        <li>всего самого хорошего!</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <h3>4.8. Соедините части предложений с помощью конструкции <span class="construction">(да) и вообще, Cl</span>. В этой конструкции Cl — это целое предложение (Cl=clause, sentence), а скобки () обозначают факультативный элемент.</h3>
    <button onclick="Ex48_eng()">Show in English</button>
    <div class="translation" id="ex48_eng"></div><br>
    <button onclick="Ex48_norw()">Show in Norwegian</button>
    <div class="translation" id="ex48_norw"></div>

    <div class="second_indent">
        <p>
            1.	― Вам плохо? Давайте, я понесу Вашу сумку.<br>
            ― Нет, спасибо! Мне уже лучше, ___________________, я вас совсем не знаю!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex48a_input">
        <button onclick="check_Ex48a()">Проверить</button><br>
        <div id="ex48a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex48a()">Показать ответ</button>
        <div id="ex48a_ans"></div>
        <p>
            2. 	― Тебе больше нельзя так жить и постоянно заедать* стресс шоколадом! ___________________, тебе надо найти другую работу!
        </p>
        <p>заедать стресс* ― English: eat in response to stress; Norwegian: trøstespise</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex48b_input">
        <button onclick="check_Ex48b()">Проверить</button><br>
        <div id="ex48b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex48b()">Показать ответ</button>
        <div id="ex48b_ans"></div>
        <p>
            3. 	― Вы давно были у окулиста? Сколько вам лет?<br>
            ― Я же дама, и это невежливый вопрос. ___________________, я уже не помню...
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex48c_input">
        <button onclick="check_Ex48c()">Проверить</button><br>
        <div id="ex48c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex48c()">Показать ответ</button>
        <div id="ex48c_ans"></div>
        <p>4. 	― Доктор, я плохо себя чувствую. У меня болит рука, нога, нос, голова... ___________________, у меня всё болит.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex48d_input">
        <button onclick="check_Ex48d()">Проверить</button><br>
        <div id="ex48d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex48d()">Показать ответ</button>
        <div id="ex48d_ans"></div>
    </div>

    <h3>4.9. Вы встретили друга. Обсудите, как ваши дела. Используйте варианты ответов, предложенные в таблице, или придумайте свои примеры. Конструкции в таблице, расположенные в таком порядке, образуют «шкалу» проблем.</h3>
    <button onclick="Ex49_eng()">Show in English</button>
    <div class="translation" id="ex49_eng"></div><br>
    <button onclick="Ex49_norw()">Show in Norwegian</button>
    <div class="translation" id="ex49_norw"></div>
    <p><b>Образец</b></p>
    <p>
        ― Как у тебя дела? У меня ...<br>
        ― А у тебя как дела? У меня ...
    </p>
    <table>
        <th colspan="4">Шкала проблем</th>
        <tr>
            <td>У меня	...</td>
            <td>Мало того,	...</td>
            <td>Ко всему прочему, 	...</td>
            <td>И вообще,	...</td>
        </tr>
        <tr>
            <td>
                часто болит голова<br>
                много работы<br>
                скоро экзамен по русскому языку<br>
            </td>
            <td>
                проблемы на работе<br>
                много дел<br>
                я недавно болел гриппом<br>
            </td>
            <td>
                приехал друг<br>
                сломалась машина<br>
                нужно переезжать в другую квартиру<br>
            </td>
            <td>
                всë плохо!<br>
                всë сложно!<br>
                много сюрпризов!<br>
                хорошего мало, но всë будет хорошо!
            </td>
        </tr>
    </table>
    <h3>
        5.6. Заполните пропуски словами из списка:<br>
        а. <span class="construction">В целом</span><br>
        б. <span class="construction">Таким образом</span><br>
        в. <span class="construction">Как бы то ни было</span><br>
        г. <span class="construction">Да и вообще</span>
    </h3>
    <button onclick="Ex56_eng()">Show in English</button>
    <div class="translation" id="ex56_eng"></div><br>
    <button onclick="Ex56_norw()">Show in Norwegian</button>
    <div class="translation" id="ex56_norw"></div>
    <div class="second_indent">
        <p>1.	У Антона хорошая работа, большой дом. Недавно он купил дорогую машину. Не знаю, новую или нет. _______________ денег у него много, поэтому он может купить любую.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex56a_input">
        <button onclick="check_Ex56a()">Проверить</button><br>
        <div id="ex56a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex56a()">Показать ответ</button>
        <div id="ex56a_ans"></div>
        <p>2.	Я люблю ходить к Ивановым в гости. У них дома всегда тепло и уютно. _____________ они очень гостеприимные.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex56b_input">
        <button onclick="check_Ex56b()">Проверить</button><br>
        <div id="ex56b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex56b()">Показать ответ</button>
        <div id="ex56b_ans"></div>
        <p>3.	Учёные провели эксперимент и узнали, что новое лекарство от кашля намного эффективнее старого. ______________ теперь нам будет легче лечиться при коронавирусе.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex56c_input">
        <button onclick="check_Ex56c()">Проверить</button><br>
        <div id="ex56c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex56c()">Показать ответ</button>
        <div id="ex56c_ans"></div>
        <p>4.	Сейчас болеют очень много людей. Власти говорят, что ______________ ситуация под контролем, но все равно нам нужно быть осторожными.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex56d_input">
        <button onclick="check_Ex56d()">Проверить</button><br>
        <div id="ex56d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex56d()">Показать ответ</button>
        <div id="ex56d_ans"></div>
    </div>

    <h3>8.2. Соедините части предложений, подобрав логичное продолжение.Используйте
        конструкцию <span class="construction">Cl,и на том спасибо</span>. На месте Cl находится целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex82_eng()">Show in English</button><br>
    <div class="translation" id="ex82_eng"></div><br>
    <button onclick="Ex82_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex82_norw"></div>

    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. Соня опять пересолила* суп.<br><br>
                    2. Паша снова съел шоколадку вместо ужина.<br><br>
                    3. Я выпил(а) уже 3 кружки кофе за утро.<br><br>
                    4. У моего брата сильная аллергия на цитрусовые.<br><br>
                    5. Муж опять забыл убрать молоко в холодильник, и оно испортилось.
                </td>
                <td>а. Что-то поел.<br><br>
                    б. Никто это молоко не выпил.<br><br>
                    в. Со сметаной есть можно.<br><br>
                    г. Не пиво.<br><br>
                    д. Он может есть остальные фрукты.
                </td>
            </tr>
        </table>
        <p>*пересолить — English: to put too much salt; Norwegian:</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex82_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex82()">Проверить</button><br>
        <div id="ex82_result" style="display: inline;"></div><br>
        <button onclick="Ex82()">Показать ответ</button>
        <div id="ex82_ans"></div>
    </div>

    <h3>8.4. Закончите разговор, дописав третью реплику. Поставьте прилагательное в скобках () в краткую форму. Используйте конструкцию <span class="construction">вот и Pred</span>!
        В этой конструкции Pred — это предикатив, то есть прилагательное в краткой форме (Pred= predicative).
    </h3>
    <button onclick="Ex84_eng()">Show in English</button><br>
    <div class="translation" id="ex84_eng"></div><br>
    <button onclick="Ex84_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex84_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — Ждём вас на обед к двум. Придёте?<br>
            — Да.<br>
            — _____________________(чудесный)!<br><br>
            Ответ: <span class="construction">Вот и</span> чудесно!
            <br></p>
        <p>
            <b>а.</b><br>
            — Будешь чай?<br>
            — Да.<br>
            — _____________________(отличный)!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex84a_input"><br>
        <div id="ex84a_result" style="display: inline;"></div><br>
        <p>
            <b>б.</b><br>
            — Как вам ужин?<br>
            — Ужин нам очнь понравился!<br>
            — _____________________(замечательный)!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex84b_input"><br>
        <div id="ex84b_result" style="display: inline;"></div><br>
        <p>
            <b>в.</b><br>
            — У вас есть клубника?<br>
            — Да.
            — _____________________(прекрасный)!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex84c_input"><br>
        <div id="ex84c_result" style="display: inline;"></div><br><br>
        <button onclick="check_Ex84()">Проверить</button><br>
        <button onclick="Ex84()">Показать ответ</button><br>
        <div id="ex84_ans"></div>
    </div>

    <h3>8.5. Вы с собеседником должны решить, что приготовить на праздничный ужин. Обсудите с ним блюда, используя конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">(а) насчёт NP-Gen – Cl</span></li>
            <li><span class="construction">вот и Pred!</span></li>
        </ul>
        В этих конструкциях NP-Gen — это существительное (NP=noun phrase) в генитиве (Gen=Genitive case), а Cl — это целое предложение (Cl=clause, sentence), Pred — это предикатив, то есть прилагательное в краткой форме (Pred= predicative), a скобки () вокруг слова означают, что это факультативный элемент конструкции.
    </h3>
    <button onclick="Ex85_eng()">Show in English</button><br>
    <div class="translation" id="ex85_eng"></div><br>
    <button onclick="Ex85_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex85_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — <span class="construction">А насчёт</span> горячего — что мы будем готовить?<br>
            — Я хочу лазанью. А ты?<br>
            — Я тоже.<br>
            — <span class="construction">Вот и</span> чудесно!<br><br>
        </p>
        <table class="table_lesson" style="width: 600px">
            <tr>
                <td><span class="construction">А насчёт</span> + NP-Gen</td>
                <td>закуски<br>
                    суп<br>
                    горячее<br>
                    гарнир<br>
                    десерт<br></td>
                <td>— что мы будем готовить?</td>
            </tr>
            <tr>
                <td><span class="construction">Вот и</span></td>
                <td colspan = "2">славно<br>
                    отлично<br>
                    хорошо<br>
                    замечательно<br>
                    чудесно<br>
                    прекрасно<br>
                </td>
            </tr>
        </table><br>
        <button onclick="Ex85()">Показать ответ</button>
        <div id="ex85_ans"></div>
    </div>

    <h3>8.7. Вы ресторанный критик и должны оценить блюда начинающего шеф-повара. В каждом блюде вы нашли одну проблему. Объясните, в чём именно повар сделал ошибку. Используйте заметки внизу и конструкцию <span class="construction">дело Cop не в NP-Loc (, а в NP-Loc)</span>.<br>
        В этой конструкции Cop — это связочный глагол быть (Cop =copula verb), NP-Loc — это существительное (NP=noun phrase) в локативе (Loc= Locative case), а скобки () означают, что это факультативный элемент.
    </h3>
    <button onclick="Ex87_eng()">Show in English</button><br>
    <div class="translation" id="ex87_eng"></div><br>
    <button onclick="Ex87_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex87_norw"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Заметки:<br>
            Запечённое мясо: Не специи -> Мясо (несвежее).<br>
            —> <br>Запечённое мясо плохо получилось. И дело не в специях, а в мясе. Оно было несвежее.
        </p>
        <p>
            <b>а.</b><br>
            Яблочный пирог: Не мукa -> Время приготовления. Пирог не пропёкся.<br><br>
            мукa — English: flour; Norwegian: mel<br>
            время приготовления — English: cooking time; Norwegian: tiden brukt til å bake eplekake<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex87a_input">
        <button onclick="check_Ex87a()">Проверить</button><br>
        <div id="ex87a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex87a()">Показать ответ</button>
        <div id="ex87a_ans"></div>
        <p>
            <b>б.</b><br>
            Блины: Не тесто -> масло, слишком много<br><br>
            тесто — English: dough; Norwegian: deig<br>
            масло — English: butter; Norwegian: smør<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex87b_input">
        <button onclick="check_Ex87b()">Проверить</button><br>
        <div id="ex87b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex87b()">Показать ответ</button>
        <div id="ex87b_ans"></div>
        <p>
            <b>в.</b><br>
            Шоколадный торт: Не сливки для крема -> Сахар. Нужна сахарная пудра.<br><br>
            сливки — English: dairy cream; Norwegian: fløte<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex87c_input">
        <button onclick="check_Ex87c()">Проверить</button><br>
        <div id="ex87c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex87c()">Показать ответ</button>
        <div id="ex87c_ans"></div>
        <p>
            <b>г.</b><br>
            Эспрессо: Не сорт кофе -> обжарка, слишком светлая<br><br>
            обжарка — English: roast (about coffee); Norwegian: kaffebrenning (brenningsgrad når det gjelder kaffe)<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex87d_input">
        <button onclick="check_Ex87d()">Проверить</button><br>
        <div id="ex87d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex87d()">Показать ответ</button>
        <div id="ex87d_ans"></div>
        <p>
            <b>д.</b><br>
            Овощной салат: Не овощи -> оливковое масло, слишком старое<br><br>
            оливковое масло — English: olive oil; Norwegian: olivenolje<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex87e_input">
        <button onclick="check_Ex87e()">Проверить</button><br>
        <div id="ex87e_result" style="display: inline-block;"></div><br>
        <button onclick="Ex87e()">Показать ответ</button>
        <div id="ex87e_ans"></div>
    </div>

    <h3>11.2. Вы владелец модного бренда и получаете престижную награду за свою работу. На
        церемонии награждения вы произносите речь, в конце которой используете
        конструкцию <span class="construction">в заключение Cl</span>. В этой конструкции слот Cl заполняется целым
        предложением (Cl=clause, sentence). Составьте предложения из частей, предложенных в
        таблице.</h3>
    <button onclick="Ex112_eng()">Show in English</button>
    <div class="translation" id="ex112_eng"></div><br>
    <button onclick="Ex112_norw()">Show in Norwegian</button>
    <div class="translation" id="ex112_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            <span class="construction">В заключение</span> хочу добавить, что эта награда  — результат отличной работы всех наших
            сотрудников.<br>
            <span class="construction">В заключение</span>, мы продолжим радовать вас нашими платьями.<br></p>
        <table class="table_lesson" style="width: 1000px">
            <tr>
                <td rowspan="6">В заключение</td>
                <td >хочу добавить, что</td>
                <td>теперь мы будем производить ещё и обувь!</td>
            </tr>
            <tr>
                <td>хочется подчеркнуть, что</td>
                <td>эта награда очень важна для нашего бренда.</td>
            </tr>
            <tr>
                <td>мне бы хотелось сказать,
                    что</td>
                <td>мы продолжим радовать вас нашими
                    платьями.</td>
            </tr>
            <tr>
                <td>можно сказать, что</td>
                <td>эта награда  — результат отличной работы

                    всех наших сотрудников.</td>
            </tr>
            <tr>
                <td>важно упомянуть, что</td>
                <td>наш бренд молодой и эта награда  —
                    только начало большого пути.</td>
            </tr>
            <tr>
                <td colspan="2">, мы гордимся этой наградой и благодарим всех за поддержку нашего
                    бренда!</td>
            </tr>

        </table>
    </div>

    <h3>11.3. Вы стилист и ведёте блог о моде. Расскажите своим подписчикам в социальных сетях,
        что будут носить люди весной и летом этого года. Используйте фото ниже. Подведите
        итог своему рассказу, используя конструкцию <span class="construction">Итак, Cl.</span> В этой конструкции Cl — это
        целое предложение (Cl=clause, sentence).</h3>
    <button onclick="Ex113_eng()">Show in English</button>
    <div class="translation" id="ex113_eng"></div><br>
    <button onclick="Ex113_norw()">Show in Norwegian</button>
    <div class="translation" id="ex113_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            <span class="construction">Итак,</span> в этом сезоне люди будут носить блузки ярких цветов. Например, красные.<br>
            <span class="construction">Итак,</span> в этом сезоне будут в моде блузки ярких цветов. Например, красные.<br>
            <span class="construction">Итак,</span> в этом сезоне будет модно носить блузки ярких цветов. Например, красные.<br></p>
        <table class="table_lesson" style="width: 1000px">
            <tr>
                <td><img src="../../images/11/3_1.jpg" alt="3_1" style="width: 200px;"></td>
                <td><img src="../../images/11/3_2.jpg" alt="3_2" style="width: 200px;"></td>
                <td><img src="../../images/11/3_3.jpg" alt="3_3" style="width: 200px;"></td>
            </tr>

        </table>
        <button onclick="Ex113a()">Показать ответ</button>
        <div id="ex113a_ans"></div>
        <table class="table_lesson" style="width: 1000px">
            <tr>
                <td><img src="../../images/11/3_4.jpg" alt="3_1" style="width: 200px;"></td>
                <td><img src="../../images/11/3_5.jpg" alt="3_2" style="width: 450px;"></td>
                <td><img src="../../images/11/3_6.jpg" alt="3_3" style="width: 200px;"></td>
            </tr>
        </table>
        <button onclick="Ex113b()">Показать ответ</button>
        <div id="ex113b_ans"></div>
    </div>


</div>

    <br><br>
</body>

</html>