<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/myscript.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 3
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 3</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>170</td>
            <td>(а) кроме того XP/Cl</td>
            <td>Он, <span class="construction">кроме того</span>, плавает.</td>
        </tr>
        <tr>
            <td>410</td>
            <td>не только XP, но и XP</td>
            <td>Он был <span class="construction">не только</span> умён, <span class="construction">но и</span> добр.</td>
        </tr>
        <tr>
            <td>1872</td>
            <td>(и) кстати (говоря), Cl</td>
            <td><span class="construction">И кстати</span>, он пришёл без подарка.</td>
        </tr>
        <tr>
            <td>1093</td>
            <td>к тому же XP/Cl</td>
            <td><span class="construction">К тому же</span> каждый день шёл снег.</td>
        </tr>
        <tr>
            <td>1867</td>
            <td>плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
            <td><span class="construction">Плюс ко всему</span>, погода резко испортилась.</td>
        </tr>
        <tr>
            <td>1874</td>
            <td>(Так) мало того – Cl</td>
            <td><span class="construction">Мало того</span>, Маша привела с собой друзей.</td>
        </tr>
        <tr>
            <td>1868</td>
            <td>ко всему прочему, Cl</td>
            <td><span class="construction">Ко всему прочему</span>, он курит и пьёт.</td>
        </tr>
        <tr>
            <td>1873</td>
            <td>VP, заодно VP</td>
            <td>Сходи за хлебом, <span class="construction">заодно</span> мусор вынесешь.</td>
        </tr>
        <tr>
            <td>1894</td>
            <td>XP/Cl, XP/Cl и так далее/и т. д.</td>
            <td>Кто-то займётся спортом, кто-то будет слушать
                музыку, кто-то танцевать <span class="construction">и так далее</span>.</td>
        </tr>
        <tr>
            <td>1895</td>
            <td>NP, NP и тому подобное/и т. п.</td>
            <td>Здесь продаются разные справочники, журналы,
                книги <span class="construction">и тому подобное</span>.</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)<br>
        VP = verb phrase (глагол)<br>
        NP = noun phrase (существительное)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>

</div>

    <br><br>
</body>

</html>