<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/func3.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 3
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 3. Добавить информацию / Add information</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>170</td>
            <td>(а) кроме того XP/Cl</td>
            <td>Он, <span class="construction">кроме того</span>, плавает.</td>
        </tr>
        <tr>
            <td>410</td>
            <td>не только XP, но и XP</td>
            <td>Он был <span class="construction">не только</span> умён, <span class="construction">но и</span> добр.</td>
        </tr>
        <tr>
            <td>1872</td>
            <td>(и) кстати (говоря), Cl</td>
            <td><span class="construction">И кстати</span>, он пришёл без подарка.</td>
        </tr>
        <tr>
            <td>1093</td>
            <td>к тому же XP/Cl</td>
            <td><span class="construction">К тому же</span> каждый день шёл снег.</td>
        </tr>
        <tr>
            <td>1867</td>
            <td>плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
            <td><span class="construction">Плюс ко всему</span>, погода резко испортилась.</td>
        </tr>
        <tr>
            <td>1874</td>
            <td>(Так) мало того – Cl</td>
            <td><span class="construction">Мало того</span>, Маша привела с собой друзей.</td>
        </tr>
        <tr>
            <td>1868</td>
            <td>ко всему прочему, Cl</td>
            <td><span class="construction">Ко всему прочему</span>, он курит и пьёт.</td>
        </tr>
        <tr>
            <td>1873</td>
            <td>VP, заодно VP</td>
            <td>Сходи за хлебом, <span class="construction">заодно</span> мусор вынесешь.</td>
        </tr>
        <tr>
            <td>1894</td>
            <td>XP/Cl, XP/Cl и так далее/и т. д.</td>
            <td>Кто-то займётся спортом, кто-то будет слушать
                музыку, кто-то танцевать <span class="construction">и так далее</span>.</td>
        </tr>
        <tr>
            <td>1895</td>
            <td>NP, NP и тому подобное/и т. п.</td>
            <td>Здесь продаются разные справочники, журналы,
                книги <span class="construction">и тому подобное</span>.</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)<br>
        VP = verb phrase (глагол)<br>
        NP = noun phrase (существительное)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>


        <h3>1.1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

        <button onclick="Ex1_1_eng()">Show in English</button>
        <div class="translation" id="ex1_1_eng"></div><br>
        <button onclick="Ex1_1_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_1_norw"></div>
    
        <div class="second_indent">
            <p>
                а.<br>
                Познакомьтесь! Матвей Белов – студент медицинского факультета. <span class="construction">Кроме того</span>, Матвей
                занимается каратэ и хорошо плавает. Матвей <span class="construction">не только</span> учится, <span class="construction">но и</span> работает санитаром в
                больнице. Это полезный опыт, <span class="construction">к тому же</span> неплохая зарплата. <span class="construction">Кстати говоря</span>, в этой больнице
                лежала моя тëтя. Она говорит, что Матвей – замечательный санитар и, <span class="construction">плюс ко всему</span>, у него
                очень хорошее чувство юмора.
            </p>
            <p>
                б.<br>
                Это Ирина. Она талантливая певица. Ирина <span class="construction">не только</span> отлично поет, <span class="construction">но и</span> прекрасно играет на
                гитаре. <span class="construction">Кстати говоря</span>, гитару Ирине подарил отец.
            </p>
            <button onclick="Ex1_1()">Показать ответ</button>
            <div id="ex1_1_ans"></div>
        </div>
    
        <h3>1.2. Переформулируйте предложения, используя конструкцию <span class="construction">не только XP, но и XP.</span> Любое ли
            предложение можно переделать? (Если нельзя, напишите <i>нельзя переделать</i>) <br>На месте XP находится слово или фраза (XP=phrase).</h3>
        <button onclick="Ex1_2_eng()">Show in English</button>
        <div class="translation" id="ex1_2_eng"></div><br>
        <button onclick="Ex1_2_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_2_norw"></div>
            
        <div class="second_indent">
            <p>а. Роман хорошо играет в футбол и фотографирует.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_2a_input">
            <button onclick="check_Ex1_2a()">Проверить</button><br>
            <div id="ex1_2a_result" style="display: inline;"></div><br>
            <button onclick="Ex1_2a()">Показать ответ</button>
            <div id="ex1_2a_ans"></div>
            <p>б. София красиво поëт и играет на пианино.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_2b_input">
            <button onclick="check_Ex1_2b()">Проверить</button><br>
            <div id="ex1_2b_result" style="display: inline;"></div><br>
            <button onclick="Ex1_2b()">Показать ответ</button>
            <div id="ex1_2b_ans"></div>
            <p>в. Даниил плохо видит и носит очки.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_2c_input">
            <button onclick="check_Ex1_2c()">Проверить</button><br>
            <div id="ex1_2c_result" style="display: inline;"></div><br>
            <button onclick="Ex1_2c()">Показать ответ</button>
            <div id="ex1_2c_ans"></div>
        </div>
    
        <h3>1.3. Составьте предложения.</h3>
        <button onclick="Ex1_3_eng()">Show in English</button>
        <div class="translation" id="ex1_3_eng"></div><br>
        <button onclick="Ex1_3_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_3_norw"></div>
    
        <div class="second_indent">
            <p><b>Образец</b>:<br>
                Егор любит не только играть на компьютере, но и придумывать свои игры.<br></p>
            <table class="table_lesson" style="width: 600px">
                <tr>
                    <td>Егор любит </td>
                    <td rowspan="5">Не только V, но и V</td>
                    <td>играть на компьютере<br>
                        придумывать свои игры</td>
                </tr>
                <tr>
                    <td>Полине нравится</td>
                    <td>готовить еду<br>
                        придумывать свои рецепты</td>
                </tr>
                <tr>
                    <td>Степан хочет</td>
                    <td>много путешествовать<br>
                        снимать видеоблог</td>
                </tr>
                <tr>
                    <td>Стас планирует</td>
                    <td>изучать анатомию<br>
                        стать кардиохирургом</td>
                </tr>
                <tr>
                    <td>Михаил мечтает</td>
                    <td>работать переводчиком<br>
                        написать свою книгу</td>
                </tr>
                <tr>
                    <td>Инна</td>
                    <td rowspan="4">не только Adj, но и Adj</td>
                    <td>умная<br>
                        красивая</td>
                </tr>
                <tr>
                    <td>Игорь</td>
                    <td>добрый<br>
                        вежливый</td>
                </tr>
                <tr>
                    <td>Валентина</td>
                    <td>приятная<br>
                        ответственная</td>
                </tr>
                <tr>
                    <td>Максим</td>
                    <td>весëлый<br>
                        пунктуальный</td>
                </tr>
                <tr>
                    <td>Я много путешествовал</td>
                    <td rowspan="2">не только Prep+N, но и Prep+N</td>
                    <td>в Америке<br>
                        в Азии</td>
                </tr>
                <tr>
                    <td>Сергей много знает</td>
                    <td>о космосе<br>
                        о ракетах</td>
                </tr>
            </table>
        </div>
    
        <h3>1.4. Соедините части предложений, подобрав логичное продолжение.<br>Назовите, слова каких частей речи стоят на месте <span class="construction">XP</span> в конструкции <span class="construction">не только XP, но и
            XP.</span></h3>
        <button onclick="Ex1_4_eng()">Show in English</button>
        <div class="translation" id="ex1_4_eng"></div><br>
        <button onclick="Ex1_4_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_4_norw"></div>
    
        <div class="second_indent">
            <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
            <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. Я люблю не только книги про Шерлока Холмса,<br><br>
                    2. Он был не только талантливым писателем,<br><br>
                    3. Не только школьники,<br><br>
                    4. Ксюша - самая красивая девочка не только в нашем классе,<br><br>
                    5. Он не только отлично плавал,
                </td>
                <td>а. но и во всей школе!<br><br>
                    б. но и вкусно готовил.<br><br>
                    в. но и умным политиком.<br><br>
                    г. но и учителя выбежали на улицу играть в снежки.<br><br>
                    д. но и фильмы о нём.
                </td>
            </tr>
            </table>
            <br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_4_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex1_4()">Проверить</button><br>
            <div id="ex1_4_result" style="display: inline;"></div><br>
            <button onclick="Ex1_4()">Показать ответ</button>
            <div id="ex1_4_ans"></div>
        </div>
        
    
        <h3>1.5. Переформулируйте предложения, используя конструкцию <span class="construction">(а) кроме того XP/Cl.</span> На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause,
            sentence), а скобки () обозначают факультативный элемент конструкции.</h3>
        <button onclick="Ex1_5_eng()">Show in English</button>
        <div class="translation" id="ex1_5_eng"></div><br>
        <button onclick="Ex1_5_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_5_norw"></div>
    
        <div class="second_indent">
            <p><b>Образец</b>:<br>
                Иван пережил много невероятных приключений. Он мог увлекательно рассказать о них.<br>
                <i>Иван пережил много невероятных приключений, <span class='construction'>а кроме того</span>, он мог увлекательно
                рассказать о них.</i><br>
            </p>
            
            <p>а. Мы сами выращиваем на даче овощи и фрукты. Мы собираем в лесу ягоды.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_5a_input">
            <button onclick="check_Ex1_5a()">Проверить</button><br>
            <div id="ex1_5a_result" style="display: inline-block;"></div><br>
            <button onclick="Ex1_5a()">Показать ответ</button>
            <div id="ex1_5a_ans"></div>
            <p>б. Я люблю фильмы про природу. Мне нравится фантастика.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_5b_input">
            <button onclick="check_Ex1_5b()">Проверить</button><br>
            <div id="ex1_5b_result" style="display: inline-block;"></div><br>
            <button onclick="Ex1_5b()">Показать ответ</button>
            <div id="ex1_5b_ans"></div>
        </div>
        
        <h3>1.6. Переформулируйте предложения, используя конструкцию <span class="construction">(а) кроме того XP/Cl.</span> 
            Замените союз <i>и</i> на слова <span class="construction"><i>а кроме того</i></span>. На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause,
            sentence), а скобки () обозначают факультативный элемент конструкции.</h3>
        <button onclick="Ex1_6_eng()">Show in English</button>
        <div class="translation" id="ex1_6_eng"></div><br>
        <button onclick="Ex1_6_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_6_norw"></div>
    
        <div class="second_indent">
            <p><b>Образец</b>:<br>
                Вчера я решил убраться во всем доме и выбросить мусор.<br>
                <i>Вчера я решил убраться во всем доме, <span class='construction'>а кроме того</span>, выбросить мусор.</i><br>
            </p>
            
            <p>а. Моя подруга очень умная и веселая.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_6a_input">
            <button onclick="check_Ex1_6a()">Проверить</button><br>
            <div id="ex1_6a_result" style="display: inline-block;"></div><br>
            <button onclick="Ex1_6a()">Показать ответ</button>
            <div id="ex1_6a_ans"></div>
            <p>б. Мы хотим купить новый автомобиль и продать старый.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_6b_input">
            <button onclick="check_Ex1_6b()">Проверить</button><br>
            <div id="ex1_6b_result" style="display: inline-block;"></div><br>
            <button onclick="Ex1_6b()">Показать ответ</button>
            <div id="ex1_6b_ans"></div>
        </div>
    
    
        
        <h3>1.7. Перед вами запись в дневнике. Соедините предложения с помощью конструкций
            <ul type="circle">
                <li><span class="construction">к тому же XP/Cl</span></li>
                <li><span class="construction">плюс/вдобавок (ко всему/к тому/к этому), Cl</span></li>
                <li><span class="construction">(а) кроме того XP/Cl</span></li>
            </ul>
            В этих конструкциях Cl — это целое предложение (Cl=clause, sentence), а скобки ()
    обозначают факультативный элемент. На месте XP/Cl находится фраза (XP=phrase) или
    целое предложение (Cl=clause, sentence).
        </h3>
        <button onclick="Ex1_7_eng()">Show in English</button>
        <div class="translation" id="ex1_7_eng"></div><br>
        <button onclick="Ex1_7_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_7_norw"></div>
    
        <div class="second_indent">
            <p>Дорогой дневник, день сегодня просто отличный!<br>
                Погода теплая и солнечная!
                <ul>
                    <li>По дороге на учебу встретил старого друга.</li>
                    <li>Я посмотрел новую серию моего любимого сериала.</li>
                    <li>Мы с отцом наконец выбрали, какую машину мы купим.</li>
                    <li>Я позвал Юлю в кино, и она согласилась!</li>
                </ul>
            </p>
        </div>
    
    
        <h3>1.8. Соедините части предложений, подобрав логичное продолжение.
            Обратите внимание, что конструкция <span class="construction">(и) кстати (говоря), Cl</span> вводит дополнительную
            информацию и обозначает отклонение от темы. На месте Cl находится целое предложение (Cl=clause, sentence), a скобки () вокруг слова
            означают, что это факультативный элемент конструкции.</h3>
        <button onclick="Ex1_8_eng()">Show in English</button>
        <div class="translation" id="ex1_8_eng"></div><br>
        <button onclick="Ex1_8_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_8_norw"></div>
    
        <div class="second_indent">
            <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
            <table class="table_lesson" style="width: 850px">
            <tr>
                <td>1. К нам в гости пришла тетя Клава, наша соседка.<br><br>
                    2. Петя опять поругался со своим братом Кириллом.<br><br>
                    3. У тебя на телефоне опять не работает навигатор.<br><br>
                    4. Знаете ли вы, что стены и башни московского Кремля спроектировал архитектор из Италии?<br><br>
                    5. Я купил билеты в кино, пойдешь со мной?
                </td>
                <td>а. Кирилл, кстати, до сих пор не вернул Пете плеер.<br><br>
                    б. Кстати говоря, после фильма будет встреча с режиссером.<br><br>
                    в. Она, кстати говоря, недавно сломала руку.<br><br>
                    г. И кстати говоря, мы едем не в ту сторону!<br><br>
                    д. И кстати, раньше стены были белого цвета, а не красного, как сегодня.
                </td>
            </tr>
            </table>
            <br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex1_8_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex1_8()">Проверить</button><br>
            <div id="ex1_8_result" style="display: inline;"></div><br>
            <button onclick="Ex1_8()">Показать ответ</button>
            <div id="ex1_8_ans"></div>
        </div>
    
        <h3>1.9. Конструкция <span class="construction">(и) кстати (говоря), Cl</span> имеет четыре варианта:
            <table class="table_lesson">
                <tr>
                    <td>а. кстати</td>
                    <td>б. и кстати</td>
                    <td>в. кстати говоря</td>
                    <td>г. и кстати говоря</td>
                </tr>
            </table>
            Обратите внимание, что варианты <span class="construction">и кстати</span> и <span class="construction">и кстати говоря</span> не используются в
            середине предложения. Учитывая это, заполните пропуски в предложениях
            максимальным количеством вариантов. На месте Cl находится целое предложение (Cl=clause, sentence), a скобки () вокруг слова
            означают, что это факультативный элемент конструкции.
        </h3>
        <button onclick="Ex1_9_eng()">Show in English</button>
        <div class="translation" id="ex1_9_eng"></div><br>
        <button onclick="Ex1_9_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_9_norw"></div>
    
        <ol>
            <li>Знакомьтесь, это Владимир Сергеевич. Моего папу, <input class="input_normal" type="text" id="ex1_9a_input" placeholder="а, б, в, г"> , тоже так зовут.</li>
            <div id="ex1_9a_result" style="display: inline;"></div><br>
            <li>Не думал, что ты умеешь играть на гитаре. <input class="input_normal" type="text" id="ex1_9b_input" placeholder="а, б, в, г"> , где ты этому научился?</li>
            <div id="ex1_9b_result" style="display: inline;"></div><br>
            <li>Я решил пойти на курсы итальянского. Уроки, <input class="input_normal" type="text" id="ex1_9c_input" placeholder="а, б, в, г"> , ведёт настоящий итальянец.</li>
            <div id="ex1_9c_result" style="display: inline;"></div><br>
            <li>Квартира стоит восемьсот евро. <input class="input_normal" type="text" id="ex1_9d_input" placeholder="а, б, в, г"> , электричество оплачивается отдельно.</li>
            <div id="ex1_9d_result" style="display: inline;"></div><br>
            <li>Тебе лучше поторопиться, уже восемь сорок! <input class="input_normal" type="text" id="ex1_9e_input" placeholder="а, б, в, г"> , не забудь взять зонт, на улице дождь.</li>
            <div id="ex1_9e_result" style="display: inline;"></div><br>
            <li>Моя бабушка работала учительницей английского в школе. <input class="input_normal" type="text" id="ex1_9f_input" placeholder="а, б, в, г"> , она никогда не была за границей, но знала его идеально.</li>
            <div id="ex1_9f_result" style="display: inline;"></div><br>
        </ol>
        <button onclick="check_Ex1_9()">Проверить</button><br><br>
        <button onclick="Ex1_9()">Показать ответ</button>
        <div id="ex1_9_ans"></div>
    
        <h3>1.10*. Бонусное упражнение<br>
            Заполните пропуски словами из списка. Объясните, почему другие варианты не подходят. Правильных ответов может быть больше одного.
        <p class="second_indent">
            <span class="construction">а. Кстати<br>
            б. Кроме того<br>
            в. К тому же<br></span>
        </p>
        </h3>
        <button onclick="Ex1_10_eng()">Show in English</button>
        <div class="translation" id="ex1_10_eng"></div><br>
        <button onclick="Ex1_10_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_10_norw"></div>
    
        <div class="second_indent">
            <ol>
                <li>Ты так красиво поешь! <input class="input_normal" type="text" id="ex1_10a_input" placeholder="а, б, в"> ты никогда не думала стать певицей?</li>
                <div id="ex1_10a_result" style="display: inline;"></div><br>
                <li>Я снимаю влоги, чтобы показать свои путешествия друзьям и родственникам. <input class="input_normal" type="text" id="ex1_10b_input" placeholder="а, б, в"> это приносит небольшой доход.</li>
                <div id="ex1_10b_result" style="display: inline;"></div><br>
                <li>Собаку мы заводить не будем! По контракту мы не можем жить в этой квартире с собакой. <input class="input_normal" type="text" id="ex1_10c_input" placeholder="а, б, в"> на собак у меня аллергия.</li>
                <div id="ex1_10c_result" style="display: inline;"></div><br>
                <li>Какая милая у вас собачка! <input class="input_normal" type="text" id="ex1_10d_input" placeholder="а, б, в"> как её зовут?</li>
                <div id="ex1_10d_result" style="display: inline;"></div><br>
                <li>Не думаю, что у фильма есть шансы на Оскар. Актёры играли ужасно. <input class="input_normal" type="text" id="ex1_10e_input" placeholder="а, б, в"> сценарий очень нелогичный.</li>
                <div id="ex1_10e_result" style="display: inline;"></div><br>
                <li>Свадьба — это очень дорого. <input class="input_normal" type="text" id="ex1_10f_input" placeholder="а, б, в"> её нужно долго планировать.</li>
                <div id="ex1_10f_result" style="display: inline;"></div><br>
                <li>Свадьба — это очень весело. <input class="input_normal" type="text" id="ex1_10g_input" placeholder="а, б, в"> можно наконец увидеть всех своих родственников и друзей.</li>
                <div id="ex1_10g_result" style="display: inline;"></div><br>
            </ol>
            <button onclick="check_Ex1_10()">Проверить</button><br><br>
            <button onclick="Ex1_10()">Показать ответ</button>
            <div id="ex1_10_ans"></div>
        </div>

    
        <h3>4.5. Проанализируйте схему. Чем отличаются конструкции <span class="construction">(Так) мало того – Cl</span> и <span class="construction">ко всему прочему, Cl</span>?</h3>
    <button onclick="Ex4_5_eng()">Show in English</button>
    <div class="translation" id="ex4_5_eng"></div><br>
    <button onclick="Ex4_5_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_5_norw"></div>
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/4/1.png" alt="Diagram" style="height: 400px;">
    </div>

    <h3>
        6. Заполните пропуски, используя конструкции<br><br>
        а. <span class="construction">(Так) мало того – Cl</span><br>
        б. <span class="construction">ко всему прочему, Cl</span>.<br><br>
        В некоторых случаях обе конструкции подходят. В этих конструкциях Cl — это целое предложение (Cl=clause, sentence) ), а скобки () обозначают факультативный элемент.
    </h3>
    <button onclick="Ex4_6_eng()">Show in English</button>
    <div class="translation" id="ex4_6_eng"></div><br>
    <button onclick="Ex4_6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_6_norw"></div>
    <div class="second_indent">
        <p>1.	Больница по выходным работает только утром, ________________, недолго.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_6a_input">
        <button onclick="check_Ex4_6a()">Проверить</button><br>
        <div id="ex4_6a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_6a()">Показать ответ</button>
        <div id="ex4_6a_ans"></div>
        <p>2.	Больничный у нашего врача получить сложно, ________________, его долго оформляют.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_6b_input">
        <button onclick="check_Ex4_6b()">Проверить</button><br>
        <div id="ex4_6b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_6b()">Показать ответ</button>
        <div id="ex4_6b_ans"></div>
        <p>3.	Трудно работать, когда у тебя насморк, кашель и, ________________, температура. </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_6c_input">
        <button onclick="check_Ex4_6c()">Проверить</button><br>
        <div id="ex4_6c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_6c()">Показать ответ</button>
        <div id="ex4_6c_ans"></div>
        <p>4.	Я плохо себя чувствовала всю неделю, у меня болела голова, ________________, вчера заболел мой сын.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_6d_input">
        <button onclick="check_Ex4_6d()">Проверить</button><br>
        <div id="ex4_6d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_6d()">Показать ответ</button>
        <div id="ex4_6d_ans"></div>
    </div>

    <h3>4.7. Составьте предложения, соединив жалобы по модели с помощью конструкций <span class="construction">(Так) мало того – Cl</span> и <span class="construction">ко всему прочему, Cl</span>. В этих конструкциях Cl — это целое предложение (Cl=clause, sentence) ), а скобки () обозначают факультативный элемент.</h3>
    <button onclick="Ex4_7_eng()">Show in English</button>
    <div class="translation" id="ex4_7_eng"></div><br>
    <button onclick="Ex4_7_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_7_norw"></div>

    <p><b>Модель</b></p>
    <table>
        <tr>
            <td>У меня ______________ <span class="construction">Mало того,</span> ____________ <span class="construction">Kо всему прочему,</span> ____________</td>
        </tr>
    </table>
    <p><b>Образец</b></p><br>
    <p>
        болит голова + насморк + кашель<br>
        -><br>
        У меня болит голова. <span class="construction">Mало того,</span> у меня насморк и, <span class="construction">ко всему прочему,</span> кашель.
    </p>
    <div class="second_indent">
        <p>1.	высокая температура + болит всё тело + озноб*</p>
        <p>озноб — English: chills; Norwegian: frysninger</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_7a_input">
        <button onclick="check_Ex4_7a()">Проверить</button><br>
        <div id="ex4_7a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_7a()">Показать ответ</button>
        <div id="ex4_7a_ans"></div>
        <p>2.	низкое давление* + слабость* + я упал(а) в обморок</p>
        <p>
            низкое давление — English: low blood pressure; Norwegian: lavt blodtrykk<br>
            слабость — English: fatigue; Norwegian: slapphet
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_7b_input">
        <button onclick="check_Ex4_7b()">Проверить</button><br>
        <div id="ex4_7b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_7b()">Показать ответ</button>
        <div id="ex4_7b_ans"></div>
        <p>3.	болит рука + болят ноги + высокое давление*</p>
        <p>высокое давление — English: high blood pressure; Norwegian: høyt blodtrykk</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_7c_input">
        <button onclick="check_Ex4_7c()">Проверить</button><br>
        <div id="ex4_7c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4_7c()">Показать ответ</button>
        <div id="ex4_7c_ans"></div>
    </div>


    <h3>4.9. Вы встретили друга. Обсудите, как ваши дела. Используйте варианты ответов, предложенные в таблице, или придумайте свои примеры. Конструкции в таблице, расположенные в таком порядке, образуют «шкалу» проблем.</h3>
    <button onclick="Ex4_9_eng()">Show in English</button>
    <div class="translation" id="ex4_9_eng"></div><br>
    <button onclick="Ex4_9_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_9_norw"></div>
    <p><b>Образец</b></p>
    <p>
        ― Как у тебя дела? У меня ...<br>
        ― А у тебя как дела? У меня ...
    </p>
    <table>
        <th colspan="4">Шкала проблем</th>
        <tr>
            <td>У меня	...</td>
            <td>Мало того,	...</td>
            <td>Ко всему прочему, 	...</td>
            <td>И вообще,	...</td>
        </tr>
        <tr>
            <td>
                часто болит голова<br>
                много работы<br>
                скоро экзамен по русскому языку<br>
            </td>
            <td>
                проблемы на работе<br>
                много дел<br>
                я недавно болел гриппом<br>
            </td>
            <td>
                приехал друг<br>
                сломалась машина<br>
                нужно переезжать в другую квартиру<br>
            </td>
            <td>
                всë плохо!<br>
                всë сложно!<br>
                много сюрпризов!<br>
                хорошего мало, но всë будет хорошо!
            </td>
        </tr>
    </table>


    <h3>5.1. Соедините предложения, подобрав логичное продолжение.</h3>
    <button onclick="Ex5_1_eng()">Show in English</button>
    <div class="translation" id="ex5_1_eng"></div><br>
    <button onclick="Ex5_1_norw()">Show in Norwegian</button>
    <div class="translation" id="ex5_1_norw"></div>

    <table>
        <tr>
            <td>1. Иван — студент-программист, учится на отлично!</td>
            <td>a. <span class="construction">К тому же,</span> нет ветра.</td>
        </tr>
        <tr>
            <td>2. Сегодня очень хорошая погода.</td>
            <td>б. <span class="construction">Мало того,</span> она ещё и заразилась коронавирусом, когда была в больнице.</td>

        </tr>
        <tr>
            <td>3. Мне очень нравится моя новая работа: интересная, приятные коллеги, недалеко от дома.</td>
            <td>в. <span class="construction">Кроме того,</span> Иван — спортсмен, хорошо играет в волейбол.</td>
        </tr>
        <tr>
            <td>4. Маша недавно сломала руку. </td>
            <td>г. <span class="construction">Ко всему прочему,</span> она потеряла паспорт в метро.</td>
        </tr>
        <tr>
            <td>5. У Оли сегодня был трудный день</td>
            <td>д. <span class="construction">Плюс ко всему,</span> высокая зарплата.</td>
        </tr>
    </table>

    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex5_1_input">
    <button onclick="check_Ex5_1()">Проверить</button><br>
    <div id="ex5_1_result" style="display: inline-block;"></div><br>
    <button onclick="Ex5_1()">Показать ответ</button>
    <div id="ex5_1_ans"></div>

    <h3>7.2. Соедините части предложений, подобрав логичное продолжение.Используйте
        конструкцию <span class="construction">VP, заодно VP</span>. В этой конструкции VP — это глагол (VP=verb phrase).
    </h3>
        <button onclick="Ex7_2_eng()">Show in English</button><br>
        <div class="translation" id="ex7_2_eng"></div><br>
        <button onclick="Ex7_2_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex7_2_norw"></div>

        <div class="second_indent">
            <p><b>Образец</b>:<br>
                Я вчера сделала уборку дома, <span class="construction">заодно</span> нашла старые фотографии бабушки с дедушкой.
            </p>
            <table class="table_lesson" style="width: 650px">
                <tr>
                    <td>1. Я вчера сделала уборку дома<br><br>
                        2. Помоги мне, пожалуйста, приготовить торт<br><br>
                        3. Отправь приглашение на юбилей тёте Ирине<br><br>
                        4. Давай пораньше украсим дом к Новому году<br><br>
                        5. Он уже купил всей семье подарки на Рождество
                    </td>
                    <td>а. попробуем вместе новый рецепт.<br><br>
                        б. посмотрим, нужны ли нам новые ёлочные игрушки.<br><br>
                        в. нашла старые фотографии бабушки с дедушкой.<br><br>
                        г. нашёл себе новую рубашку на праздник.<br><br>
                        д. узнаешь как у неё дела.
                    </td>
                </tr>
            </table><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex7_2_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex7_2()">Проверить</button><br>
            <div id="ex7_2_result" style="display: inline;"></div><br>
            <button onclick="Ex7_2()">Показать ответ</button>
            <div id="ex7_2_ans"></div>
        </div>


        <h3>11.4. Составьте предложения с перечислением объектов. В конце предложения
            используйте конструкции:
            <ul type="circle">
                <li><span class="construction">XP/Cl, XP/Cl и так далее/и т. д.</span></li>
                <li><span class="construction">NP, NP и тому подобное/и т. п.</span></li>
            </ul>
            В этих конструкциях слот XP/Cl заполняется фразой (XP=phrase) или целым
            предложением (Cl=clause, sentence), а NP — это существительное (NP=noun phrase).
        </h3>
        <button onclick="Ex11_4_eng()">Show in English</button>
        <div class="translation" id="ex11_4_eng"></div><br>
        <button onclick="Ex11_4_norw()">Show in Norwegian</button>
        <div class="translation" id="ex11_4_norw"></div>
    
        <div class="second_indent">
            <b>Образец</b>:<br>
                (постоянно мёрзнуть) (свитер, толстовка, тёплый кардиган, шарф)<br>
                -&gt;<ul>
                    <li>Я постоянно мёрзну, поэтому всегда ношу свитера, толстовки, тёплые кардиганы,
                        шарфы <span class="construction">и так далее</span>.</li>
                    <li>Оля постоянно мёрзнет. Из-за этого она всё время носит свитера, толстовки,
                        тёплые кардиганы, шарфы <span class="construction">и тому подобное</span>.</li>
                </ul><br>
            <ol>
                <li>(Одежда тёплых цветов) (красный, оранжевый, коричневый, жёлтый)</li>
                <button onclick="Ex11_4a()">Показать ответ</button>
                <div id="ex11_4a_ans"></div>
                <li>(Одежда в полоску) (брюки, рубашка, кеды, куртка)</li>
                <button onclick="Ex11_4b()">Показать ответ</button>
                <div id="ex11_4b_ans"></div>
                <li>(Тема вечеринки — звёзды* на красной дорожке) (вечерние платья в пол, нарядные
                    костюмы, туфли на каблуках)<br><br>
                    звёзды* — English: celebrities; Norwegian: kjendiser</li>
                <button onclick="Ex11_4c()">Показать ответ</button>
                <div id="ex11_4c_ans"></div>
                <li>(Одежда для похода — практичная и удобная) (футболка, свитер, непромокаемая
                    куртка, тёплые ботинки, шапка)</li>
                <button onclick="Ex11_4d()">Показать ответ</button>
                <div id="ex11_4d_ans"></div>
            </ol>
        </div>



        <h3>11.5. Составьте предложения, подобрав логичное продолжение. В конце предложения
            используйте конструкции:
            <ul type="circle">
                <li><span class="construction">XP/Cl, XP/Cl и так далее/и т. д.</span></li>
                <li><span class="construction">NP, NP и тому подобное/и т. п.</span></li>
            </ul>
            В этих конструкциях слот XP/Cl заполняется фразой (XP=phrase) или целым
            предложением (Cl=clause, sentence), а NP — это существительное (NP=noun phrase).
        </h3>
        <button onclick="Ex11_5_eng()">Show in English</button>
        <div class="translation" id="ex11_5_eng"></div><br>
        <button onclick="Ex11_5_norw()">Show in Norwegian</button>
        <div class="translation" id="ex11_5_norw"></div>
        <div class="second_indent">
        <table class="table_lesson" style="width: 1200px">
            <tr>
                <td>1. Оля часто покупает себе
                    новую обувь:</td>
                <td>а. купить стильные джинсы,
                    трендовые кроссовки, несколько
                    универсальных футболок…</td>
                <td rowspan="4">и так далее.<br>
                    и тому подобное.</td>
            </tr>
            <tr>
                <td>2. Мой отец любит яркую
                    одежду:</td>
                <td>б. туфли, сапоги, босоножки, кеды…</td>
            </tr>
            <tr>
                <td>3. Сергей хочет обновить
                    свой гардероб:</td>
                <td>в. шляпа, солнечные очки, стильное
                    платье, шёлковый шарф на шее…</td>
            </tr>
            <tr>
                <td>4. Настя одевается как
                    кинозвезда:</td>
                <td>г. у него есть синие ботинки, зелёные
                    носки, красный галстук, рубашки в
                    клетку, футболка с цветочками…</td>
            </tr>
        </table><br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex11_5_input" placeholder="1а, 2б, 3в, 4г">
        <button onclick="check_Ex11_5()">Проверить</button><br>
        <div id="ex11_5_result" style="display: inline;"></div><br>
        <button onclick="Ex11_5()">Показать ответ</button>
        <div id="ex11_5_ans"></div>

    </div>

</div>

    <br><br>
</body>

</html>