<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/func2.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Function 2
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Функция 2. Привести пример / Give an example</h1>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1841</td>
            <td>например, XP/Cl</td>
            <td><span class="construction">Например</span>, в Финляндии запретили курить везде в общественных местах.</td>
        </tr>
        <tr>
            <td>1840</td>
            <td>к примеру, XP/Cl</td>
            <td>Вот, <span class="construction">к примеру</span>, мне нравится Мерилин Монро.</td>
        </tr>
        <tr>
            <td>2350</td>
            <td>так, Cl</td>
            <td>Кошки намного хуже нас видят цвета. <span class="construction">Так</span>, красный цвет им недоступен.</td>
        </tr>
        <tr>
            <td>2349</td>
            <td>скажем, XP/Cl</td>
            <td>Вариантов предлагается множество. <span class="construction">Скажем</span>, японская модель образования.</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
        style="color: inherit;">https://constructicon.github.io/russian/</a></p>
        

    
        <h3>
            5.3. Заполните пропуски словами из списка
            <ul>
                <li>а. <span class="construction">к примеру</span></li>
                <li>б. <span class="construction"> например,</span></li>
                <li>в. <span class="construction">Так,</span></li>
            </ul>
            Обратите внимание на различия в использовании конструкций. Слова <span class="construction">к примеру</span> и <span class="construction"> например</span> могут быть в начале или в середине предложения, а слово <span class="construction">Так</span> только в начале предложения. Конструкция <span class="construction">Так, Cl</span> в качестве примера приводит целую ситуацию, которая описана целым предложением (Cl = sentence, clause). Конструкции к <span class="construction">примеру, XP/Cl</span> и <span class="construction">например, XP/Cl</span> могут описывать как целую ситуацию, так и элемент ситуации, поэтому в этих конструкциях слот XP/Cl заполняется фразой или целым предложением (XP=phrase, Cl = sentence, clause): <i>к примеру, Вася</i> (XP); <i>к примеру, в Москве</i> (XP); <i>к примеру, домой</i> (XP) vs. <i>К примеру, я никогда не был в Москве</i> (Cl).
        </h3>
        <button onclick="Ex5_3_eng()">Show in English</button>
        <div class="translation" id="ex5_3_eng"></div><br>
        <button onclick="Ex5_3_norw()">Show in Norwegian</button>
        <div class="translation" id="ex5_3_norw"></div>
        <div class="second_indent">
            <p>1. 	Медицина бывает платной и бесплатной. В России, __________________, медицина бесплатная.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_3a_input">
            <button onclick="check_Ex5_3a()">Проверить</button><br>
            <div id="ex5_3a_result" style="display: inline-block;"></div><br>
            <button onclick="Ex5_3a()">Показать ответ</button>
            <div id="ex5_3a_ans"></div>
            <p>2. 	Чтобы хорошо себя чувствовать, нужны разные вещи. __________________, здоровый сон.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_3b_input">
            <button onclick="check_Ex5_3b()">Проверить</button><br>
            <div id="ex5_3b_result" style="display: inline-block;"></div><br>
            <button onclick="Ex5_3b()">Показать ответ</button>
            <div id="ex5_3b_ans"></div>
            <p>3. 	У всех бывают вредные привычки. __________________, я раньше много курил.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_3c_input">
            <button onclick="check_Ex5_3c()">Проверить</button><br>
            <div id="ex5_3c_result" style="display: inline-block;"></div><br>
            <button onclick="Ex5_3c()">Показать ответ</button>
            <div id="ex5_3c_ans"></div>
            <p>4. 	На этой неделе Нина сидит дома. Вчера, __________________, она не пошла на работу из-за высокой температуры, а в понедельник — из-за давления.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_3d_input">
            <button onclick="check_Ex5_3d()">Проверить</button><br>
            <div id="ex5_3d_result" style="display: inline-block;"></div><br>
            <button onclick="Ex5_3d()">Показать ответ</button>
            <div id="ex5_3d_ans"></div>
            <p>5. 	Мне нужен пластырь. Давай куда-нибудь зайдём! __________________, в аптеку или в магазин.</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_3e_input">
            <button onclick="check_Ex5_3e()">Проверить</button><br>
            <div id="ex5_3e_result" style="display: inline-block;"></div><br>
            <button onclick="Ex5_3e()">Показать ответ</button>
            <div id="ex5_3e_ans"></div>
        </div>

        <h3>3.6. Расскажите собеседнику о себе. В каждой паре предложений выберите то начало, которое вам подходит. Продолжите предложения, используя конструкции <span class="construction">К примеру, Cl/XP</span> и <span class="construction">Так, Cl</span>.</h3>
    <button onclick="Ex3_6_eng()">Show in English</button>
    <div class="translation" id="ex3_6_eng"></div><br>
    <button onclick="Ex3_6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex3_6_norw"></div><br>
    <button onclick="Ex3_6_comment()">Comment for language teachers</button>
    <div class="translation" id="ex3_6_comment"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Я обожаю домашних животных. <span class="construction">Так,</span> у меня дома живут кот, черепаха и рыбки.<br><br>
        </p>
        <p>
            1.<br>
            а. Сфера моих интересов обширна. <span class="construction">Так,</span> …<br>
            б. У меня не так много интересов. <span class="construction">Так,</span> …<br><br>

            2.<br>
            а. Я обожаю спорт. <span class="construction">К примеру,</span> …<br>
            б. Я не фанат спорта. <span class="construction">К примеру,</span> …<br><br>

            3.<br>
            а. У меня активная жизнь. <span class="construction">Так,</span> …<br>
            б. У меня не очень активная жизнь. <span class="construction">Так,</span> …<br><br>

            4.<br>
            а. Я очень люблю путешествовать. <span class="construction">К примеру,</span> …<br>
            б. Я не очень люблю путешествовать. <span class="construction">К примеру,</span> …<br><br>
        </p>
    </div>

    <h3>11.6. Заполните пропуски в предложениях, используя конструкции <span class="construction">в частности, XP/Cl</span> и
        <span class="construction">скажем, XP/Cl.</span>. Прочитайте информацию в таблице, чтобы понять, чем похожи и чем отличаются эти конструкции. В этих конструкциях слот XP/Cl заполняется фразой
        (XP=phrase) или целым предложением (Cl=clause, sentence).
    </p>
    </h3>
    <button onclick="Ex11_6_eng()">Show in English</button>
    <div class="translation" id="ex11_6_eng"></div><br>
    <button onclick="Ex11_6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_6_norw"></div>

    <table class="table_lesson" style="width: 1200px">
        <tr>
            <td><span class="construction">в частности, XP/Cl</span><br><br>
                Они занимались ремонтом техники,<span class="construction"> в
                частности</span> холодильников.<br><br>
                English
                ‘They worked with equipment repair, in
                particular refrigerators.’<br><br>
                Norwegian
                ‘... for eksempel / spesifikt ...’</td>
            <td><span class="construction">скажем, XP/Cl</span><br><br>
                Вариантов предлагается множество.
                <span class="construction">Скажем</span>, японская модель образования.<br><br>
                English
                ‘There can be many options. Let’s take for
                example the Japanese model of education.’<br><br>
                Norwegian
                ‘... for eksempel / la oss si ...’</td>
            
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">Обе конструкции вводят пояснение некоторого общего утверждения с помощью
                конкретного частного примера. В качестве примера описывается целая ситуация или
                
                называется её элемент.<br>
                <img src="../../images/11/6.jpg" alt="6" style="width: 350px;"></td>
        </tr>
        <tr>
            <td>Конструкция <span class="construction">в частности, XP/Cl</span>
                часто подчёркивает принадлежность
                приведённого примера к некоторому
                множеству.</td>
            <td>Конструкция <span class="construction">скажем, XP/Cl</span>
                часто вводит пример как гипотетически
                возможный.</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">Both constructions introduce an explanation of a general assertion by presenting a specific
                concrete example. The example usually describes an entire situation or names one of its
                
                elements.</td>
        </tr>
        <tr>
            <td>This construction <span class="construction">в частности, Cl/XP</span>
                emphasizes the fact that the given example
                belongs to a certain set.</td>
            <td>The construction <span class="construction">скажем, Cl/XP</span> often
                presents an example as hypothetically
                possible.</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">Begge konstruksjoner introduserer en nærmere forklaring på en generell påstand ved hjelp
                av et konkret, spesifikt eksempel. Eksempelet beskriver som regel en hel situasjon eller
                
                nevner et element av den.</td>
        </tr>
        <tr>
            <td>Konstruksjonen <span class="construction">в частности, Cl/XP</span>
                fremhever det anførte eksempelets
                tilhørighet til en gitt mengde.</td>
            <td>Konstruksjonen <span class="construction">скажем, Cl/XP</span> presenterer
                ofte eksempelet som noe hypotetisk mulig.</td>
        </tr>
    </table>
    <div class="second_indent">
        <ol>
            <li>Синтетические материалы сегодня активно используются в производстве одежды, <input class="input_normal" type="text" id="ex11_6a_input">, в изготовлении купальников и тёплых курток.</li>
            <div id="ex11_6a_result" style="display: inline;"></div><br>
            <li>― Назовите более конкретную цену. <input class="input_normal" type="text" id="ex11_6b_input">, двести рублей вас устроит?</li>
            <div id="ex11_6b_result" style="display: inline;"></div><br>
            <li>Ему захотелось вдруг сделать что-то необыкновенное: ну, <input class="input_normal" type="text" id="ex11_6c_input">,покрасить волосы в синий цвет или потратить все деньги на новые кожаные ботинки.</li>
            <div id="ex11_6c_result" style="display: inline;"></div><br>
            <li>Ей вручили награду за вклад в развитие киноиндустрии ― <input class="input_normal" type="text" id="ex11_6d_input">, за фильмы «Дьявол носит Prada» и «Мамма мия!».</li>
            <div id="ex11_6d_result" style="display: inline;"></div><br>
        </ol>
        <button onclick="check_Ex11_6()">Проверить</button><br><br>
        <button onclick="Ex11_6()">Показать ответ</button>
        <div id="ex11_6_ans"></div>
    </div>

    <h3>11.7. Составьте предложения. Используйте конструкцию <span class="construction">скажем, XP/Cl.</span>. В этой конструкции слот XP/Cl заполняется фразой (XP=phrase) или целым
        предложением (Cl=clause, sentence).</h3>
    <button onclick="Ex11_7_eng()">Show in English</button>
    <div class="translation" id="ex11_7_eng"></div><br>
    <button onclick="Ex11_7_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_7_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            На деловую встречу лучше надеть что-то строгое,<span class="construction">скажем,</span> рубашку и брюки.</p>
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>на вечеринку<br>
                    на деловую встречу<br>
                    на пляж<br>
                    в спортзал<br>
                    на природу/в поход<br>
                    в пустыню<br>
                    в лес зимой<br>
                    в музей<br>
                    в офис<br>
                    на улицу в дождь<br>
                    в театр<br>
                    на ужин с друзьями</td>
                <td>лучше надеть что-то</td>
                <td>необычное<br>
                    удобное<br>
                    строгое<br>
                    тёплое<br>
                    прохладное<br>
                    яркое<br>
                    солидное<br>
                    непромокаемое<br>
                    красивое<br>
                    лёгкое<br>
                    комфортное<br>
                    обычное<br>
                    повседневное<br>
                    праздничное<br>
                    дорогое<br>
                    практичное</td>
                <td><span class="construction">скажем,</span></td>
                <td>галстук<br>
                    шарф<br>
                    юбка<br>
                    пиждак<br>
                    свитер<br>
                    джинсы<br>
                    шорты<br>
                    брюки<br>
                    дождевик<br>
                    рубашка<br>
                    шуба<br>
                    пальто<br>
                    костюм<br>
                    платье<br>
                    халат<br>
                    блузка<br>
                    плащ<br>
                    футболка<br>
                    пижама<br>
                    спортивный<br>
                    костюм<br>
                    тёмные очки<br>
                    перчатки<br>
                    варежки<br>
                    шапка<br>
                    шляпа<br>
                    кепка<br>
                    бейсболка</td>
            </tr>
        </table>
    </div>

    <h3>11.10. Продолжите предложения, используя конструкцию <span class="construction">скажем, XP/Cl.</span>. В этой
        конструкции слот XP/Cl заполняется фразой (XP=phrase) или целым предложением
        (Cl=clause, sentence). Обратите внимание на падеж в скобках (), который требуется в
        предложении.
    </p>
    </h3>
    <button onclick="Ex11_10_eng()">Show in English</button>
    <div class="translation" id="ex11_10_eng"></div><br>
    <button onclick="Ex11_10_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_10_norw"></div>
    <p><b>Образец</b>:<br>
        В одежде я консервативный. <span class='construction'>Скажем,</span>, я никогда не ношу рубашку без галстука.</p>

    <div class="second_indent">
        <ol>
            <li>В повседневном стиле можно носить почти всё. Кроме, <span class='construction'>скажем</span>, _______________(Gen)</li>
            <li>Для прогулки по лесу надо одеваться удобно, <span class='construction'>скажем</span>, в ____________________(Acc)</li>
            <li>На пляже нужно защищаться от солнца с помощью, <span class='construction'>скажем</span>, __________________(Gen)</li>
            <li>Некоторые ткани нужно стирать в холодной воде, <span class='construction'>скажем</span>, __________________(Acc)</li>
        </ol>
    </div>


</div>

    <br><br>
</body>

</html>