<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/eight.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 8
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;" id="start">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 8. Еда <a href="../../files/Lesson 8. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>107</td>
                <td>дело Cop не в NP-Loc (, а в NP-Loc)</td>
                <td><span class="construction">Дело не в</span> опозданиях.</td>
            </tr>
            <tr>
                <td>687</td>
                <td>(а) насчёт NP-Gen – Cl</td>
                <td><span class="construction">А насчёт</span> папы – он уехал на рыбалку.</td>
            </tr>
            <tr>
                <td>64</td>
                <td>вот и Predicative!</td>
                <td><span class="construction">Вот и</span> чудесно!</td>
            </tr>
            <tr>
                <td>2311</td>
                <td>Cl, и на том спасибо</td>
                <td>Не обижают<span class="construction">, и на том спасибо.</span></td>
            </tr>
            <tr>
                <td>1174</td>
                <td>NP типа NP-Gen</td>
                <td>дом <span class="construction">типа</span> хижины</td>
            </tr>
        </table>
        <p>Cop = copula verb быть (связочный глагол быть)<br>
            NP = noun phrase (существительное)<br>
            Loc  = Locative case (локатив)<br>
            Gen = Genitive case (генитив)<br>
            Cl = clause, sentence (предложение)<br>
            Pred = predicative (предикатив, то есть прилагательное в краткой форме)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

    <button onclick="Ex1_eng()">Show in English</button><br>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex1_norw"></div>

    <div class="second_indent">
        <p>
            <b>а.</b><br>
            Я очень редко готовлю по интересным рецептам. <span class="construction">Дело не в том, что</span> я не люблю готовить, <span class="construction">а в том, что</span> у меня нет на это времени.
            Обычно я делаю что-то простое <span class="construction">типа</span> каши или спагетти с сыром. Поел что-то горячее, <span class="construction">и на том спасибо</span>. <span class="construction">А насчёт</span> рецептов — пробую их,
            когда ко мне приходят гости. Они всегда говорят, что я готовлю вкусные и необычные блюда. <span class="construction">Вот и</span> отлично!
        </p>
        <p>
            <b>б.</b><br>
            Вчера я был в гостях у коллеги по работе. У них дома подавали* на ужин какое-то овощное блюдо <span class="construction">типа</span> рататуя. Я не смог это есть! <span class="construction">Дело не в</span> рецепте, <span class="construction">а во</span> вкусе этого блюда.
            Они добавили очень много соли. Еда не подгорела*, <span class="construction">и на том спасибо</span>. Я ушёл голодным. <span class="construction">А насчёт</span> хозяев дома, так они в целом милые люди, но готовить не умеют.<br><br>
            *подавать — English: serve; Norwegian: servere<br>
            *подгоревшая курица — English: burnt chicken; Norwegian: brent kylling<br><br>
            <img src="../../images/8/1_1.JPG" alt="1_1" style="width: 400px;">
        </p>
        <button onclick="Ex1()">Показать ответ</button>
        <div id="ex1_ans"></div>
    </div>

    <h3>2. Соедините части предложений, подобрав логичное продолжение.Используйте
        конструкцию <span class="construction">Cl,и на том спасибо</span>. На месте Cl находится целое предложение (Cl=clause, sentence).
    </h3>
        <button onclick="Ex2_eng()">Show in English</button><br>
        <div class="translation" id="ex2_eng"></div><br>
        <button onclick="Ex2_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex2_norw"></div>

        <div class="second_indent">
            <table class="table_lesson" style="width: 650px">
                <tr>
                    <td>1. Соня опять пересолила* суп.<br><br>
                        2. Паша снова съел шоколадку вместо ужина.<br><br>
                        3. Я выпил(а) уже 3 кружки кофе за утро.<br><br>
                        4. У моего брата сильная аллергия на цитрусовые.<br><br>
                        5. Муж опять забыл убрать молоко в холодильник, и оно испортилось.
                    </td>
                    <td>а. Что-то поел.<br><br>
                        б. Никто это молоко не выпил.<br><br>
                        в. Со сметаной есть можно.<br><br>
                        г. Не пиво.<br><br>
                        д. Он может есть остальные фрукты.
                    </td>
                </tr>
            </table>
            <p>*пересолить — English: to put too much salt; Norwegian:</p>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex2_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex2()">Проверить</button><br>
            <div id="ex2_result" style="display: inline;"></div><br>
            <button onclick="Ex2()">Показать ответ</button>
            <div id="ex2_ans"></div>
        </div>

    <h3>3. Некоторые популярные в России блюда имеют аналоги в других странах. Вы сходили в кафе в Москве.
        Расскажите другу о том, какое блюдо вы попробовали, используя конструкцию <span class="construction">NP типа NP-Gen</span>.
        В этой конструкции NP — это существительное (NP=noun phrase), а NP-Gen — это существительное в генитиве (Gen=Genitive case).
    </h3>
    <button onclick="Ex3_eng()">Show in English</button><br>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex3_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:
        <br>
            Сначала я заказала оладьи. Это что-то <span class="construction">типа</span> панкейков. Затем я попробовала...<br></p>
        <table class="table_lesson">
            <tr>
                <td><img src="../../images/8/3_1.JPG" alt="3_1" style="width: 400px;"><br>Оладьи</td>
                <td><img src="../../images/8/3_2.JPG" alt="3_2" style="width: 400px;"><br>Панкейки (в английском <i>pancakes</i>)</td>
            </tr>
        </table>
        <br>
        <p><b>1.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_3.JPG" alt="3_3" style="width: 400px;"><br>Кексы</td>
            <td><img src="../../images/8/3_4.JPG" alt="3_4" style="width: 400px;"><br>Маффины (в английском <i>muffins</i>)</td>
        </table><br>
        <button onclick="Ex3a()">Показать ответ</button>
        <div id="ex3a_ans"></div>
        <p><b>2.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_5.JPG" alt="3_5" style="width: 400px;"><br>Яичница болтунья</td>
            <td><img src="../../images/8/3_6.JPG" alt="3_6" style="width: 400px;"><br>Яичный скрэмбл (в английском <i>scrambled eggs</i>)</td>
        </table><br>
        <button onclick="Ex3b()">Показать ответ</button>
        <div id="ex3b_ans"></div>
        <p><b>3.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_7.JPG" alt="3_7" style="width: 400px;"><br>Бефстроганов</td>
            <td><img src="../../images/8/3_8.JPG" alt="3_8" style="width: 400px;"><br>Гуляш (в венгерском <i>gulyás</i>)</td>
        </table><br>
        <button onclick="Ex3c()">Показать ответ</button>
        <div id="ex3c_ans"></div>
        <p><b>4.</b></p>
        <table class="table_lesson">
            <td><img src="../../images/8/3_9.JPG" alt="3_9" style="width: 400px;"><br>Творожная запеканка</td>
            <td><img src="../../images/8/3_10.JPG" alt="3_10" style="width: 400px;"><br>Чизкейк (в английском <i>сheesecake</i>)</td>
        </table><br>
        <button onclick="Ex3d()">Показать ответ</button>
        <div id="ex3d_ans"></div>
    </div>

    <h3>4. Закончите разговор, дописав третью реплику. Поставьте прилагательное в скобках () в краткую форму. Используйте конструкцию <span class="construction">вот и Pred</span>!
        В этой конструкции Pred — это предикатив, то есть прилагательное в краткой форме (Pred= predicative).
    </h3>
    <button onclick="Ex4_eng()">Show in English</button><br>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex4_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — Ждём вас на обед к двум. Придёте?<br>
            — Да.<br>
            — _____________________(чудесный)!<br><br>
            Ответ: <span class="construction">Вот и</span> чудесно!
            <br></p>
        <p>
            <b>а.</b><br>
            — Будешь чай?<br>
            — Да.<br>
            — _____________________(отличный)!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4a_input"><br>
        <div id="ex4a_result" style="display: inline;"></div><br>
        <p>
            <b>б.</b><br>
            — Как вам ужин?<br>
            — Ужин нам очнь понравился!<br>
            — _____________________(замечательный)!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4b_input"><br>
        <div id="ex4b_result" style="display: inline;"></div><br>
        <p>
            <b>в.</b><br>
            — У вас есть клубника?<br>
            — Да.
            — _____________________(прекрасный)!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4c_input"><br>
        <div id="ex4c_result" style="display: inline;"></div><br><br>
        <button onclick="check_Ex4()">Проверить</button><br>
        <button onclick="Ex4()">Показать ответ</button><br>
        <div id="ex4_ans"></div>
    </div>

    <h3>5. Вы с собеседником должны решить, что приготовить на праздничный ужин. Обсудите с ним блюда, используя конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">(а) насчёт NP-Gen – Cl</span></li>
            <li><span class="construction">вот и Pred!</span></li>
        </ul>
        В этих конструкциях NP-Gen — это существительное (NP=noun phrase) в генитиве (Gen=Genitive case), а Cl — это целое предложение (Cl=clause, sentence), Pred — это предикатив, то есть прилагательное в краткой форме (Pred= predicative), a скобки () вокруг слова означают, что это факультативный элемент конструкции.
    </h3>
    <button onclick="Ex5_eng()">Show in English</button><br>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex5_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — <span class="construction">А насчёт</span> горячего — что мы будем готовить?<br>
            — Я хочу лазанью. А ты?<br>
            — Я тоже.<br>
            — <span class="construction">Вот и</span> чудесно!<br><br>
        </p>
        <table class="table_lesson" style="width: 600px">
            <tr>
                <td><span class="construction">А насчёт</span> + NP-Gen</td>
                <td>закуски<br>
                суп<br>
                горячее<br>
                гарнир<br>
                десерт<br></td>
                <td>— что мы будем готовить?</td>
            </tr>
            <tr>
                <td><span class="construction">Вот и</span></td>
                <td colspan = "2">славно<br>
                    отлично<br>
                    хорошо<br>
                    замечательно<br>
                    чудесно<br>
                    прекрасно<br>
                </td>
            </tr>
        </table><br>
        <button onclick="Ex5()">Показать ответ</button>
        <div id="ex5_ans"></div>
    </div>

    <h3>6. Вы услышали небольшую часть разговора на улице. Попробуйте догадаться, о чём говорили до этого. Назовите тему разговора и придумайте предыдущие реплики. Используйте конструкцию <span class="construction">(а) насчёт NP-Gen – Cl. </span> <br>В этой конструкции NP-Gen — это существительное (NP=noun phrase) в генитиве (Gen=Genitive case), Cl — это целое предложение (Cl=clause, sentence), а скобки () вокруг слова означают, что это факультативный элемент.
    </h3>
    <button onclick="Ex6_eng()">Show in English</button><br>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex6_norw"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            <b>Вы услышали:</b><br>
            — Ой, мне звонят! Надо идти! <span class="construction">А насчёт</span> ужина — скажи, сможешь ли ты прийти в гости в пятницу.<br><br>
            <b>Разговор до этого:</b><br>
            <b>Тема:</b> Друзья говорили об ужине, планировали собраться на ужин.<br>
            — Давай в конце недели поужинаем у меня, заодно поиграем в настольные игры. <br>
            — Отличная идея! Правда, я пока не знаю, будет ли у меня время.
        </p>
        <p>
            <b>а.</b><br>
            <b>Вы услышали:</b><br>
            — Хорошо, я подумаю об этом. <span class="construction">Насчёт</span> рецепта пирогов — спроси у бабушки, как она их печёт.<br>
            <b>Разговор до этого:</b><br>
            ________________________________________
        </p>
        <button onclick="Ex6a()">Показать ответ</button>
        <div id="ex6a_ans"></div>
        <p>
            <b>б.</b><br>
            <b>Вы услышали:</b><br>
            — Вот это да! Хорошо, я никому не расскажу. <span class="construction">А насчёт</span> кофе — ты пробовал по утрам пить зелёный чай вместо него? Может, будешь лучше спать.<br>
            <b>Разговор до этого:</b><br>
            ________________________________________
        </p>
        <button onclick="Ex6b()">Показать ответ</button>
        <div id="ex6b_ans"></div>
        <p>
            <b>в.</b><br>
            <b>Вы услышали:</b><br>
            — Хорошо, тогда приготовлю для тебя ужин без мяса. <span class="construction">А насчёт</span> десерта — он будет из фруктов, не переживай. <br>
            <b>Разговор до этого:</b><br>
            ________________________________________
        </p>
        <button onclick="Ex6c()">Показать ответ</button>
        <div id="ex6c_ans"></div>
    </div>

    <h3>7. Вы ресторанный критик и должны оценить блюда начинающего шеф-повара. В каждом блюде вы нашли одну проблему. Объясните, в чём именно повар сделал ошибку. Используйте заметки внизу и конструкцию <span class="construction">дело Cop не в NP-Loc (, а в NP-Loc)</span>.<br>
        В этой конструкции Cop — это связочный глагол быть (Cop =copula verb), NP-Loc — это существительное (NP=noun phrase) в локативе (Loc= Locative case), а скобки () означают, что это факультативный элемент.
    </h3>
    <button onclick="Ex7_eng()">Show in English</button><br>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex7_norw"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Заметки:<br>
            Запечённое мясо: Не специи -> Мясо (несвежее).<br>
            —> <br>Запечённое мясо плохо получилось. И дело не в специях, а в мясе. Оно было несвежее.
        </p>
        <p>
            <b>а.</b><br>
            Яблочный пирог: Не мукa -> Время приготовления. Пирог не пропёкся.<br><br>
            мукa — English: flour; Norwegian: mel<br>
            время приготовления — English: cooking time; Norwegian: tiden brukt til å bake eplekake<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7a_input">
        <button onclick="check_Ex7a()">Проверить</button><br>
        <div id="ex7a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7a()">Показать ответ</button>
        <div id="ex7a_ans"></div>
        <p>
            <b>б.</b><br>
            Блины: Не тесто -> масло, слишком много<br><br>
            тесто — English: dough; Norwegian: deig<br>
            масло — English: butter; Norwegian: smør<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7b_input">
        <button onclick="check_Ex7b()">Проверить</button><br>
        <div id="ex7b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7b()">Показать ответ</button>
        <div id="ex7b_ans"></div>
        <p>
            <b>в.</b><br>
            Шоколадный торт: Не сливки для крема -> Сахар. Нужна сахарная пудра.<br><br>
            сливки — English: dairy cream; Norwegian: fløte<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7c_input">
        <button onclick="check_Ex7c()">Проверить</button><br>
        <div id="ex7c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7c()">Показать ответ</button>
        <div id="ex7c_ans"></div>
        <p>
            <b>г.</b><br>
            Эспрессо: Не сорт кофе -> обжарка, слишком светлая<br><br>
            обжарка — English: roast (about coffee); Norwegian: kaffebrenning (brenningsgrad når det gjelder kaffe)<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7d_input">
        <button onclick="check_Ex7d()">Проверить</button><br>
        <div id="ex7d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7d()">Показать ответ</button>
        <div id="ex7d_ans"></div>
        <p>
            <b>д.</b><br>
            Овощной салат: Не овощи -> оливковое масло, слишком старое<br><br>
            оливковое масло — English: olive oil; Norwegian: olivenolje<br>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7e_input">
        <button onclick="check_Ex7e()">Проверить</button><br>
        <div id="ex7e_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7e()">Показать ответ</button>
        <div id="ex7e_ans"></div>
    </div>

    <h3>8. Переделайте диалог, используя конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">(а) насчёт NP-Gen – Cl</span></li>
            <li><span class="construction">дело Cop не в NP-Loc (, а в NP-Loc)</span></li>
        </ul>
        В этих конструкциях NP-Gen — это существительное (NP=noun phrase) в генитиве (Gen=Genitive case), Cl — это целое предложение (Cl=clause, sentence), Cop — это связочный глагол быть (Cop =copula verb), NP-Loc — это существительное (NP=noun phrase) в локативе (Loc= Locative case), а скобки () обозначают факультативный элемент.
    </h3>
    <button onclick="Ex8_eng()">Show in English</button><br>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex8_norw"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — Яйца не вредные. Почему ты не хочешь их готовить? (вредный — вред)<br>
            — У меня на них аллергия. <br>
            —><br>
            — <span class="construction">А насчёт</span> яиц, они не вредные. Почему ты не хочешь их готовить? <br>
            — <span class="construction">Дело не во</span> вреде, <span class="construction">а в том, что</span> у меня на них аллергия.<br>
        </p>
        <p>
            <b>а.</b><br>
            — Рецепт блинов очень простой, нужно просто смешать все ингредиенты. Почему ты не хочешь их готовить?<br>
            — Я не умею их жарить.<br>
            —><br>
            — <span class="construction">А насчёт</span> <input class="input_normal" type="text" id="ex8a1_input"> , <input class="input_normal" type="text" id="ex8a2_input">. Почему ты не хочешь их готовить? <span id="ex8a1_result" style="display: inline-block;"></span> <span id="ex8a2_result" style="display: inline-block;"></span><br>
            — <span class="construction">Дело не в</span> <input class="input_normal" type="text" id="ex8a3_input">, <span class="construction">а в том, что</span> <input class="input_normal" type="text" id="ex8a4_input">. <span id="ex8a3_result" style="display: inline-block;"></span> <span id="ex8a4_result" style="display: inline-block;"></span>
        </p>
        <button onclick="check_Ex8a()">Проверить</button><br>
        <button onclick="Ex8a()">Показать ответ</button>
        <div id="ex8a_ans"></div>
        <p>
            <b>б.</b><br>
            — Баклажаны очень вкусные. Почему ты не хочешь их готовить? (вкусный — вкус)<br>
            — Сейчас баклажанов нет в магазине.<br>
            —><br>
            — <span class="construction">А насчёт</span> <input class="input_normal" type="text" id="ex8b1_input"> , <input class="input_normal" type="text" id="ex8b2_input">. Почему ты не хочешь их готовить? <span id="ex8b1_result" style="display: inline-block;"></span> <span id="ex8b2_result" style="display: inline-block;"></span><br>
            — <span class="construction">Дело не во</span> <input class="input_normal" type="text" id="ex8b3_input">, <span class="construction">а в том, что</span> <input class="input_normal" type="text" id="ex8b4_input">. <span id="ex8b3_result" style="display: inline-block;"></span> <span id="ex8b4_result" style="display: inline-block;"></span>
        </p>
        <button onclick="check_Ex8b()">Проверить</button><br>
        <button onclick="Ex8b()">Показать ответ</button>
        <div id="ex8b_ans"></div>
        <p>
            <b>в.</b><br>
            — Чтобы испечь этот пирог, нужно потратить время, но получается очень вкусно. Почему ты не хочешь его готовить?<br>
            — У меня нет духовки.<br>
            —><br>
            — <span class="construction">А насчёт</span> <input class="input_normal" type="text" id="ex8c1_input"> , <input class="input_normal" type="text" id="ex8c2_input">. Почему ты не хочешь его готовить? <span id="ex8c1_result" style="display: inline-block;"></span> <span id="ex8c2_result" style="display: inline-block;"></span><br>
            — <span class="construction">Дело не во</span> <input class="input_normal" type="text" id="ex8c3_input">, <span class="construction">а в том, что</span> <input class="input_normal" type="text" id="ex8c4_input">. <span id="ex8c3_result" style="display: inline-block;"></span> <span id="ex8c4_result" style="display: inline-block;"></span>
        </p>
        <button onclick="check_Ex8c()">Проверить</button><br>
        <button onclick="Ex8c()">Показать ответ</button>
        <div id="ex8c_ans"></div>
        <p>
            <b>г.</b><br>
            — В этом блюде самые простые ингредиенты. Почему ты не хочешь его готовить?<br>
            — У меня нет на это времени.<br>
            —><br>
            — <span class="construction">А насчёт</span> <input class="input_normal" type="text" id="ex8d1_input"> , <input class="input_normal" type="text" id="ex8d2_input">. Почему ты не хочешь его готовить? <span id="ex8d1_result" style="display: inline-block;"></span> <span id="ex8d2_result" style="display: inline-block;"></span><br>
            — <span class="construction">Дело не в</span> <input class="input_normal" type="text" id="ex8d3_input">, <span class="construction">а в том, что</span> <input class="input_normal" type="text" id="ex8d4_input">. <span id="ex8d3_result" style="display: inline-block;"></span> <span id="ex8d4_result" style="display: inline-block;"></span>
        </p>
        <button onclick="check_Ex8d()">Проверить</button><br>
        <button onclick="Ex8d()">Показать ответ</button>
        <div id="ex8d_ans"></div>
    </div>

    <h3>9. Вы с другом в ресторане. Вам нужно сделать заказ. Посмотрите на меню и обсудите, что вы будете заказывать в каждой категории блюд.</h3>
    <button onclick="Ex9_eng()">Show in English</button><br>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex9_norw"></div><br>
    <button onclick="Ex9_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex9_comment"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — <span class="construction">А что насчёт</span> десерта?<br>
            — <span class="construction">А насчёт</span> десерта — давай закажем шоколадный торт.<br>
            — Я не хочу.<br>
            — Почему?<br>
            — <span class="construction">Дело не в</span> цене, <span class="construction">а в том, что</span> у меня аллергия на шоколад.<br>
            — Ну давай закажем мороженое.<br>
            — Давай!<br>
            — <span class="construction">Вот и</span> хорошо!<br>
        </p>
        <p>
            <img src="../../images/8/9_1.png" alt="9_1" style="width: 700px;">
        </p>
    </div>

    <h3>10. Вы собираетесь пригласить друзей на ужин. Сейчас вы в магазине покупаете продукты. Обсудите с вашим другом, что вы купите, сколько вам нужно каждого продукта и что вы приготовите.<br>
        Используйте конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">(а) насчёт NP-Gen – Cl</span></li>
            <li><span class="construction">вот и Pred!</span></li>
            <li><span class="construction">дело Cop не в NP-Loc (, а в NP-Loc)</span></li>
            <li><span class="construction">NP типа NP-Gen</span></li>
        </ul>
        В этих конструкциях<br>
            NP-Gen — это существительное (NP=noun phrase) в генитиве (Gen=Genitive case), <br>
            Cl — это целое предложение (Cl=clause, sentence), <br>
            Pred — это предикатив, то есть прилагательное в краткой форме (Pred= predicative), <br>
            Cop — это связочный глагол быть (Cop =copula verb), <br>
            NP-Loc — это существительное (NP=noun phrase) в локативе (Loc= Locative case), <br>
            скобки () обозначают факультативные элементы.
    </h3>
    <button onclick="Ex10_eng()">Show in English</button><br>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex10_norw"></div><br>
    <button onclick="Ex10_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex10_comment"></div>
    <div class="second_indent">
        <p><b>1. День рождения</b>
            <ul>
                <li>10 человек</li>
                <li>18-20 лет</li>
                <li>крепкий алкоголь не пьют</li>
                <li>любят итальянскую кухню (italiensk kjøkken)</li>
                <li>5 человек — вегетарианцы</li>
            </ul>
        </p>
        <p><b>1. Новоселье</b>
            <ul>
                <li>20 гостей</li>
                <li>30-45 лет</li>
                <li>любят русскую кухню</li>
                <li>пьют виски и кока-колу</li>
                <li>у 6 человек аллергия на яйца и лактозу</li>
            </ul>
        </p>
        <p><b>3. Романтический ужин </b>
            <ul>
                <li>2 человека</li>
                <li>32 и 28 лет</li>
                <li>алкоголь не пьют</li>
                <li>любят кухню Юго-Восточной Азии</li>
            </ul>
        </p>
    </div>

    <h3> 11*. Бонусное упражнение.<br>
        Вы с другом готовите борщ. У вас есть список ингредиентов. Друг сказал, что купит всё необходимое. Обсудите с другом, который вернулся из магазина, всё ли он купил.
    </h3>
    <button onclick="Ex11_eng()">Show in English</button><br>
    <div class="translation" id="ex11_eng"></div><br>
    <button onclick="Ex11_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex11_norw"></div><br>
    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>Ингредиенты:</td>
                <td>Что купил друг:</td>
            </tr>
            <tr>
                <td valign="top">
                    <ul style="margin-top: 0">
                        <li>500 г. говядины*</li>
                        <li>4 картофелины</li>
                        <li>2 свёклы*</li>
                        <li>1 морковь</li>
                        <li>2 луковицы</li>
                        <li>300 г. капусты*</li>
                        <li>подсолнечное масло*</li>
                        <li>томатная паста</li>
                        <li>лимон, по вкусу</li>
                        <li>чеснок*</li>
                        <li>лавровый лист*</li>
                    </ul>
                </td>
                <td valign="top">
                    <ul style="margin-top: 0">
                        <li>Говядина*</li>
                        <li>Картошка</li>
                        <li>Свёкла</li>
                        <li>Капуста</li>
                        <li>Чеснок</li>
                    </ul>
                </td>
            </tr>
        </table>
        <p>говядина — English: beef; Norwegian: storfekjøtt<br>
            свёкла — English: beetroot; Norwegian: rødbete<br>
            капуста — English: cabbage; Norwegian: kål<br>
            подсолнечное масло — English: sunflower oil; Norwegian: solsikkeolje<br>
            чеснок — English: garlic; Norwegian: hvitløk<br>
            лавровый лист — English: bay leaf; Norwegian: laurbærblad
        </p>
        <p><b>Образец</b>:<br>
            — <span class="construction">А что насчёт</span> чеснока — ты его купил?<br>
            — Да, купил, но забыл взять лимон.<br>
            — <span class="construction">Вот и</span> славно! Чеснок не забыл, <span class="construction">и на том спасибо!</span><br>
            ...
        </p>
    </div>

    <h3>12. Напишите короткий текст про ваш поход в ресторан. Что вы заказали, какие блюда попробовали, что понравилось, а что нет? Используйте все новые конструкции этого урока.
    </h3>
    <button onclick="Ex12_eng()">Show in English</button><br>
    <div class="translation" id="ex12_eng"></div><br>
    <button onclick="Ex12_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex12_norw"></div><br>


    <a class = "no_undscr" href="../lessons/seven.html" style="color: inherit;">&lt; Назад</a>
    <a class = "no_undscr" href="#start" style="color: inherit;">|&nbsp;&nbsp;&nbsp;&nbsp;В начало страницы&nbsp;&nbsp;&nbsp;&nbsp;|</a>
    <a class = "no_undscr" href="../lessons/nine.html" style="color: inherit;">Вперед &gt;</a>
</div>

    <br><br>
</body>

</html>