<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/eleven.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 11
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 11. Одежда <a href="../../files/Lesson 11. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>759</td>
                <td>в заключение Cl</td>
                <td><span class="construction">В заключение</span> я хочу поблагодарить всех сотрудников нашей фирмы.</td>
            </tr>
            <tr>
                <td>1957</td>
                <td>Итак, Cl</td>
                <td><span class="construction">Итак</span>, мы вкратце рассказали об особенностях двух культур.</td>
            </tr>
            <tr>
                <td>1894</td>
                <td>XP/Cl, XP/Cl и так далее/и т. д.</td>
                <td>Кто-то займётся спортом, кто-то будет слушать музыку, кто-то танцевать <span class="construction">и так далее</span>.</td>
            </tr>
            <tr>
                <td>1895</td>
                <td>NP, NP и тому подобное/и т. п.</td>
                <td>Здесь продаются разные справочники, журналы, книги <span class="construction">и тому подобное</span>.</td>
            </tr>
            <tr>
                <td>839</td>
                <td>в частности, XP/Cl</td>
                <td>Они занимались ремонтом техники, <span class="construction">в частности</span> холодильников.</td>
            </tr>
            <tr>
                <td>2349</td>
                <td>скажем, XP/Cl</td>
                <td>Вариантов предлагается множество. <span class="construction">Скажем</span>, японская модель образования.</td>
            </tr>
        </table>
        <p>VP = verb phrase (глагол)<br>
            Cl = clause, sentence (предложение)<br>
            XP = phrase, sentence (фраза)<br>
            NP = noun phrase (существительное)
        </p>
        <p>Русский конструктикон содержит
            информацию обо всех конструкциях урока <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    
            <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

            <button onclick="Ex1_eng()">Show in English</button>
            <div class="translation" id="ex1_eng"></div><br>
            <button onclick="Ex1_norw()">Show in Norwegian</button>
            <div class="translation" id="ex1_norw"></div>
        
            <div class="second_indent">
                <p>
                    <b>Профессор</b>: <span class="construction">Итак</span>, мы с вами обсудили женскую моду начала XX века. <span class="construction">В заключение</span> хочу
                    добавить, что в этой время обувь также становится очень важна. Её делают из разных
                    материалов: кожи, шёлка, атласа <span class="construction">и так далее</span>. Модные в это время туфли, сапожки <span class="construction">и тому
                    подобное</span> вызывают восхищение.<br><br>
                    <b>Юля</b>: Простите, а можно задать вопрос?<br><br>
                    <b>Профессор</b>: Да, конечно!<br><br>
                    <b>Юля</b>: Мы сейчас говорим об обуви, которую носили аристократы. А в чём ходили простые
                    люди? <span class="construction">Скажем</span>, рабочие.<br><br>
                    <b>Профессор</b>: Это отличный вопрос! Простые люди, <span class="construction">в частности</span> рабочие и городские
                    жители, обычно носили грубые туфли и сапоги из кожи. Этим людям нужно было много
                    ходить, поэтому они выбирали удобную обувь на небольшом каблуке.
                </p>
            </div>

            <h3>2. Вы владелец модного бренда и получаете престижную награду за свою работу. На
                церемонии награждения вы произносите речь, в конце которой используете
                конструкцию <span class="construction">в заключение Cl</span>. В этой конструкции слот Cl заполняется целым
                предложением (Cl=clause, sentence). Составьте предложения из частей, предложенных в
                таблице.</h3>
            <button onclick="Ex2_eng()">Show in English</button>
            <div class="translation" id="ex2_eng"></div><br>
            <button onclick="Ex2_norw()">Show in Norwegian</button>
            <div class="translation" id="ex2_norw"></div>

            <div class="second_indent">
                <p><b>Образец</b>:<br>
                    <span class="construction">В заключение</span> хочу добавить, что эта награда  — результат отличной работы всех наших
                    сотрудников.<br>
                    <span class="construction">В заключение</span>, мы продолжим радовать вас нашими платьями.<br></p>
                <table class="table_lesson" style="width: 1000px">
                    <tr>
                        <td rowspan="6">В заключение</td>
                        <td >хочу добавить, что</td>
                        <td>теперь мы будем производить ещё и обувь!</td>
                    </tr>
                    <tr>
                        <td>хочется подчеркнуть, что</td>
                        <td>эта награда очень важна для нашего бренда.</td>
                    </tr>
                    <tr>
                        <td>мне бы хотелось сказать,
                            что</td>
                        <td>мы продолжим радовать вас нашими
                            платьями.</td>
                    </tr>
                    <tr>
                        <td>можно сказать, что</td>
                        <td>эта награда  — результат отличной работы

                            всех наших сотрудников.</td>
                    </tr>
                    <tr>
                        <td>важно упомянуть, что</td>
                        <td>наш бренд молодой и эта награда  —
                            только начало большого пути.</td>
                    </tr>
                    <tr>
                        <td colspan="2">, мы гордимся этой наградой и благодарим всех за поддержку нашего
                            бренда!</td>
                    </tr>
                    
                </table>
            </div>

            <h3>3. Вы стилист и ведёте блог о моде. Расскажите своим подписчикам в социальных сетях,
                что будут носить люди весной и летом этого года. Используйте фото ниже. Подведите
                итог своему рассказу, используя конструкцию <span class="construction">Итак, Cl.</span> В этой конструкции Cl — это
                целое предложение (Cl=clause, sentence).</h3>
            <button onclick="Ex3_eng()">Show in English</button>
            <div class="translation" id="ex3_eng"></div><br>
            <button onclick="Ex3_norw()">Show in Norwegian</button>
            <div class="translation" id="ex3_norw"></div>

            <div class="second_indent">
                <p><b>Образец</b>:<br>
                    <span class="construction">Итак,</span> в этом сезоне люди будут носить блузки ярких цветов. Например, красные.<br>
                    <span class="construction">Итак,</span> в этом сезоне будут в моде блузки ярких цветов. Например, красные.<br>
                    <span class="construction">Итак,</span> в этом сезоне будет модно носить блузки ярких цветов. Например, красные.<br></p>
                <table class="table_lesson" style="width: 1000px">
                    <tr>
                        <td><img src="../../images/11/3_1.jpg" alt="3_1" style="width: 200px;"></td>
                        <td><img src="../../images/11/3_2.jpg" alt="3_2" style="width: 200px;"></td>
                        <td><img src="../../images/11/3_3.jpg" alt="3_3" style="width: 200px;"></td>
                    </tr>
                    
                </table>
                <button onclick="Ex3a()">Показать ответ</button>
                <div id="ex3a_ans"></div>
                <table class="table_lesson" style="width: 1000px">
                    <tr>
                        <td><img src="../../images/11/3_4.jpg" alt="3_1" style="width: 200px;"></td>
                        <td><img src="../../images/11/3_5.jpg" alt="3_2" style="width: 450px;"></td>
                        <td><img src="../../images/11/3_6.jpg" alt="3_3" style="width: 200px;"></td>
                    </tr>
                </table>
                <button onclick="Ex3b()">Показать ответ</button>
                <div id="ex3b_ans"></div>
            </div>

            <h3>4. Составьте предложения с перечислением объектов. В конце предложения
                используйте конструкции:
                <ul type="circle">
                    <li><span class="construction">XP/Cl, XP/Cl и так далее/и т. д.</span></li>
                    <li><span class="construction">NP, NP и тому подобное/и т. п.</span></li>
                </ul>
                В этих конструкциях слот XP/Cl заполняется фразой (XP=phrase) или целым
                предложением (Cl=clause, sentence), а NP — это существительное (NP=noun phrase).
            </h3>
            <button onclick="Ex4_eng()">Show in English</button>
            <div class="translation" id="ex4_eng"></div><br>
            <button onclick="Ex4_norw()">Show in Norwegian</button>
            <div class="translation" id="ex4_norw"></div>
        
            <div class="second_indent">
                <b>Образец</b>:<br>
                    (постоянно мёрзнуть) (свитер, толстовка, тёплый кардиган, шарф)<br>
                    -&gt;<ul>
                        <li>Я постоянно мёрзну, поэтому всегда ношу свитера, толстовки, тёплые кардиганы,
                            шарфы <span class="construction">и так далее</span>.</li>
                        <li>Оля постоянно мёрзнет. Из-за этого она всё время носит свитера, толстовки,
                            тёплые кардиганы, шарфы <span class="construction">и тому подобное</span>.</li>
                    </ul><br>
                <ol>
                    <li>(Одежда тёплых цветов) (красный, оранжевый, коричневый, жёлтый)</li>
                    <button onclick="Ex4a()">Показать ответ</button>
                    <div id="ex4a_ans"></div>
                    <li>(Одежда в полоску) (брюки, рубашка, кеды, куртка)</li>
                    <button onclick="Ex4b()">Показать ответ</button>
                    <div id="ex4b_ans"></div>
                    <li>(Тема вечеринки — звёзды* на красной дорожке) (вечерние платья в пол, нарядные
                        костюмы, туфли на каблуках)<br><br>
                        звёзды* — English: celebrities; Norwegian: kjendiser</li>
                    <button onclick="Ex4c()">Показать ответ</button>
                    <div id="ex4c_ans"></div>
                    <li>(Одежда для похода — практичная и удобная) (футболка, свитер, непромокаемая
                        куртка, тёплые ботинки, шапка)</li>
                    <button onclick="Ex4d()">Показать ответ</button>
                    <div id="ex4d_ans"></div>
                </ol>
            </div>



            <h3>5. Составьте предложения, подобрав логичное продолжение. В конце предложения
                используйте конструкции:
                <ul type="circle">
                    <li><span class="construction">XP/Cl, XP/Cl и так далее/и т. д.</span></li>
                    <li><span class="construction">NP, NP и тому подобное/и т. п.</span></li>
                </ul>
                В этих конструкциях слот XP/Cl заполняется фразой (XP=phrase) или целым
                предложением (Cl=clause, sentence), а NP — это существительное (NP=noun phrase).
            </h3>
            <button onclick="Ex5_eng()">Show in English</button>
            <div class="translation" id="ex5_eng"></div><br>
            <button onclick="Ex5_norw()">Show in Norwegian</button>
            <div class="translation" id="ex5_norw"></div>
            <div class="second_indent">
            <table class="table_lesson" style="width: 1200px">
                <tr>
                    <td>1. Оля часто покупает себе
                        новую обувь:</td>
                    <td>а. купить стильные джинсы,
                        трендовые кроссовки, несколько
                        универсальных футболок…</td>
                    <td rowspan="4">и так далее.<br>
                        и тому подобное.</td>
                </tr>
                <tr>
                    <td>2. Мой отец любит яркую
                        одежду:</td>
                    <td>б. туфли, сапоги, босоножки, кеды…</td>
                </tr>
                <tr>
                    <td>3. Сергей хочет обновить
                        свой гардероб:</td>
                    <td>в. шляпа, солнечные очки, стильное
                        платье, шёлковый шарф на шее…</td>
                </tr>
                <tr>
                    <td>4. Настя одевается как
                        кинозвезда:</td>
                    <td>г. у него есть синие ботинки, зелёные
                        носки, красный галстук, рубашки в
                        клетку, футболка с цветочками…</td>
                </tr>
            </table><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_input" placeholder="1а, 2б, 3в, 4г">
            <button onclick="check_Ex5()">Проверить</button><br>
            <div id="ex5_result" style="display: inline;"></div><br>
            <button onclick="Ex5()">Показать ответ</button>
            <div id="ex5_ans"></div>

        </div>

        <h3>6. Заполните пропуски в предложениях, используя конструкции <span class="construction">в частности, XP/Cl</span> и
            <span class="construction">скажем, XP/Cl.</span>. Прочитайте информацию в таблице, чтобы понять, чем похожи и чем отличаются эти конструкции. В этих конструкциях слот XP/Cl заполняется фразой
            (XP=phrase) или целым предложением (Cl=clause, sentence).
        </p>
        </h3>
        <button onclick="Ex6_eng()">Show in English</button>
        <div class="translation" id="ex6_eng"></div><br>
        <button onclick="Ex6_norw()">Show in Norwegian</button>
        <div class="translation" id="ex6_norw"></div>
    
        <table class="table_lesson" style="width: 1200px">
            <tr>
                <td><span class="construction">в частности, XP/Cl</span><br><br>
                    Они занимались ремонтом техники,<span class="construction"> в
                    частности</span> холодильников.<br><br>
                    English
                    ‘They worked with equipment repair, in
                    particular refrigerators.’<br><br>
                    Norwegian
                    ‘... for eksempel / spesifikt ...’</td>
                <td><span class="construction">скажем, XP/Cl</span><br><br>
                    Вариантов предлагается множество.
                    <span class="construction">Скажем</span>, японская модель образования.<br><br>
                    English
                    ‘There can be many options. Let’s take for
                    example the Japanese model of education.’<br><br>
                    Norwegian
                    ‘... for eksempel / la oss si ...’</td>
                
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">Обе конструкции вводят пояснение некоторого общего утверждения с помощью
                    конкретного частного примера. В качестве примера описывается целая ситуация или
                    
                    называется её элемент.<br>
                    <img src="../../images/11/6.jpg" alt="6" style="width: 350px;"></td>
            </tr>
            <tr>
                <td>Конструкция <span class="construction">в частности, XP/Cl</span>
                    часто подчёркивает принадлежность
                    приведённого примера к некоторому
                    множеству.</td>
                <td>Конструкция <span class="construction">скажем, XP/Cl</span>
                    часто вводит пример как гипотетически
                    возможный.</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">Both constructions introduce an explanation of a general assertion by presenting a specific
                    concrete example. The example usually describes an entire situation or names one of its
                    
                    elements.</td>
            </tr>
            <tr>
                <td>This construction <span class="construction">в частности, Cl/XP</span>
                    emphasizes the fact that the given example
                    belongs to a certain set.</td>
                <td>The construction <span class="construction">скажем, Cl/XP</span> often
                    presents an example as hypothetically
                    possible.</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">Begge konstruksjoner introduserer en nærmere forklaring på en generell påstand ved hjelp
                    av et konkret, spesifikt eksempel. Eksempelet beskriver som regel en hel situasjon eller
                    
                    nevner et element av den.</td>
            </tr>
            <tr>
                <td>Konstruksjonen <span class="construction">в частности, Cl/XP</span>
                    fremhever det anførte eksempelets
                    tilhørighet til en gitt mengde.</td>
                <td>Konstruksjonen <span class="construction">скажем, Cl/XP</span> presenterer
                    ofte eksempelet som noe hypotetisk mulig.</td>
            </tr>
        </table>
        <div class="second_indent">
            <ol>
                <li>Синтетические материалы сегодня активно используются в производстве одежды, <input class="input_normal" type="text" id="ex6a_input">, в изготовлении купальников и тёплых курток.</li>
                <div id="ex6a_result" style="display: inline;"></div><br>
                <li>― Назовите более конкретную цену. <input class="input_normal" type="text" id="ex6b_input">, двести рублей вас устроит?</li>
                <div id="ex6b_result" style="display: inline;"></div><br>
                <li>Ему захотелось вдруг сделать что-то необыкновенное: ну, <input class="input_normal" type="text" id="ex6c_input">,покрасить волосы в синий цвет или потратить все деньги на новые кожаные ботинки.</li>
                <div id="ex6c_result" style="display: inline;"></div><br>
                <li>Ей вручили награду за вклад в развитие киноиндустрии ― <input class="input_normal" type="text" id="ex6d_input">, за фильмы «Дьявол носит Prada» и «Мамма мия!».</li>
                <div id="ex6d_result" style="display: inline;"></div><br>
            </ol>
            <button onclick="check_Ex6()">Проверить</button><br><br>
            <button onclick="Ex6()">Показать ответ</button>
            <div id="ex6_ans"></div>
        </div>

        <h3>7. Составьте предложения. Используйте конструкцию <span class="construction">скажем, XP/Cl.</span>. В этой конструкции слот XP/Cl заполняется фразой (XP=phrase) или целым
            предложением (Cl=clause, sentence).</h3>
        <button onclick="Ex7_eng()">Show in English</button>
        <div class="translation" id="ex7_eng"></div><br>
        <button onclick="Ex7_norw()">Show in Norwegian</button>
        <div class="translation" id="ex7_norw"></div>

        <div class="second_indent">
            <p><b>Образец</b>:<br>
                На деловую встречу лучше надеть что-то строгое,<span class="construction">скажем,</span> рубашку и брюки.</p>
            <table class="table_lesson" style="width: 650px">
                <tr>
                    <td>на вечеринку<br>
                        на деловую встречу<br>
                        на пляж<br>
                        в спортзал<br>
                        на природу/в поход<br>
                        в пустыню<br>
                        в лес зимой<br>
                        в музей<br>
                        в офис<br>
                        на улицу в дождь<br>
                        в театр<br>
                        на ужин с друзьями</td>
                    <td>лучше надеть что-то</td>
                    <td>необычное<br>
                        удобное<br>
                        строгое<br>
                        тёплое<br>
                        прохладное<br>
                        яркое<br>
                        солидное<br>
                        непромокаемое<br>
                        красивое<br>
                        лёгкое<br>
                        комфортное<br>
                        обычное<br>
                        повседневное<br>
                        праздничное<br>
                        дорогое<br>
                        практичное</td>
                    <td><span class="construction">скажем,</span></td>
                    <td>галстук<br>
                        шарф<br>
                        юбка<br>
                        пиждак<br>
                        свитер<br>
                        джинсы<br>
                        шорты<br>
                        брюки<br>
                        дождевик<br>
                        рубашка<br>
                        шуба<br>
                        пальто<br>
                        костюм<br>
                        платье<br>
                        халат<br>
                        блузка<br>
                        плащ<br>
                        футболка<br>
                        пижама<br>
                        спортивный<br>
                        костюм<br>
                        тёмные очки<br>
                        перчатки<br>
                        варежки<br>
                        шапка<br>
                        шляпа<br>
                        кепка<br>
                        бейсболка</td>
                </tr>
            </table>
        </div>

        <h3>8. Соедините предложения или части предложений, подобрав логичное
            продолжение. Конструкция <span class="construction">в частности, XP/Cl</span> может присоединять целое предложение
            (Cl) или только часть предложения, фразу (XP).
        </h3>
        <button onclick="Ex8_eng()">Show in English</button>
        <div class="translation" id="ex8_eng"></div><br>
        <button onclick="Ex8_norw()">Show in Norwegian</button>
        <div class="translation" id="ex8_norw"></div>
        <div class="second_indent">
        <table class="table_lesson" style="width: 1200px">
            <tr>
                <td>1. Представители многих профессий должны
                    носить форму,</td>
                <td>а. В частности, стюардессам запрещено
                    иметь татуировки и делать яркий
                    маникюр.</td>
            </tr>
            <tr>
                <td>2. Ограничения на внешний вид могут
                    касаться не только одежды, но и тела
                    человека.</td>
                <td>б. В частности, лучше избегать ()
                    массивных кроссовок или ярких
                    шнурков.</td>
            </tr>
            <tr>
                <td>3. Деловой стиль одежды часто требуется на
                    официальных мероприятиях,</td>
                <td>в. в частности, пилоты и машинисты
                    поездов.</td>
            </tr>
            <tr>
                <td>4. Современный деловой образ допускает
                    спортивную обувь, но действовать нужно
                    аккуратно.</td>
                <td>г. в частности, на престижных
                    конференциях или серьёзных деловых
                    встречах.</td>
            </tr>
            <tr>
                <td>5. Шик может быть выражен аксессуарами,</td>
                <td>д. в частности, дорогим галстуком,
                    часами или очками.</td>
            </tr>
        </table><br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex8_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex8()">Проверить</button><br>
        <div id="ex8_result" style="display: inline;"></div><br>
        <button onclick="Ex8()">Показать ответ</button>
        <div id="ex8_ans"></div>

        </div>

        <h3>9. Продолжите предложения, используя конструкцию <span class="construction">в частности, XP/Cl</span>. В этой
            конструкции слот XP/Cl заполняется фразой (XP=phrase) или целым предложением
            (Cl=clause, sentence).
        </p>
        </h3>
        <button onclick="Ex9_eng()">Show in English</button>
        <div class="translation" id="ex9_eng"></div><br>
        <button onclick="Ex9_norw()">Show in Norwegian</button>
        <div class="translation" id="ex9_norw"></div>
        <p><b>Образец</b>:<br>
            Красивая одежда не обязательно дорогая.<br>
            —&gt; Красивая одежда не обязательно дорогая. <span class='construction'>В частности</span>, можно покупать вещи с рук
            (например, на finn.no).</p>

        <div class="second_indent">
            <ol>
                <li>Стиль и мода — это разные вещи. <span class='construction'>В частности</span>, ________________________</li>
                <li>Для хорошего гардероба не нужно много вещей. <span class='construction'>В частности</span>, _____________________</li>
                <li>Современная мода очень либеральна. <span class='construction'>В частности</span>, _____________________</li>
                <li>Внешний вид может помочь в работе. <span class='construction'>В частности</span>, _____________________</li>
            </ol>
            <button onclick="Ex9()">Показать ответ</button>
            <div id="ex9_ans"></div>
        </div>

        <h3>10. Продолжите предложения, используя конструкцию <span class="construction">скажем, XP/Cl.</span>. В этой
            конструкции слот XP/Cl заполняется фразой (XP=phrase) или целым предложением
            (Cl=clause, sentence). Обратите внимание на падеж в скобках (), который требуется в
            предложении.
        </p>
        </h3>
        <button onclick="Ex10_eng()">Show in English</button>
        <div class="translation" id="ex10_eng"></div><br>
        <button onclick="Ex10_norw()">Show in Norwegian</button>
        <div class="translation" id="ex10_norw"></div>
        <p><b>Образец</b>:<br>
            В одежде я консервативный. <span class='construction'>Скажем,</span>, я никогда не ношу рубашку без галстука.</p>

        <div class="second_indent">
            <ol>
                <li>В повседневном стиле можно носить почти всё. Кроме, <span class='construction'>скажем</span>, _______________(Gen)</li>
                <li>Для прогулки по лесу надо одеваться удобно, <span class='construction'>скажем</span>, в ____________________(Acc)</li>
                <li>На пляже нужно защищаться от солнца с помощью, <span class='construction'>скажем</span>, __________________(Gen)</li>
                <li>Некоторые ткани нужно стирать в холодной воде, <span class='construction'>скажем</span>, __________________(Acc)</li>
            </ol>
        </div>

        <h3>11. Заполните пропуски, используя слова
        <ul>
            <li><span class='construction'>Итак,</span></li>
            <li><span class='construction'>в частности</span></li>
            <li><span class='construction'>и тому подобное</span></li>
            <li><span class='construction'>Скажем,</span></li>
        </ul>
        </h3>
        <button onclick="Ex11_eng()">Show in English</button>
        <div class="translation" id="ex11_eng"></div><br>
        <button onclick="Ex11_norw()">Show in Norwegian</button>
        <div class="translation" id="ex11_norw"></div>
    
        <div class="second_indent">
            <p>
                Не вся одежда подходит для работы в офисе. 1 <input class="input_normal" type="text" id="ex11a_input">, если юрист придёт на
                работу в шортах, его начальник будет, скорее всего, недоволен. Уместные* в офисе вещи
                — это одежда делового стиля, 2 <input class="input_normal" type="text" id="ex11b_input">, брюки, рубашки, пиджаки, туфли 3
                <input class="input_normal" type="text" id="ex11c_input">. В школах России дети тоже носят одежду делового стиля, и это
                называется «форма»: бордовый пиджак с белой рубашкой, чёрные брюки с жилеткой,
                строгий синий сарафан и так далее. Носить форму неприятно: каждый день ходишь в
                одной и той же скучной одежде. Считается, что так дети будут меньше отвлекаться от
                учёбы и не будут судить друг друга «по одёжке»*. 4 <input class="input_normal" type="text" id="ex11d_input">, одежда делового
                стиля — это скучно, но необходимо.<br><br>
                *уместные — English: appropriate; Norwegian:<br>
                * судить «по одёжке» — English: first impressions count; judge someone by their clothes;
                Norwegian: dømme noen etter utseendet
            </p>
            <button onclick="check_Ex11()">Проверить</button><br><br>
            <div id="ex11_result" style="display: inline;"></div><br>
            <button onclick="Ex11()">Показать ответ</button>
            <div id="ex11_ans"></div>
        </div>

        <h3>12. Как одевались люди в разные времена? Выберите изображение и опишите его по
            плану.
        </h3>
        <button onclick="Ex12_eng()">Show in English</button>
        <div class="translation" id="ex12_eng"></div><br>
        <button onclick="Ex12_norw()">Show in Norwegian</button>
        <div class="translation" id="ex12_norw"></div>
        <p><b>Образец</b>:<br>
            В одежде я консервативный. <span class='construction'>Скажем</span>, я никогда не ношу рубашку без галстука.</p>

        <div class="second_indent">
            <ul>
                <li>Мне больше всего нравится, как одевались люди в __________________ годы.</li>
                <li><span class='construction'>В частности,</span> я считаю, что __________________</li>
                <li>Ещё они выбирали __________________<span class='construction'>и тому подобное.</span></li>
                <li>Я сам(а) бы мог(ла) надеть такой наряд, <span class='construction'>скажем</span>на __________________. (бал /
                    вечеринку / церемонию награждения и т.п.).  Но к сожалению, такую одежду
                    больше не носят.</li>
                <li><span class='construction'>Итак</span>, моя любимая эпоха — это __________________</li>
                <li><span class='construction'>В заключение</span> хочу добавить, что __________________  / хочется сказать, что
                    __________________</li>
            </ul>

            а.<table>
                <tr>
                    <td><img src="../../images/11/12_1.jpg" alt="12_1" style="width: 400px;"></td>
                    <td>1950-е годы
                        <ul>
                            <li>Приталенное платье</li>
                            <li>Пышная юбка</li>
                            <li>Широкий ремень</li>
                            <li>Туфли на каблуках</li>
                            <li>Строгий костюм</li>
                        </ul>
                    </td>
                </tr>
            </table>
            б.<table>
                <tr>
                    <td><img src="../../images/11/12_2.jpg" alt="12_2" style="width: 400px;"></td>
                    <td>1920-е годы
                        <ul>
                            <li>Женская шляпка</li>
                            <li>Короткие волосы</li>
                            <li>Блузка</li>
                            <li>Кардиган</li>
                            <li>Плиссированная юбка
                                (юбка-плиссе) до
                                колена</li>
                            <li>Туфли с узким носком
                                на низких каблуках</li>
                            <li>Бусы</li>
                        </ul>
                    </td>
                </tr>
            </table>
            в.<table>
                <tr>
                    <td><img src="../../images/11/12_3.jpg" alt="12_3" style="width: 400px;"></td>
                    <td>1900-е годы
                        <ul>
                            <li>Большие женские
                                шляпы с перьями</li>
                            <li>Платья в пол</li>
                            <li>Вышивка на одежде</li>
                            <li>Бусы</li>
                        </ul>
                    </td>
                </tr>
            </table>
            г.<table>
                <tr>
                    <td><img src="../../images/11/12_4.jpg" alt="12_4" style="width: 400px;"></td>
                    <td>начало 1900-х годов
                        <ul>
                            <li>Мужской костюм-
                                тройка: пиджак,
                                жилет, брюки</li>
                            <li>У мужчин: рубашка,
                                галстук, трость</li>
                            <li>У женщин: длинная
                                юбка, платье в пол</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <h3>13. Прочитайте текст о том, что такое цветотип. Заполните пропуски, используя слова
            <ul>
                <li><span class='construction'>и так далее</span></li>
                <li><span class='construction'>грубо говоря</span></li>
                <li><span class='construction'>скажем,</span></li>
                <li><span class='construction'>в частности</span></li>
                <li><span class='construction'>на самом деле</span></li>
            </ul>
            </h3>
            <button onclick="Ex13_eng()">Show in English</button>
            <div class="translation" id="ex13_eng"></div><br>
            <button onclick="Ex13_norw()">Show in Norwegian</button>
            <div class="translation" id="ex13_norw"></div>
        
            <div class="second_indent">
                <p>
                    Цветотип — это цветовой тип внешности, он есть у каждого. Считается, что существует
                    четыре цветотипа: весна, лето, осень и зима (1 <input class="input_normal" type="text" id="ex13a_input">, у каждого времени
                    года есть ещё более подробная классификация: 2 <input class="input_normal" type="text" id="ex13b_input">, цветотип весна
                    может быть тёплым, ярким или светлым). Определить ваше «время года» можно по
                    цвету волос, кожи, глаз, губ 3 <input class="input_normal" type="text" id="ex13c_input">. 4 <input class="input_normal" type="text" id="ex13d_input">, цветотип
                    помогает понять, какой цвет одежды больше подойдёт человеку. 5 <input class="input_normal" type="text" id="ex13e_input">,
                    людям с рыжими волосами обычно идёт одежда тёплых оттенков, а людям с чёрными
                    волосами лучше носить вещи ярких цветов.            
                </p>
                img
                <button onclick="check_Ex13()">Проверить</button><br><br>
                <div id="ex13_result" style="display: inline;"></div><br>
                <button onclick="Ex13()">Показать ответ</button>
                <div id="ex13_ans"></div>
            </div>


            <h3>14. Вы стилист. Помогите клиенту подобрать одежду. Какой цветотип у вашего клиента?
                Напишите короткий текст для вашего клиента с вашими советами. Используйте
                информацию о цветотипах из упражнения 13 и конструкции
                <ul>
                    <li><span class='construction'>в заключение VP/Cl</span></li>
                    <li><span class='construction'>Итак, Cl</span></li>
                    <li><span class='construction'>XP/Cl, XP/Cl и так далее/и т. д.</span></li>
                    <li><span class='construction'>NP, NP и тому подобное/и т. п.</span></li>
                    <li><span class='construction'>в частности, Cl/XP</span></li>
                    <li><span class='construction'>скажем, Cl/XP</span></li>
                </ul>
                </h3>
                <button onclick="Ex14_eng()">Show in English</button>
                <div class="translation" id="ex14_eng"></div><br>
                <button onclick="Ex14_norw()">Show in Norwegian</button>
                <div class="translation" id="ex14_norw"></div>
            
                <p><b>Образец</b>:<br>
                    Кристина, 25 лет<br>
                    <img src="../../images/11/14_1.jpg" alt="14_1" style="width: 400px;"><br>
                Совет стилиста:<br>
                Цветотип Кристины — лето: у неё голубые глаза холодного оттенка и светлые волосы.
                Кристине подойдут неяркие холодные цвета, <span class='construction'>в частности</span>, сиреневый, голубой,
                бирюзовый <span class='construction'>и так далее. Скажем</span>, она будет прекрасно выглядеть в голубой рубашке,
                светлых джинсах, синем пальто и бежевых ботинках. Также ей подойдёт пастельно-
                розовая толстовка, светло-серый свитер, бежевая куртка <span class='construction'>и тому подобное. Итак</span>, мы
                собрали для Кристины новый гардероб.</p>

                <div class="second_indent">
                    <table>
                        <tr>
                            <td><img src="../../images/11/14_2.jpg" alt="14_2" style="width: 400px;"><br>
                                1. Инна, 29 лет</td>
                            <td><img src="../../images/11/14_3.jpg" alt="14_3" style="width: 250px;"><br>
                                2. Олег, 29 лет</td>
                            <td><img src="../../images/11/14_4.jpg" alt="14_4" style="width: 400px;"><br>
                                3. Костя, 31 год</td>
                        </tr>
                    </table>
                </div>

                <h3>15. Бонусное упражнение*
                    Помогите выбрать подходящую одежду вашему другу или подруге.
                    </h3>
                    <button onclick="Ex15_eng()">Show in English</button>
                    <div class="translation" id="ex15_eng"></div><br>
                    <button onclick="Ex15_norw()">Show in Norwegian</button>
                    <div class="translation" id="ex15_norw"></div>
                
                    <p>Люба: собеседование, помощник юриста<br>
                        Вика: экскурсия по храмам Москвы<br>
                        Миша: поход в горы<br>
                        Захар: свадьба подруги, свидетель</p>
                    </div>



</div>

    <br><br>
</body>

</html>