<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../scripts/five.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 5
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 5. Повторение  уроков 1-4 <a href="../../files/Урок 5 Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <h2>Часть 1. Конструкции, которые вводят дополнительную информацию</h2>
    <button onclick="Pt1_eng()">Show in English</button>
    <div class="translation" id="pt1_eng"></div><br>
    <button onclick="Pt1_norw()">Show in Norwegian</button>
    <div class="translation" id="pt1_norw"></div>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>170</td>
            <td>кроме того XP/Cl</td>
            <td>Он<span class="construction">, кроме того, </span>плавает. </td>
        </tr>
        <tr>
            <td>1093</td>
            <td>к тому же XP/Cl</td>
            <td><span class="construction">К тому же</span> каждый день шёл снег.</td>
        </tr>
        <tr>
            <td>1867</td>
            <td>плюс/вдобавок (ко всему/к тому/к этому), Cl</td>
            <td><span class="construction">Плюс ко всему,</span> погода резко испортилась.</td>
        </tr>
        <tr>
            <td>1874</td>
            <td>(Так) мало того – Cl</td>
            <td><span class="construction">Мало того,</span> Маша привела с собой друзей.</td>
        </tr>
        <tr>
            <td>1868</td>
            <td>ко всему прочему, Cl</td>
            <td><span class="construction">Ко всему прочему,</span> он курит и пьёт.</td>
        </tr>
        <tr>
            <td>170</td>
            <td>кроме того XP/Cl</td>
            <td>Он<span class="construction">, кроме того,</span> плавает.</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока <a href="https://constructicon.github.io/russian/" target="_blank"
                                                                                style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>1. Соедините предложения, подобрав логичное продолжение.</h3>
    <button onclick="Ex1_eng()">Show in English</button>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button>
    <div class="translation" id="ex1_norw"></div>

    <table>
        <tr>
            <td>1. Иван — студент-программист, учится на отлично!</td>
            <td>a. <span class="construction">К тому же,</span> нет ветра.</td>
        </tr>
        <tr>
            <td>2. Сегодня очень хорошая погода.</td>
            <td>б. <span class="construction">Мало того,</span> она ещё и заразилась коронавирусом, когда была в больнице.</td>

        </tr>
        <tr>
            <td>3. Мне очень нравится моя новая работа: интересная, приятные коллеги, недалеко от дома.</td>
            <td>в. <span class="construction">Кроме того,</span> Иван — спортсмен, хорошо играет в волейбол.</td>
        </tr>
        <tr>
            <td>4. Маша недавно сломала руку. </td>
            <td>г. <span class="construction">Ко всему прочему,</span> она потеряла паспорт в метро.</td>
        </tr>
        <tr>
            <td>5. У Оли сегодня был трудный день</td>
            <td>д. <span class="construction">Плюс ко всему,</span> высокая зарплата.</td>
        </tr>
    </table>

    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex1_input">
    <button onclick="check_Ex1()">Проверить</button><br>
    <div id="ex1_result" style="display: inline-block;"></div><br>
    <button onclick="Ex1()">Показать ответ</button>
    <div id="ex1_ans"></div>

    <h3>
        2. Заполните пропуски. В каждом случае выберите подходящую конструкцию из двух предложенных.
        <ol>
            <li>а. к тому же 		б. а именно</li>
            <li>а. Например 		б. Кроме того</li>
            <li>a. Мало того		б. Иными словами</li>
            <li>a. В целом		б. Ко всему прочему</li>
            <li>a. Таким образом 	б. Плюс ко всему</li>
        </ol>
    </h3>
    <button onclick="Ex2_eng()">Show in English</button>
    <div class="translation" id="ex2_eng"></div><br>
    <button onclick="Ex2_norw()">Show in Norwegian</button>
    <div class="translation" id="ex2_norw"></div>

    <p>Летом я хочу поехать в Россию. Планирую посетить Москву и Санкт-Петербург, 1__________________ побывать в городах Золотого кольца. Давно хотел посмотреть на Красную площадь, музеи, дворцы, старинные монастыри. 2_____________, в июне в Москве будет мой друг Илья, хочу его увидеть. Илья работает врачом, у него маленькая зарплата и много стресса. 3_____________ , недавно его бросила девушка, поэтому Илья грустит. 4_____________ , у Ильи заболел кот. Думаю, Илья будет рад погулять по Москве со мной и забыть о проблемах. 5_____________ , мы можем пойти в бар, чтобы пить и веселиться.</p>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex2_input">
    <button onclick="check_Ex2()">Проверить</button><br>
    <div id="ex2_result" style="display: inline-block;"></div><br>
    <button onclick="Ex2()">Показать ответ</button>
    <div id="ex2_ans"></div>

    <h2>Часть 2. Конструкции, которые вводят пример</h2>
    <button onclick="Pt2_eng()">Show in English</button>
    <div class="translation" id="pt2_eng"></div><br>
    <button onclick="Pt2_norw()">Show in Norwegian</button>
    <div class="translation" id="pt2_norw"></div>

    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>1841</td>
            <td>например, XP/Cl</td>
            <td><span class="construction">Например,</span> в Финляндии запретили курить везде в общественных местах.</td>
        </tr>
        <tr>
            <td>1840</td>
            <td>к примеру, XP/Cl</td>
            <td>Вот, <span class="construction">к примеру,</span> мне нравится Мерилин Монро.</td>
        </tr>
        <tr>
            <td>2350</td>
            <td>так, Cl</td>
            <td>Кошки намного хуже нас видят цвета. <span class="construction">Так,</span> красный цвет им недоступен.</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока <a href="https://constructicon.github.io/russian/" target="_blank"
                                                                                style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>
        3. Заполните пропуски словами из списка
        <ul>
            <li>а. <span class="construction">к примеру</span></li>
            <li>б. <span class="construction"> например,</span></li>
            <li>в. <span class="construction">Так,</span></li>
        </ul>
        Обратите внимание на различия в использовании конструкций. Слова <span class="construction">к примеру</span> и <span class="construction"> например</span> могут быть в начале или в середине предложения, а слово <span class="construction">Так</span> только в начале предложения. Конструкция <span class="construction">Так, Cl</span> в качестве примера приводит целую ситуацию, которая описана целым предложением (Cl = sentence, clause). Конструкции к <span class="construction">примеру, XP/Cl</span> и <span class="construction">например, XP/Cl</span> могут описывать как целую ситуацию, так и элемент ситуации, поэтому в этих конструкциях слот XP/Cl заполняется фразой или целым предложением (XP=phrase, Cl = sentence, clause): <i>к примеру, Вася</i> (XP); <i>к примеру, в Москве</i> (XP); <i>к примеру, домой</i> (XP) vs. <i>К примеру, я никогда не был в Москве</i> (Cl).
    </h3>
    <button onclick="Ex3_eng()">Show in English</button>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button>
    <div class="translation" id="ex3_norw"></div>
    <div class="second_indent">
        <p>1. 	Медицина бывает платной и бесплатной. В России, __________________, медицина бесплатная.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3a_input">
        <button onclick="check_Ex3a()">Проверить</button><br>
        <div id="ex3a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3a()">Показать ответ</button>
        <div id="ex3a_ans"></div>
        <p>2. 	Чтобы хорошо себя чувствовать, нужны разные вещи. __________________, здоровый сон.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3b_input">
        <button onclick="check_Ex3b()">Проверить</button><br>
        <div id="ex3b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3b()">Показать ответ</button>
        <div id="ex3b_ans"></div>
        <p>3. 	У всех бывают вредные привычки. __________________, я раньше много курил.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3c_input">
        <button onclick="check_Ex3c()">Проверить</button><br>
        <div id="ex3c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3c()">Показать ответ</button>
        <div id="ex3c_ans"></div>
        <p>4. 	На этой неделе Нина сидит дома. Вчера, __________________, она не пошла на работу из-за высокой температуры, а в понедельник — из-за давления.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3d_input">
        <button onclick="check_Ex3d()">Проверить</button><br>
        <div id="ex3d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3d()">Показать ответ</button>
        <div id="ex3d_ans"></div>
        <p>5. 	Мне нужен пластырь. Давай куда-нибудь зайдём! __________________, в аптеку или в магазин.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3e_input">
        <button onclick="check_Ex3e()">Проверить</button><br>
        <div id="ex3e_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3e()">Показать ответ</button>
        <div id="ex3e_ans"></div>
    </div>

    <h3>4. Заполните пропуски, выбрав подходящую конструкцию из списка.</h3>
    <button onclick="Ex4_eng()">Show in English</button>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_norw"></div>
    <div class="second_indent">
        <p>1. Нашей компании нужны новые сотрудники, __________ программисты и веб-дизайнеры.</p>
        <p>
            а. <span class="construction">кроме того XP/Cl</span>
            б. <span class="construction">в целом Cl</span>
            в. <span class="construction">а именно, XP/Cl</span>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4a_input">
        <button onclick="check_Ex4a()">Проверить</button><br>
        <div id="ex4a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4a()">Показать ответ</button>
        <div id="ex4a_ans"></div>
        <p>2. Кристина хочет выучить какой-нибудь новый язык, __________  испанский.</p>
        <p>
            а. <span class="construction">таким образом, Cl</span>
            б. <span class="construction">например, XP/Cl</span>
            в. <span class="construction">в-NumOrd-ых, XP/Cl</span>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4b_input">
        <button onclick="check_Ex4b()">Проверить</button><br>
        <div id="ex4b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4b()">Показать ответ</button>
        <div id="ex4b_ans"></div>
        <p>3. Число людей с высшим образованием разное в разных регионах России. __________  в Москве высшее образование получили 80% жителей.</p>
        <p>
            а. <span class="construction">к тому же XP/Cl</span>
            б. <span class="construction">так, Cl</span>
            в. <span class="construction">честно говоря, Cl</span>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4c_input">
        <button onclick="check_Ex4c()">Проверить</button><br>
        <div id="ex4c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4c()">Показать ответ</button>
        <div id="ex4c_ans"></div>
        <p>
            4. В России многие организации* работают по субботам. __________ , банки.<br>
            организации* — English: institution, organization; Norwegian: organisasjon
        </p>
        <p>
            а. <span class="construction">например, Cl/XP</span>
            б. <span class="construction">в целом Cl</span>
            в. <span class="construction">честно говоря, Cl</span>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4d_input">
        <button onclick="check_Ex4d()">Проверить</button><br>
        <div id="ex4d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4d()">Показать ответ</button>
        <div id="ex4d_ans"></div>
        <p>5. У вас с собой есть документы? __________  , паспорт или водительские права.</p>
        <p>
            а. <span class="construction">к примеру, Cl/XP</span>
            б. <span class="construction">кроме того XP/Cl</span>
            в. <span class="construction">таким образом, Cl</span>
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4e_input">
        <button onclick="check_Ex4e()">Проверить</button><br>
        <div id="ex4e_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4e()">Показать ответ</button>
        <div id="ex4e_ans"></div>
    </div>

    <h3>5. Расскажите о вашем друге своему начальнику, чтобы он захотел взять вашего друга на работу. Расскажите не только о профессиональных, но и о личных качествах вашего друга. Используйте предложенный план.</h3>
    <button onclick="Ex5_eng()">Show in English</button>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button>
    <div class="translation" id="ex5_norw"></div>
    <div class="second_indent">
        <p><b>План</b></p>
        <p>
            Мой друг _________________ — отличный кандидат на должность (Gen) ______________.
            <span class="construction">Во-первых,</span> __________________________________________________________________ .
            <span class="construction">Кроме того,</span> _________________________________________________________________ .
            <span class="construction">К тому же,</span> ___________________________________________________________________.
            Он(а) <span class="construction">не только</span> ________________________ , <span class="construction">но и</span> _________________________________.
            <span class="construction">К примеру,</span> __________________________________________________________________ .
            Он(а) ________________________ , <span class="construction">иными словами</span> ________________________________.
            <span class="construction">Что касается</span> _____________________ , <span class="construction">то</span> он(а) ____________________________________ .
            <span class="construction">В целом,</span> __________________________________________________________________________ .
        </p>
        <table>
            <th colspan="2">а. Ваш друг — программист</th>
            <tr>
                <td>Личные качества</td>
                <td>Профессиональные качества</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Ответственный(ая)</li>
                        <li>Общительный(ая)</li>
                        <li>Открытый(ая)</li>
                        <li>Весёлый(ая) (У него/неё есть чувство юмора)</li>
                        <li>Мы вместе играем в футбол</li>
                        <li>Занимается спортом</li>
                        <li>Говорит на трёх языках и учит китайский</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Всё делает вовремя (не пропускает дедлайны)</li>
                        <li>Создал(а) 32 сайта для разных магазинов</li>
                        <li>Умеет создавать мобильные приложения для iOS и Android</li>
                        <li>У него/неё есть высшее образование</li>
                        <li>Ходит на новые курсы по программированию</li>
                        <li>Знает языки программирования Python, C++</li>
                        <li>Работает по ночам, офис не любит</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table>
            <th colspan="2">б. Ваш друг — шеф-повар</th>
            <tr>
                <td>Личные качества</td>
                <td>Профессиональные качества</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Общительный(ая)</li>
                        <li>Креативный(ая)</li>
                        <li>Весёлый(ая) (У него/неё есть чувство юмора)</li>
                        <li>Требовательный(ая)</li>
                        <li>Властный(ая) (любит командовать)</li>
                        <li>Предприимчивый(ая)</li>
                        <li>Знает итальянский и английский, но не знает норвежский</li>
                        <li>Любит кино и кататься на горных лыжах</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Готовит блюда трёх кухонь: итальянская, греческая, русская</li>
                        <li>Умеет готовить десерты</li>
                        <li>Проходил(а) стажировку в Италии</li>
                        <li>Участвует в кулинарных конкурсах</li>
                        <li>Работал(а) в двух ресторанах</li>
                        <li>У него/неё нет высшего образования</li>
                        <li>Всё делает в последний момент</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table>
            <th colspan="2">в. Ваш друг — журналист</th>
            <tr>
                <td>Личные качества</td>
                <td>Профессиональные качества</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Ответственный(ая)</li>
                        <li>Коммуникабельный(ая)</li>
                        <li>Открытый(ая)</li>
                        <li>Весёлый(ая) (У него/неё есть чувство юмора)</li>
                        <li>Не пунктуальный(ая)</li>
                        <li>Вспыльчивый(ая) (легко начинает конфликт)</li>
                        <li>Разбирается в политике, искусстве и спорте</li>
                        <li>Говорит на двух языках и учит русский</li>
                        <li>Много путешествует</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Делает много дел одновременно</li>
                        <li>Пишет статьи для трёх газет</li>
                        <li>Не умеет планировать свой день</li>
                        <li>У него/неё есть высшее образование</li>
                        <li>Ходит на курсы графического дизайна</li>
                        <li>Знает многих политиков и актёров</li>
                        <li>Ориентирован(а) на результат</li>
                    </ul>
                </td>
            </tr>
        </table>
        <table>
            <th colspan="2">г. Ваш друг — юрист </th>
            <tr>
                <td>Личные качества</td>
                <td>Профессиональные качества</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Ответственный(ая)</li>
                        <li>Не общительный(ая)</li>
                        <li>Дипломатичный(ая)</li>
                        <li>Дотошный(ая)</li>
                        <li>Пунктуальный(ая)</li>
                        <li>Не любит спорт, совместные праздники и поездки</li>
                        <li>Интроверт</li>
                        <li>Говорит на английском, норвежском и русском</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Всё делает заранее (не пропускает дедлайны)</li>
                        <li>Выиграл(а) 70% дел</li>
                        <li>Знает международное право</li>
                        <li>У него/неё есть высшее образование</li>
                        <li>Разбирается в документах</li>
                        <li>Ориентирован(а) на результат</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <h2>Часть 3. Конструкции, которые подводят итог</h2>
    <button onclick="Pt3_eng()">Show in English</button>
    <div class="translation" id="pt3_eng"></div><br>
    <button onclick="Pt3_norw()">Show in Norwegian</button>
    <div class="translation" id="pt3_norw"></div>
    <table class="table_lesson">
        <tr>
            <th>ID</th>
            <th>Construction</th>
            <th>Illustration</th>
        </tr>
        <tr>
            <td>836</td>
            <td>в целом Cl</td>
            <td><span class="construction">В целом</span> кино достойно просмотра.</td>
        </tr>
        <tr>
            <td>1839</td>
            <td>таким образом, Cl</td>
            <td><span class="construction">Таким образом,</span> наша команда за год добилась важных результатов.</td>
        </tr>
        <tr>
            <td>1100</td>
            <td>как бы то ни было, Cl</td>
            <td>На новой клавиатуре клавиши расположены странно. <span class="construction">Как бы то ни было,</span> к этому быстро привыкаешь.</td>
        </tr>
        <tr>
            <td>1870</td>
            <td>(да) и вообще, Cl</td>
            <td><span class="construction">Да и вообще,</span> я слишком занят.</td>
        </tr>
    </table>
    <p>XP = phrase (фраза)<br>
        Cl = clause, sentence (предложение)
    </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока <a href="https://constructicon.github.io/russian/" target="_blank"
                                                                                style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>
        6. Заполните пропуски словами из списка:<br>
        а. <span class="construction">В целом</span><br>
        б. <span class="construction">Таким образом</span><br>
        в. <span class="construction">Как бы то ни было</span><br>
        г. <span class="construction">Да и вообще</span>
    </h3>
    <button onclick="Ex6_eng()">Show in English</button>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex6_norw"></div>
    <div class="second_indent">
        <p>1.	У Антона хорошая работа, большой дом. Недавно он купил дорогую машину. Не знаю, новую или нет. _______________ денег у него много, поэтому он может купить любую.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6a_input">
        <button onclick="check_Ex6a()">Проверить</button><br>
        <div id="ex6a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6a()">Показать ответ</button>
        <div id="ex6a_ans"></div>
        <p>2.	Я люблю ходить к Ивановым в гости. У них дома всегда тепло и уютно. _____________ они очень гостеприимные.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6b_input">
        <button onclick="check_Ex6b()">Проверить</button><br>
        <div id="ex6b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6b()">Показать ответ</button>
        <div id="ex6b_ans"></div>
        <p>3.	Учёные провели эксперимент и узнали, что новое лекарство от кашля намного эффективнее старого. ______________ теперь нам будет легче лечиться при коронавирусе.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6c_input">
        <button onclick="check_Ex6c()">Проверить</button><br>
        <div id="ex6c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6c()">Показать ответ</button>
        <div id="ex6c_ans"></div>
        <p>4.	Сейчас болеют очень много людей. Власти говорят, что ______________ ситуация под контролем, но все равно нам нужно быть осторожными.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6d_input">
        <button onclick="check_Ex6d()">Проверить</button><br>
        <div id="ex6d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6d()">Показать ответ</button>
        <div id="ex6d_ans"></div>
    </div>

    <h2>Часть 4. Соединяем конструкции из разных групп</h2>
    <button onclick="Pt4_eng()">Show in English</button>
    <div class="translation" id="pt4_eng"></div><br>
    <button onclick="Pt4_norw()">Show in Norwegian</button>
    <div class="translation" id="pt4_norw"></div>

    <h3>7. Составьте текст о ваших увлечениях по модели. Используйте предложенные конструкции.</h3>
    <button onclick="Ex7_eng()">Show in English</button>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button>
    <div class="translation" id="ex7_norw"></div><br>
    <button onclick="Ex7_comment()">Comment for language teachers</button>
    <div class="translation" id="ex7_comment"></div>
    <p>a.</p>
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/5/1.png" alt="Diagram" style="height: 600px;">
    </div>
    <button onclick="Ex7a()">Показать ответ</button>
    <div id="ex7a_ans"></div>
    <p>б.</p>
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/5/2.png" alt="Diagram" style="height: 600px;">
    </div>
    <button onclick="Ex7b()">Показать ответ</button>
    <div id="ex7b_ans"></div>

    <h3>8. Составьте текст о профессии переводчика. Используйте предложенные конструкции.</h3>
    <button onclick="Ex8_eng()">Show in English</button>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button>
    <div class="translation" id="ex8_norw"></div>

    <div style="display: inline-block; width: 100%;">
        <img src="../../images/5/3.png" alt="Diagram" style="height: 600px;">
    </div>
    <button onclick="Ex8()">Показать ответ</button>
    <div id="ex8_ans"></div>

    <h3>9. Вы продавец-консультант в магазине бытовой техники, а ваш собеседник — покупатель. Помогите покупателю выбрать товар. Прорекламируйте товар так, чтобы покупатель точно его купил. Используйте как можно больше конструкций.</h3>
    <button onclick="Ex9_eng()">Show in English</button>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button>
    <div class="translation" id="ex9_norw"></div>

    <div class="second_indent">
        <p><b>Товары на выбор:</b></p>
        <ol>
            <li>телефон</li>
            <li>телевизор</li>
            <li>наушники</li>
            <li>электрочайник</li>
            <li>умные часы</li>
        </ol>
        <p><b>Обсудить:</b></p>
        <ul>
            <li>Технические характеристики</li>
            <li>Фирма</li>
            <li>Цена</li>
            <li>Страна-производитель</li>
            <li>Гарантия</li>
            <li>Страховка, сервис</li>
        </ul>
        <p><b>Образец</b></p>
        <p>
            — Чем я могу помочь?<br>
            — Мне нужен …<br>
            ...<br>
            — <span class="construction">Что насчёт NP-Gen</span>?<br>
            — <span class="construction">Что касается NP-Gen, то</span> ...
        </p>
    </div>

    <h3>10. Вы министр здравоохранения, а ваш собеседник— журналист, который берёт у вас интервью. Обсудите ситуацию с коронавирусом в вашей стране по предложенному плану.</h3>
    <button onclick="Ex10_eng()">Show in English</button>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button>
    <div class="translation" id="ex10_norw"></div>
    <div class="second_indent">
        <p><b>План</b></p>
        <p>1.	— Как вы в целом оцениваете ситуацию? </p>
        <ul>
            <li><span class="construction">в целом</span> всё хорошо</li>
            <li><span class="construction">в целом</span> всё плохо</li>
            <li><span class="construction">в целом</span> остаётся опасность для здоровья людей</li>
            <li><span class="construction">в целом</span> опасности больше нет</li>
        </ul>
        <p>2.	— Почему Вы так считаете? </p>
        <ul>
            <li><span class="construction">во-первых,</span> ...; <span class="construction">во-вторых,</span> ....</li>
            <li><span class="construction">кроме того,</span> ...</li>
            <li><span class="construction">да и вообще,</span> ... (в конце)</li>
        </ul>
        <p>3.	— По Вашим оценкам, что будет в будущем? </p>
        <ul>
            <li><span class="construction">Kак бы то ни было,</span> ...</li>
        </ul>
        <p>4.	Подведите итог</p>
        <ul>
            <li><span class="construction">Tаким образом,</span> ...</li>
        </ul>
    </div>
    <button onclick="Ex10()">Показать ответ</button>
    <div id="ex10_ans"></div>

    <h3>11. В каждой строке таблицы найдите две конструкции с похожей функцией и назовите её. Выберите функцию из списка (a-г).</h3>
    <button onclick="Ex11_eng()">Show in English</button>
    <div class="translation" id="ex11_eng"></div><br>
    <button onclick="Ex11_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_norw"></div>
    <div class="second_indent">
        <p><b>Функции:</b></p>
        <p>
            а. ввести пример (English: give an example; Norwegian: introdusere et eksempel)<br>
            б. сделать вывод (English: draw a conclusion; Norwegian: oppsummere)<br>
            в. ввести тему (English: introduce a topic; Norwegian: introdusere et tema)<br>
            г. добавить информацию (English: add information; Norwegian: legge til informasjon)<br>
        </p>
    </div>
    <table>
        <th colspan="3"></th>
        <th>Функция</th>
        <tr>
            <td>1. кроме того XP/Cl</td>
            <td>2. к тому же XP/Cl</td>
            <td>3. таким образом, Cl</td>
            <td> </td>
        </tr>
        <tr>
            <td>1. таким образом, Cl</td>
            <td>2. в-NumOrd-ых, XP/Cl</td>
            <td>3. в целом Cl</td>
            <td> </td>
        </tr>
        <tr>
            <td>1. что касается NP-Gen, то Cl</td>
            <td>2. (а/так) что насчёт XP?</td>
            <td>3. иными/другими словами, XP/Cl</td>
            <td> </td>
        </tr>
        <tr>
            <td>1. не только XP, но и XP</td>
            <td>2. к примеру, Cl/XP</td>
            <td>3. так, Cl</td>
            <td> </td>
        </tr>
    </table>
    <button onclick="Ex11()">Показать ответ</button>
    <div id="ex11_ans"></div>

    <h3>12. Ваш друг Илья недавно расстался со своей девушкой. Вы считаете, что Илье нужна новая девушка, чтобы он не грустил. Илья хочет найти её в Тиндере. Помогите ему создать аккаунт и описать себя. Напишите, почему Илья — идеальный мужчина. Используйте конструкции из разных групп.</h3>
    <button onclick="Ex12_eng()">Show in English</button>
    <div class="translation" id="ex12_eng"></div><br>
    <button onclick="Ex12_norw()">Show in Norwegian</button>
    <div class="translation" id="ex12_norw"></div>

    <table>
        <tr>
            <td><img src="../../images/5/4.jpg" alt="Ilya" style="height: 400px;"></td>
            <td>
                Илья, 27 лет
                <ul>
                    <li>врач-терапевт, работает в поликлинике</li>
                    <li>есть кот</li>
                    <li>очень любит животных: кошек и собак</li>
                    <li>любит пить пиво, путешествовать, смотреть кино</li>
                    <li>знак зодиака — Овен</li>
                    <li>умный, весёлый, красивый, скромный</li>
                    <li>понравится не только тебе, но и твоим родителям</li>
                    <li>спортсмен: бегает 2 раза в неделю и часто играет в футбол с друзьями</li>
                </ul>
            </td>
        </tr>
    </table>
</div>
    <br><br>
</body>

</html>
