<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../scripts/four.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 4
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 4. Поход к врачу <a href="../../files/Урок 4 Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>1087</td>
                <td>иными/другими словами, XP/Cl</td>
                <td>Наш корреспондент выехал в аэропорт, чтобы взять интервью. <span class="construction">Другими словами,</span> задать несколько вопросов.</td>
            </tr>
            <tr>
                <td>1831</td>
                <td>XP/Cl, то есть XP/Cl</td>
                <td>У меня было кредитов, <span class="construction">то есть</span> долга, на два миллиона.</td>
            </tr>
            <tr>
                <td>1833</td>
                <td>XP, а именно XP</td>
                <td>Он мне подарил книгу, <span class="construction">а именно</span> энциклопедию о динозаврах.</td>
            </tr>
            <tr>
                <td>1874</td>
                <td>(Так) мало того – Cl</td>
                <td><span class="construction">Мало того,</span> Маша привела с собой друзей.</td>
            </tr>
            <tr>
                <td>1868</td>
                <td>ко всему прочему, Cl</td>
                <td><span class="construction">Ко всему прочему,</span> он курит и пьёт.</td>
            </tr>
            <tr>
                <td>1870</td>
                <td>(да) и вообще, Cl</td>
                <td><span class="construction">Да и вообще,</span> я слишком занят.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
    <p>Русский конструктикон содержит информацию обо всех конструкциях урока <a href="https://constructicon.github.io/russian/" target="_blank"
                                                                                style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>
    <button onclick="Ex1_eng()">Show in English</button>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button>
    <div class="translation" id="ex1_norw"></div>
    <div class="second_indent">
        <p>
            У Нины насморк и болит горло. <span class="construction">Ко всему прочему,</span> у Нины высокая температура.
            <span class="construction">Другими словами,</span> у нее все симптомы простуды.
            <span class="construction">Мало того,</span> врач Нины тоже болеет и не принимает больных, <span class="construction">то есть</span> нужно идти на приëм к дежурному врачу, чтобы получить больничный.
            Но тест на ковид показал, что Нина заразилась коронавирусом, <span class="construction">а именно</span> омикроном, <span class="construction">то есть</span> Нина должна сидеть дома на карантине и вызвать врача на дом.
            <span class="construction">Да и вообще,</span> все дела на работе нужно отменить.
        </p>
    </div>
    <table>
        <tr>
            <td><b>Функция: пояснить</b><br>
                English: to clarify your point<br>
                Norwegian: å tydeliggjøre et utsagn
            </td>
            <td><b>Функция: добавить информацию</b><br>
            English: to add information<br>
            Norwegian: å legge til informasjon
            </td>
        </tr>
        <tr>
            <td>
                <span class="construction">иными/другими словами, XP/Cl</span><br>
                English: ‘in other words, ...’<br>
                Norwegian: ‘med andre ord, ... ’<br><br>
                ≈<br>
                <br>
                <span class="construction">XP/Cl, то есть XP/Cl</span><br>
                English: ‘..., that is ...’<br>
                Norwegian: ‘... det vil si ...’
            </td>
            <td>
                <span class="construction">ко всему прочему, Cl</span><br>
                English: ‘On top of all of this, ...’<br>
                Norwegian: ‘Dessuten / På toppen av alt, ... ’<br><br>
                ≈<br><br>
                <span class="construction">(Так) мало того – Cl</span><br>
                Конструкция часто описывает некоторую негативную ситуацию, которая усугубляет положение дел, сложившееся в результате другой предшествующей ей негативной ситуации.<br><br>

                English: ‘and what is more...’<br>
                This construction often describes a negative situation that exacerbates the state of affairs that resulted from a preceding negative situation.<br><br>

                Norwegian: ‘Dessuten / Ikke nok med det ... ’<br>
                Konstruksjonen veldig ofte introduserer en negativ situasjon som forverrer tingenes tilstand.

            </td>
        </tr>
        <tr>
            <td>
                ≠<br>
                <span class="construction">XP, а именно XP</span><br>
                Конструкция уточняет более общее понятие (в тексте: коронавирус) через более частное (в тексте: омикрон).<br><br>

                English: ‘..., specifically, ...’ or ‘..., to be exact, ...’<br>
                Explaining a more general concept (e.g., coronavirus) by using more specific ones (e.g., Omicron).<br><br>

                Norwegian: ‘..., eller mer spesifikt, ...’<br>
                Klargjøring; X er mer generelt begrep, Y er mer spesifikt begrep: f.eks. <i>koronavirus er et bredere begrep enn omikron-varianten</i>.
            </td>
            <td>
                ≠<br>
                <span class="construction">(да) и вообще, Cl</span><br>
                Конструкция вводит заключительный и наиболее веский аргумент в ряду аргументов или причин, которые приводит говорящий для убеждения собеседника.<br><br>

                English: ‘for that matter, ...’<br>
                This construction introduces the final and the most weighty argument among the arguments or reasons that the speaker used in order to persuade the interlocutor; conclusion.<br><br>

                Norwegian: ‘generelt, ...’ eller ‘i det hele tatt, ...’<br>
                Konstruksjonen introduserer det endelige og vektigste argumentet av en rekke argumenter eller forklaringer som taleren anfører for å overbevise samtalepartneren; avslutning, konklusjon.
            </td>

        </tr>
    </table>
    <h3>
        2. Закончите предложения (1-3), подобрав подходящий вариант (а-в).
        Используйте конструкции <span class="construction">иными/другими словами, XP/Cl</span> и <span class="construction">XP/Cl, то есть XP/Cl</span>.
        Эти конструкции выполняют одну и ту же функцию и в этих предложениях являются взаимозаменяемыми.
        На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex2_eng()">Show in English</button>
    <div class="translation" id="ex2_eng"></div><br>
    <button onclick="Ex2_norw()">Show in Norwegian</button>
    <div class="translation" id="ex2_norw"></div>
    <table>
        <tr>
            <td>1. У бабушки болят глаза. Ей нужен врач, который лечит болезни глаз,</td>
            <td rowspan="3">
                <span class="construction">другими словами,</span><br>
                <span class="construction">то есть</span>
            </td>
            <td>а. стоматолог</td>
        </tr>
        <tr>
            <td>2. Маша каталась на сноуборде и сломала ногу. Ей нужен врач, который лечит переломы,</td>
            <td>б. окулист</td>
        </tr>
        <tr>
            <td>3. У Степана болит зуб. Ему нужен врач, который лечит зубы,</td>
            <td>в. хирург</td>
        </tr>
    </table>
    <p>перелом — Engish: fracture; Norwegian: brudd, beinbrudd, fraktur</p>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex2_input">
    <button onclick="check_Ex2()">Проверить</button><br>
    <div id="ex2_result" style="display: inline-block;"></div><br>
    <button onclick="Ex2()">Показать ответ</button>
    <div id="ex2_ans"></div>

    <h3>Закончите предложения (1-3), подобрав подходящий вариант (а-в). Используйте конструкцию <span class="construction">XP, а именно XP</span>. На месте XP находится слово или фраза (XP=phrase).</h3>
    <button onclick="Ex3_eng()">Show in English</button>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button>
    <div class="translation" id="ex3_norw"></div>
    <table>
        <tr>
            <td>1. У Михаила часто болит голова. Ему нужен врач,</td>
            <td rowspan="3"><span class="construction">а именно</span></td>
            <td>а. психотерапевт</td>
        </tr>
        <tr>
            <td>2. У тëти глубокая депрессия. Ей нужен специалист,</td>
            <td>б. невропатолог </td>
        </tr>
        <tr>
            <td>3. У дедушки сломался зуб. Ему нужен стоматолог,</td>
            <td>в. стоматолог-ортопед</td>
        </tr>
    </table>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex3_input">
    <button onclick="check_Ex3()">Проверить</button><br>
    <div id="ex3_result" style="display: inline-block;"></div><br>
    <button onclick="Ex3()">Показать ответ</button>
    <div id="ex3_ans"></div>

    <h3>
        4. Заполните пропуски словами из списка. Объясните, почему другие варианты не подходят. Правильных ответов может быть больше одного.<br><br>
        а. <span class="construction">другими словами</span><br>
        б. <span class="construction">то есть</span><br>
        в. <span class="construction">а именно</span>
    </h3>
    <button onclick="Ex4_eng()">Show in English</button>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_norw"></div>

    <div class="second_indent">
        <p>1. Когда вы пойдëте в больницу, возьмите с собой нужные документы, ____________ паспорт и медицинский полис.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4a_input">
        <button onclick="check_Ex4a()">Проверить</button><br>
        <div id="ex4a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4a()">Показать ответ</button>
        <div id="ex4a_ans"></div>
        <p>2. Я реагирую на кошек и собак, ____________ у меня на них аллергия.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4b_input">
        <button onclick="check_Ex4b()">Проверить</button><br>
        <div id="ex4b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4b()">Показать ответ</button>
        <div id="ex4b_ans"></div>
        <p>3. Томас постоянно играет в компьютерные игры, ____________ у него игромания, ____________ игровая зависимость* (spilleavhengighet).</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4c_input">
        <button onclick="check_Ex4c()">Проверить</button><br>
        <div id="ex4c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4c()">Показать ответ</button>
        <div id="ex4c_ans"></div>
        <p>4. При коронавирусе бывают разные симптомы, ____________ насморк, температура, кашель, диарея.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4d_input">
        <button onclick="check_Ex4d()">Проверить</button><br>
        <div id="ex4d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex4d()">Показать ответ</button>
        <div id="ex4d_ans"></div>
    </div>

    <h3>5. Проанализируйте схему. Чем отличаются конструкции <span class="construction">(Так) мало того – Cl</span> и <span class="construction">ко всему прочему, Cl</span>?</h3>
    <button onclick="Ex5_eng()">Show in English</button>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button>
    <div class="translation" id="ex5_norw"></div>
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/4/1.png" alt="Diagram" style="height: 400px;">
    </div>

    <h3>
        6. Заполните пропуски, используя конструкции<br><br>
        а. <span class="construction">(Так) мало того – Cl</span><br>
        б. <span class="construction">ко всему прочему, Cl</span>.<br><br>
        В некоторых случаях обе конструкции подходят. В этих конструкциях Cl — это целое предложение (Cl=clause, sentence) ), а скобки () обозначают факультативный элемент.
    </h3>
    <button onclick="Ex6_eng()">Show in English</button>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex6_norw"></div>
    <div class="second_indent">
        <p>1.	Больница по выходным работает только утром, ________________, недолго.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6a_input">
        <button onclick="check_Ex6a()">Проверить</button><br>
        <div id="ex6a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6a()">Показать ответ</button>
        <div id="ex6a_ans"></div>
        <p>2.	Больничный у нашего врача получить сложно, ________________, его долго оформляют.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6b_input">
        <button onclick="check_Ex6b()">Проверить</button><br>
        <div id="ex6b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6b()">Показать ответ</button>
        <div id="ex6b_ans"></div>
        <p>3.	Трудно работать, когда у тебя насморк, кашель и, ________________, температура. </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6c_input">
        <button onclick="check_Ex6c()">Проверить</button><br>
        <div id="ex6c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6c()">Показать ответ</button>
        <div id="ex6c_ans"></div>
        <p>4.	Я плохо себя чувствовала всю неделю, у меня болела голова, ________________, вчера заболел мой сын.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6d_input">
        <button onclick="check_Ex6d()">Проверить</button><br>
        <div id="ex6d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6d()">Показать ответ</button>
        <div id="ex6d_ans"></div>
    </div>

    <h3>7. Составьте предложения, соединив жалобы по модели с помощью конструкций <span class="construction">(Так) мало того – Cl</span> и <span class="construction">ко всему прочему, Cl</span>. В этих конструкциях Cl — это целое предложение (Cl=clause, sentence) ), а скобки () обозначают факультативный элемент.</h3>
    <button onclick="Ex7_eng()">Show in English</button>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button>
    <div class="translation" id="ex7_norw"></div>

    <p><b>Модель</b></p>
    <table>
        <tr>
            <td>У меня ______________ <span class="construction">Mало того,</span> ____________ <span class="construction">Kо всему прочему,</span> ____________</td>
        </tr>
    </table>
    <p><b>Образец</b></p><br>
    <p>
        болит голова + насморк + кашель<br>
        -><br>
        У меня болит голова. <span class="construction">Mало того,</span> у меня насморк и, <span class="construction">ко всему прочему,</span> кашель.
    </p>
    <div class="second_indent">
        <p>1.	высокая температура + болит всё тело + озноб*</p>
        <p>озноб — English: chills; Norwegian: frysninger</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7a_input">
        <button onclick="check_Ex7a()">Проверить</button><br>
        <div id="ex7a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7a()">Показать ответ</button>
        <div id="ex7a_ans"></div>
        <p>2.	низкое давление* + слабость* + я упал(а) в обморок</p>
        <p>
            низкое давление — English: low blood pressure; Norwegian: lavt blodtrykk<br>
            слабость — English: fatigue; Norwegian: slapphet
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7b_input">
        <button onclick="check_Ex7b()">Проверить</button><br>
        <div id="ex7b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7b()">Показать ответ</button>
        <div id="ex7b_ans"></div>
        <p>3.	болит рука + болят ноги + высокое давление*</p>
        <p>высокое давление — English: high blood pressure; Norwegian: høyt blodtrykk</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7c_input">
        <button onclick="check_Ex7c()">Проверить</button><br>
        <div id="ex7c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7c()">Показать ответ</button>
        <div id="ex7c_ans"></div>
    </div>

    <h3>8. Соедините части предложений с помощью конструкции <span class="construction">(да) и вообще, Cl</span>. В этой конструкции Cl — это целое предложение (Cl=clause, sentence), а скобки () обозначают факультативный элемент.</h3>
    <button onclick="Ex8_eng()">Show in English</button>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button>
    <div class="translation" id="ex8_norw"></div>

    <div class="second_indent">
        <p>
            1.	― Вам плохо? Давайте, я понесу Вашу сумку.<br>
            ― Нет, спасибо! Мне уже лучше, ___________________, я вас совсем не знаю!
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex8a_input">
        <button onclick="check_Ex8a()">Проверить</button><br>
        <div id="ex8a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex8a()">Показать ответ</button>
        <div id="ex8a_ans"></div>
        <p>
            2. 	― Тебе больше нельзя так жить и постоянно заедать* стресс шоколадом! ___________________, тебе надо найти другую работу!
        </p>
        <p>заедать стресс* ― English: eat in response to stress; Norwegian: trøstespise</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex8b_input">
        <button onclick="check_Ex8b()">Проверить</button><br>
        <div id="ex8b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex8b()">Показать ответ</button>
        <div id="ex8b_ans"></div>
        <p>
            3. 	― Вы давно были у окулиста? Сколько вам лет?<br>
            ― Я же дама, и это невежливый вопрос. ___________________, я уже не помню...
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex8c_input">
        <button onclick="check_Ex8c()">Проверить</button><br>
        <div id="ex8c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex8c()">Показать ответ</button>
        <div id="ex8c_ans"></div>
        <p>4. 	― Доктор, я плохо себя чувствую. У меня болит рука, нога, нос, голова... ___________________, у меня всё болит.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex8d_input">
        <button onclick="check_Ex8d()">Проверить</button><br>
        <div id="ex8d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex8d()">Показать ответ</button>
        <div id="ex8d_ans"></div>
    </div>

    <h3>9. Вы встретили друга. Обсудите, как ваши дела. Используйте варианты ответов, предложенные в таблице, или придумайте свои примеры. Конструкции в таблице, расположенные в таком порядке, образуют «шкалу» проблем.</h3>
    <button onclick="Ex9_eng()">Show in English</button>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button>
    <div class="translation" id="ex9_norw"></div>
    <p><b>Образец</b></p>
    <p>
        ― Как у тебя дела? У меня ...<br>
        ― А у тебя как дела? У меня ...
    </p>
    <table>
        <th colspan="4">Шкала проблем</th>
        <tr>
            <td>У меня	...</td>
            <td>Мало того,	...</td>
            <td>Ко всему прочему, 	...</td>
            <td>И вообще,	...</td>
        </tr>
        <tr>
            <td>
                часто болит голова<br>
                много работы<br>
                скоро экзамен по русскому языку<br>
            </td>
            <td>
                проблемы на работе<br>
                много дел<br>
                я недавно болел гриппом<br>
            </td>
            <td>
                приехал друг<br>
                сломалась машина<br>
                нужно переезжать в другую квартиру<br>
            </td>
            <td>
                всë плохо!<br>
                всë сложно!<br>
                много сюрпризов!<br>
                хорошего мало, но всë будет хорошо!
            </td>
        </tr>
    </table>

    <h3>
        10. Заполните пропуски словами из списка:<br>
        <ul>
            <li><span class="construction">то есть</span></li>
            <li><span class="construction">Мало того,</span></li>
            <li><span class="construction">Ко всему прочему,</span></li>
            <li><span class="construction">Да и вообще,</span></li>
        </ul>
    </h3>
    <button onclick="Ex10_eng()">Show in English</button>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button>
    <div class="translation" id="ex10_norw"></div>
    <div class="second_indent">
        <p>Я заболел гриппом. У меня болит всё тело. _________________, у меня ещё и плохо думает голова. _________________, у меня много дел, а я сплю целый день, _________________, ничего не делаю. _________________, болеть – это всегда неприятно.</p>
    </div>
    <button onclick="Ex10()">Показать ответ</button>
    <div id="ex10_ans"></div>

    <h3>
        11. Вы пациент, а ваш собеседник – врач. Расскажите, что у вас болит. Используйте конструкции<br>
        <ul>
            <li><span class="construction">(Так) мало того – Cl</span></li>
            <li><span class="construction">ко всему прочему, Cl</span></li>
            <li><span class="construction">(да) и вообще, Cl</span></li>
            <li><span class="construction">иными/другими словами, XP/Cl</span></li>
            <li><span class="construction">XP/Cl, то есть XP/Cl</span></li>
            <li><span class="construction">XP, а именно XP</span></li>
        </ul>
    </h3>
    <button onclick="Ex11_eng()">Show in English</button>
    <div class="translation" id="ex11_eng"></div><br>
    <button onclick="Ex11_norw()">Show in Norwegian</button>
    <div class="translation" id="ex11_norw"></div>
    <button onclick="Ex11_comment()">Comment for language teachers</button>
    <div class="translation" id="ex11_comment"></div>
    <p><b>Образец</b></p>
    <p>
        Врач: – На что жалуетесь?<br>
        Пациент: – У меня ...
    </p>
    <p><b>Вопросы врача</b></p>
    <ul>
        <li>Что у вас болит?</li>
        <li>Какие симптомы?</li>
        <li>Какая температура?</li>
        <li>Какое у вас обычно давление?</li>
        <li>Когда заболели?</li>
        <li>Лечились ли вы самостоятельно и чем?</li>
    </ul>

    <h3>
        12. Заполните пропуски словами из списка:
        <ul>
            <li><span class="construction">а именно</span></li>
            <li><span class="construction">ко всему прочему,</span></li>
            <li><span class="construction">мало того,</span></li>
            <li><span class="construction">то есть</span></li>
            <li><span class="construction">да и вообще,</span></li>
            <li><span class="construction">иными словами,</span></li>
        </ul>
    </h3>
    <button onclick="Ex12_eng()">Show in English</button>
    <div class="translation" id="ex12_eng"></div><br>
    <button onclick="Ex12_norw()">Show in Norwegian</button>
    <div class="translation" id="ex12_norw"></div>
    <div class="second_indent">
        <p>В понедельник у меня начал болеть зуб, и _________________, поднялась температура. Я сразу же пошел к врачу, _________________ к стоматологу.  Он сказал, что у меня кариес и сильное воспаление*, _________________ надо лечиться. Я не люблю ходить к стоматологам, _________________ я не люблю лечить зубы. Обычно это очень неприятно. _________________ — дорого. _________________ всегда лучше следить за гигиеной, чем потом ходить по врачам. </p>
        <p>воспаление* – English: painful swelling, inflammation; Norwegian: betennelse</p>
    </div>
    <button onclick="Ex12()">Показать ответ</button>
    <div id="ex12_ans"></div>

    <h3>13. Бонусное упражнение*<br>Закончите предложения (1-6), подобрав подходящий вариант (а-е). Используйте конструкцию <span class="construction">XP, а именно XP</span>.</h3>
    <button onclick="Ex13_eng()">Show in English</button>
    <div class="translation" id="ex13_eng"></div><br>
    <button onclick="Ex13_norw()">Show in Norwegian</button>
    <div class="translation" id="ex13_norw"></div>

    <table>
        <tr>
            <td>1. На ваше здоровье влияет много факторов,</td>
            <td>а. <span class="construction">а именно</span> печенье, конфеты, шоколадки, газировку — эти продукты содержат много добавленного сахара!</td>
        </tr>
        <tr>
            <td>2. Нутрициологи советуют измерять еду не калориями, а порциями,</td>
            <td>б. <span class="construction">а именно</span> объёмом еды размером с ваш кулак. </td>
        </tr>
        <tr>
            <td>3. В день взрослому человеку рекомендуется 1–2 порции молочных продуктов,</td>
            <td>в. <span class="construction">а именно</span> ходьба, бег, плавание, желательна 3 раза в неделю.</td>
        </tr>
        <tr>
            <td>4. Старайтесь не покупать домой много сладостей,</td>
            <td>г. <span class="construction">а именно</span> 250 миллилитров молока или 300 миллилитров кефира, 150 граммов творога или 30 граммов сыра.</td>
        </tr>
        <tr>
            <td>5. Внимательно читайте список ингредиентов. Во многих продуктах,</td>
            <td>д. <span class="construction">а именно</span> еда, сон, физические упражнения и стресс. </td>
        </tr>
        <tr>
            <td>6. Аэробная нагрузка,</td>
            <td>е. <span class="construction">а именно</span> в йогуртах, соусах и соках не должно быть сахара в составе. </td>
        </tr>
    </table>
    <label for="answer">Ваш ответ:</label>
    <input type="text" id="ex13_input">
    <button onclick="check_Ex13()">Проверить</button><br>
    <div id="ex13_result" style="display: inline-block;"></div><br>
    <button onclick="Ex13()">Показать ответ</button>
    <div id="ex13_ans"></div>

    <h3>
        14. Бонусное упражнение*.<br>
        Обсудите с собеседником, согласны ли вы с советами из таблицы в задании 13 и следуете ли вы им.
    </h3>
    <button onclick="Ex14_eng()">Show in English</button>
    <div class="translation" id="ex14_eng"></div><br>
    <button onclick="Ex14_norw()">Show in Norwegian</button>
    <div class="translation" id="ex14_norw"></div>
    <button onclick="Ex14_comment()">Comment for language teachers</button>
    <div class="translation" id="ex14_comment"></div>

    <h3>
        15. Бонусное упражнение*.<br>
        Вы администратор в поликлинике. Объясните пациенту по телефону, как подготовиться к приему у врача. Используйте памятку внизу и конструкции <span class="construction">XP, а именно XP</span> и <span class="construction">XP/Cl, то есть XP/Cl</span>.
    </h3>
    <button onclick="Ex15_eng()">Show in English</button>
    <div class="translation" id="ex15_eng"></div><br>
    <button onclick="Ex15_norw()">Show in Norwegian</button>
    <div class="translation" id="ex15_norw"></div>

    <p><b>Памятка</b></p>
    <p>Приготовьте документы</p>
    <ul>
        <li>Паспорт</li>
        <li>Медицинский полис </li>
    </ul>
    <p>Опишите свои жалобы</p>
    <ul>
        <li>Какие симптомы?</li>
        <li>Когда они начались? </li>
        <li>Было ли такое раньше?</li>
    </ul>
    <p>Расскажите о ваших хронических заболеваниях</p>
    <ul>
        <li>Есть ли у вас хронические заболевания? </li>
        <li>Принимаете ли вы постоянно какие-то лекарства?</li>
    </ul>
    <p>Предупредите врача об особых состояниях</p>
    <ul>
        <li>Аллергия</li>
        <li>Беременность</li>
        <li>Операции в прошлом</li>
    </ul>
    <p>Задайте вопросы по итогам разговора</p>
    <ul>
        <li>Какой диагноз поставил вам врач?</li>
        <li>Почему он выбрал такую тактику лечения? </li>
        <li>Какие лекарства он вам назначил?</li>
    </ul>

    <h3>16. Напишите короткий рассказ о том, как вы болели. Используйте все новые конструкции этого урока.</h3>
    <button onclick="Ex16_eng()">Show in English</button>
    <div class="translation" id="ex16_eng"></div><br>
    <button onclick="Ex16_norw()">Show in Norwegian</button>
    <div class="translation" id="ex16_norw"></div>
</div>

    <br><br>
</body>

</html>
