<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/nine.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 9
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;" id="start">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 9. Внешность <a href="../../files/Lesson 9. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>706</td>
                <td>Аdj-Nom Cop NP-Nom, правда (ведь)?</td>
                <td>Красивая девочка, <span class="construction">правда?</span></td>
            </tr>
            <tr>
                <td>2281</td>
                <td>Cl, не правда ли?</td>
                <td>Интересный художник, <span class="construction">не правда ли?</span></td>
            </tr>
            <tr>
                <td>692</td>
                <td>Cl, а NP-Nom как думать-Prs?</td>
                <td>Мне кажется, ему не идёт этот костюм, <span class="construction">а ты как думаешь?</span></td>
            </tr>
            <tr>
                <td>693</td>
                <td>а NP-Nom не думать-Prs, что Cl?</td>
                <td><span class="construction">А ты не думаешь, что</span> это слишком дорого?</td>
            </tr>
            <tr>
                <td>2003</td>
                <td>по-моему, Cl</td>
                <td><span class="construction">По-моему</span>, мы проехали нашу остановку.</td>
            </tr>
            <tr>
                <td>2276</td>
                <td>Cl, по-твоему /по-вашему?</td>
                <td>Сколько, <span class="construction">по-твоему</span>, это может продолжаться?</td>
            </tr>
        </table>
        <p>Adj = adjective (прилагательное)<br>
            Nom = Nominative case (номинатив)<br>
            Cop = copula verb быть (связочный глагол)<br>
            NP = noun phrase (существительное)<br>
            Cl = clause, sentence (предложение)<br>
            Prs = present tense (настоящее время)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

    <button onclick="Ex1_eng()">Show in English</button><br>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex1_norw"></div>

    <div class="second_indent">
        <p>
            <b>а.</b><br>
            Дочь:<br>
            — Оля пригласила меня к себе на день рождения. Что мне надеть, <span class="construction">как думаешь?</span> <br>
            Мама: <br>
            — У тебя есть чудесное красное платье, <span class="construction">правда ведь?</span> Я думаю, можно надеть его.<br>
            Дочь: <br>
            — А <span class="construction">как по-твоему,</span> к нему подойдут мои светлые туфли?<br>
            Мама: <br>
            — <span class="construction">Ты не думаешь,</span> что в кроссовках или кедах тебе будет удобнее? <span class="construction">По-моему,</span> сейчас модно носить кроссовки с платьем. Вы же будете много танцевать, <span class="construction">не правда ли?</span><br>
            Дочь: <br>
            — Ты права. Надену те белые кроссовки, которые ты мне подарила на Новый год. Спасибо за идею!<br>
        </p>
        <p>
            <b>б.</b><br>
            — Ксюша сегодня очень хорошо выглядит,<span class="construction"> не правда ли?</span><br>
            — <span class="construction">По-твоему,</span> ей идёт новая причёска?<br>
            — Очень идёт, <span class="construction">а ты как думаешь?</span><br>
            — Конечно! <span class="construction">По-моему,</span> чёлка* ей к лицу.<br><br>
            чёлка* — English: bangs (of hair); Norwegian: pannelugg
        </p>
        <button onclick="Ex1()">Показать ответ</button>
        <div id="ex1_ans"></div>
    </div>

    <h3>2. Заполните пропуски. Используйте конструкции <span class="construction">Cl, а NP-Nom как думать-Prs?</span> и <span class="construction">а NP-Nom не думать-Prs, что Cl?</span> <br>
        В этих конструкциях Cl — это целое предложение (Cl=clause, sentence),
        NP-Nom — это существительное (NP=noun phrase) в номинативе (Nom=Nominative case),
        Prs — это настоящее время глагола (Prs= present tense).<br>
        На месте NP-Nom часто бывает местоимение (ты, вы, он, она и др.).<br>
        Обратите внимание на разницу в значении этих конструкций (см. таблицу).
</h3>
        <button onclick="Ex2_eng()">Show in English</button><br>
        <div class="translation" id="ex2_eng"></div><br>
        <button onclick="Ex2_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex2_norw"></div>

        <div class="second_indent">
            <table class="table_lesson" style="width: 950px">
                <tr>
                    <td valign="top" style="width: 475px">
                        <b>Cl, а NP-Nom <span class="construction">как думать</span>-Prs?</b><br><br>
                        Мне кажется, ему не идёт этот костюм, <span class="construction">а ты как думаешь?</span>
                    </td>
                    <td valign="top">
                        <b><span class="construction">а</span> NP-Nom <span class="construction">не думать</span>-Prs, что Cl?</b><br><br>
                        <span class="construction">А ты не думаешь, что</span> это слишком дорого?
                    </td>
                </tr>
                <tr>
                    <td>
                       Спрашиваем мнение собеседника
                    </td>
                    <td>
                        Формально спрашиваем мнение, а на самом деле хотим привести дополнительный аргумент. Слово <i>не</i> не передаёт отрицания!
                    </td>
                </tr>
                <tr>
                    <td>
                        We ask for our interlocutor’s opinion
                    </td>
                    <td>
                        We formally ask for an opinion, but in fact we want to give an additional argument. The word <i>не</i> ‘not’ does not convey negation!
                    </td>
                </tr>
                <tr>
                    <td>
                        Når vi spør etter samtalepartnerens mening
                    </td>
                    <td>
                        Formelt sett spør vi etter samtalepartnerens mening, men egentlig ønsker vi å underbygge vår eget resonnement med ytterligere et argument. Ordet <i>не</i> ‘ikke’ er ikke nektende!
                    </td>
                </tr>
            </table><br>
            <p>
                <b>1.</b>
                <input class="input_normal" type="text" id="ex2_1_input"> эти брюки тебе уже малы? Давай купим тебе новые брюки. <span id="ex2_1_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex2_1()">Проверить</button><br>
            <button onclick="Ex2_1()">Показать ответ</button>
            <div id="ex2_1_ans"></div>
            <p>
                <b>2.</b>
                Думаю, нам лучше не ехать на этом автобусе, а подождать следующий, <input class="input_normal" type="text" id="ex2_2_input"> ? <span id="ex2_2_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex2_2()">Проверить</button><br>
            <button onclick="Ex2_2()">Показать ответ</button>
            <div id="ex2_2_ans"></div>
            <p>
                <b>3.</b>
                Почему ты не сказал мне о том, что собираешься прийти в гости? <input class="input_normal" type="text" id="ex2_3_input"> я могу быть не дома? <span id="ex2_3_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex2_3()">Проверить</button><br>
            <button onclick="Ex2_3()">Показать ответ</button>
            <div id="ex2_3_ans"></div>
            <p>
                <b>4.</b>
                Я хочу покрасить волосы в розовый цвет. По-моему, мне пойдёт, <input class="input_normal" type="text" id="ex2_4_input"> ? <span id="ex2_4_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex2_4()">Проверить</button><br>
            <button onclick="Ex2_4()">Показать ответ</button>
            <div id="ex2_4_ans"></div>
            <p>
                <b>5.</b>
                Почему ты хочешь быть похожей на Адель? <input class="input_normal" type="text" id="ex2_5_input"> твоя собственная внешность намного интереснее? <span id="ex2_5_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex2_5()">Проверить</button><br>
            <button onclick="Ex2_5()">Показать ответ</button>
            <div id="ex2_5_ans"></div>
            <p>
                <b>6.</b>
                Я так волнуюсь из-за экзамена. Не уверен, что я сдам его, <input class="input_normal" type="text" id="ex2_6_input"> ? <span id="ex2_6_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex2_6()">Проверить</button><br>
            <button onclick="Ex2_6()">Показать ответ</button>
            <div id="ex2_6_ans"></div>
        </div>

    <h3>3. Допишите предложения, используя слова в скобках и конструкцию <span class="construction">а NP-Nom не думать-Prs, что Cl?</span> <br>
        В этой конструкции NP-Nom — это существительное (NP=noun phrase) в номинативе (Nom=Nominative case), Prs — это настоящее время глагола (Prs= present tense), Cl — это целое предложение (Cl=clause, sentence). На месте NP-Nom используйте то местоимение, которое указано в скобках.
    </h3>
    <button onclick="Ex3_eng()">Show in English</button><br>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex3_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:
        <br>
            Странно, что ты хочешь идти на стрижку к новому парикмахеру. ___________________ (ты / результат может тебе не понравиться)?<br>
            -><br>
            <span class="construction">А ты не думаешь, что</span> результат может тебе не понравиться?
        <br>
        <br>
        <p>
            <b>1.</b>
            — У вас такая хорошая фигура! Как вам повезло!<br>
            —____________________________ (вы / это благодаря спорту)? <br><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex3_1_input"><br>
            <div id="ex3_1_result" style="display: inline;"></div>
        </p>
            <button onclick="check_Ex3_1()">Проверить</button><br>
            <button onclick="Ex3_1()">Показать ответ</button>
            <div id="ex3_1_ans"></div>
        <p>
            <b>2.</b>
            Я слышал, твоя сестра хочет стать стилистом. ____________________________ (она / для этого надо учиться)? <br><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex3_2_input"><br>
            <div id="ex3_2_result" style="display: inline;"></div>
        </p>
            <button onclick="check_Ex3_2()">Проверить</button><br>
            <button onclick="Ex3_2()">Показать ответ</button>
            <div id="ex3_2_ans"></div>
        <p>
            <b>3.</b>
            Не понимаю, зачем твой брат купил вторую машину. __________________________ (он / это плохо для экологии)? <br><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex3_3_input"><br>
            <div id="ex3_3_result" style="display: inline;"></div>
        </p>
            <button onclick="check_Ex3_3()">Проверить</button><br>
            <button onclick="Ex3_3()">Показать ответ</button>
            <div id="ex3_3_ans"></div>
        <p>
            <b>4.</b>
            В Тромсё люди даже зимой ходят без шапки. Интересно, ______________________ (они / они могут заболеть)?<br><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex3_4_input"><br>
            <div id="ex3_4_result" style="display: inline;"></div>
        </p>
            <button onclick="check_Ex3_4()">Проверить</button><br>
            <button onclick="Ex3_4()">Показать ответ</button>
            <div id="ex3_4_ans"></div>
    </div>

    <h3>
        4. Переделайте утверждения в вопросы, используя конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li>Аdj-Nom Cop NP-Nom, <span class="construction">правда (ведь)?</span></li>
            <li>Cl, <span class="construction">не правда ли?</span></li>
        </ul>
        В этих конструкциях Аdj-Nom — это прилагательное (Аdj = adjective) в номинативе (Nom=Nominative case), Cop — это связочный глагол быть (Cop =copula verb), NP-Nom — это существительное (NP=noun phrase) в номинативе (Nom=Nominative case), Cl — это целое предложение (Cl=clause, sentence). Конструкции очень похожи по значению. Обе конструкции значат, что говорящий ждёт от собеседника согласия. Частица "не" не передает отрицание!
    </h3>
    <button onclick="Ex4_eng()">Show in English</button><br>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex4_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b><br>
            У Алины весёлая улыбка.<br>
            -><br>
            У Алины весёлая улыбка, <span class="construction">правда?</span><br>
            У Алины весёлая улыбка, <span class="construction">правда ведь?</span><br>
            У Алины весёлая улыбка, <span class="construction">не правда ли?</span><br>
        <p>
            <b>1.</b> У Олега хитрый взгляд.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_1_input"><br>
        <div id="ex4_1_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_1()">Проверить</button><br>
        <button onclick="Ex4_1()">Показать ответ</button>
        <div id="ex4_1_ans"></div>
        <p>
            <b>2.</b> Мне к лицу зелёный цвет.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_2_input"><br>
        <div id="ex4_2_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_2()">Проверить</button><br>
        <button onclick="Ex4_2()">Показать ответ</button>
        <div id="ex4_2_ans"></div>
        <p>
            <b>3.</b> Настя очень красивая.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_3_input"><br>
        <div id="ex4_3_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_3()">Проверить</button><br>
        <button onclick="Ex4_3()">Показать ответ</button>
        <div id="ex4_3_ans"></div>
        <p>
            <b>4.</b> У Кирилла приятное лицо.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_4_input"><br>
        <div id="ex4_4_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_4()">Проверить</button><br>
        <button onclick="Ex4_4()">Показать ответ</button>
        <div id="ex4_4_ans"></div>
        <p>
            <b>5.</b> Пете к лицу эта рубашка.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_5_input"><br>
        <div id="ex4_5_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_5()">Проверить</button><br>
        <button onclick="Ex4_5()">Показать ответ</button>
        <div id="ex4_5_ans"></div>
        <p>
            <b>6.</b> Ваня очень симпатичный.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_6_input"><br>
        <div id="ex4_6_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_6()">Проверить</button><br>
        <button onclick="Ex4_6()">Показать ответ</button>
        <div id="ex4_6_ans"></div>
        <p>
            <b>7.</b> Алексей выглядит моложе своих лет.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_7_input"><br>
        <div id="ex4_7_result" style="display: inline;"></div><br>
        <button onclick="check_Ex4_7()">Проверить</button><br>
        <button onclick="Ex4_7()">Показать ответ</button>
        <div id="ex4_7_ans"></div>
    </div>

    <h3>
        5. Выразите своё несогласие с утверждением собеседника. Используйте конструкцию <span class="construction">по-моему, Cl.</span> На месте Cl находится целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex5_eng()">Show in English</button><br>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex5_norw"></div>

    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — <span class="construction">По-моему,</span> у Лёши карие глаза.
            — А <span class="construction">по-моему,</span> зелёные.
        </p>
        <p>
            <b>Собеседник 1:</b><br>
        </p>
        <ol>
            <li>Алёна выглядит устало.</li>
            <button onclick="Ex5_1()">Показать ответ</button><br>
            <div id="ex5_1_ans"></div><br>
            <li>У Миши красивые глаза.</li>
            <button onclick="Ex5_2()">Показать ответ</button><br>
            <div id="ex5_2_ans"></div><br>
            <li>У Марины приветливая улыбка.</li>
            <button onclick="Ex5_3()">Показать ответ</button><br>
            <div id="ex5_3_ans"></div><br>
            <li>У Наташи шикарные волосы.</li>
            <button onclick="Ex5_4()">Показать ответ</button><br>
            <div id="ex5_4_ans"></div><br>
            <li>У Глеба не очень счастливое лицо.</li>
            <button onclick="Ex5_5()">Показать ответ</button><br>
            <div id="ex5_5_ans"></div>
        </ol>
        <p>
            <b>Собеседник 2:</b><br>
        </p>
        <ol>
            <li>Зина высокого роста.</li>
            <button onclick="Ex5_6()">Показать ответ</button><br>
            <div id="ex5_6_ans"></div><br>
            <li>У Феди хитрый взгляд.</li>
            <button onclick="Ex5_7()">Показать ответ</button><br>
            <div id="ex5_7_ans"></div><br>
            <li>У Гены крупный нос.</li>
            <button onclick="Ex5_8()">Показать ответ</button><br>
            <div id="ex5_8_ans"></div><br>
            <li>У Лиды круглое лицо.</li>
            <button onclick="Ex5_9()">Показать ответ</button><br>
            <div id="ex5_9_ans"></div><br>
            <li>У Аллы густые волосы.</li>
            <button onclick="Ex5_10()">Показать ответ</button><br>
            <div id="ex5_10_ans"></div><br>
        </ol>
    </div>

    <h3>
        6. У многих людей до сих пор есть стереотипы насчёт внешности. Помогите развеять их, подобрав подходящий ответ на каждый из стереотипов.
    </h3>
    <button onclick="Ex6_eng()">Show in English</button><br>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex6_norw"></div>
    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. Она за собой не следит: совсем седая ходит. <br><br>
                    2. Удивительно: он такой полный, а рекламирует спортивную одежду.<br><br>
                    3. Что ты понимаешь в еде? Ты такой худой!<br><br>
                    4. Будь осторожен: в машине впереди нас за рулём блондинка.<br><br>
                    5. Почему ваша Света всё время ходит в джинсах? Она же девочка!<br><br>
                </td>
                <td>а. <span class="construction">По-твоему,</span> полные люди не могут заниматься спортом?<br><br>
                    б. <span class="construction">По-твоему,</span> блондинки плохо водят машину?<br><br>
                    в. <span class="construction">По-вашему,</span> худые не любят вкусно поесть?<br><br>
                    г. <span class="construction">По-вашему,</span> девочка должна быть в платье?<br><br>
                    д. <span class="construction">По-твоему,</span> волосы обязательно красить?<br><br>
                </td>
            </tr>
        </table><br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex6()">Проверить</button><br>
        <div id="ex6_result" style="display: inline;"></div><br>
        <button onclick="Ex6()">Показать ответ</button>
        <div id="ex6_ans"></div>
    </div>

    <h3>
        7. Обсудите сходства и различия во внешности людей на фотографиях (Жанна и Ира; Дэвид и Алекс; Лина и Маргарита; Амрит и Николай). Один человек указывает на сходства, другой на различия. Узнайте мнение собеседника и выразите собственное. Используйте предложенные варианты конструкций (см. таблицу):
    </h3>
    <table class="table_lesson" style="width: 550px">
        <tr>
            <td style="width: 300px"><b>Конструкция</b></td>
            <td><b>Вариант конструкции</b></td>
        </tr>
        <tr>
            <td>Cl, а NP-Nom как думать-Prs?</td>
            <td><span class="construction">... , а ты как думаешь?</span> </td>
        </tr>
        <tr>
            <td>а NP-Nom не думать-Prs, что Cl?</td>
            <td><span class="construction">А ты не думаешь, что ...?</span> </td>
        </tr>
        <tr>
            <td> Аdj-Nom Cop NP-Nom, правда (ведь)?</td>
            <td><span class="construction">... , правда ведь?</span></td>
        </tr>
        <tr>
            <td>Cl, не правда ли?</td>
            <td><span class="construction">..., не правда ли?</span> </td>
        </tr>
        <tr>
            <td>Cl, по-твоему/по-вашему?</td>
            <td><span class="construction">..., по-твоему?</span></td>
        </tr>
        <tr>
            <td>по-моему, Cl</td>
            <td><span class="construction">По-моему, ... </span></td>
        </tr>
    </table><br>
    <button onclick="Ex7_eng()">Show in English</button><br>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex7_norw"></div><br>
    <button onclick="Ex7_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex7_comment"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
        — Эти девушки не похожи. У Иры волосы прямые, а у Жанны кудрявые, не правда ли?<br>
        — Правда, но, по-моему, они похожи. Ты не думашь, что у них у обеих длинные волосы? <br>
        — Да, но у Жанны волосы тёмные, а Ира блондинка, правда ведь?<br>
        </p>
        <table class="table_lesson">
            <tr>
                <td><img src="../../images/9/7_1.jpg" alt="7_1" style="width: 400px;"><br>Жанна</td>
                <td><img src="../../images/9/7_2.jpg" alt="7_2" style="width: 400px;"><br>Ира</td>
            </tr>
            <tr>
                <td><img src="../../images/9/7_3.jpg" alt="7_3" style="width: 400px;"><br>Дэвид</td>
                <td><img src="../../images/9/7_4.jpg" alt="7_4" style="width: 400px;"><br>Алекс</td>
            </tr>
            <tr>
                <td><img src="../../images/9/7_5.jpg" alt="7_5" style="width: 400px;"><br>Лина</td>
                <td><img src="../../images/9/7_6.jpg" alt="7_6" style="width: 400px;"><br>Маргарита</td>
            </tr>
            <tr>
                <td><img src="../../images/9/7_7.jpg" alt="7_7" style="width: 400px;"><br>Амрит</td>
                <td><img src="../../images/9/7_8.jpg" alt="7_8" style="width: 400px;"><br>Николай</td>
            </tr>
        </table>
    </div>

    <h3>
        8. Обсудите людей на фотографии. Как вы думаете, кто они? Используйте предложенные варианты конструкций (см. таблицу):
    </h3>
    <table class="table_lesson" style="width: 550px">
        <tr>
            <td style="width: 300px"><b>Конструкция</b></td>
            <td><b>Вариант конструкции</b></td>
        </tr>
        <tr>
            <td>Cl, а NP-Nom как думать-Prs?</td>
            <td><span class="construction">... , а ты как думаешь?</span> </td>
        </tr>
        <tr>
            <td>а NP-Nom не думать-Prs, что Cl?</td>
            <td><span class="construction">А ты не думаешь, что ...?</span> </td>
        </tr>
        <tr>
            <td> Аdj-Nom Cop NP-Nom, правда (ведь)?</td>
            <td><span class="construction">... , правда ведь?</span></td>
        </tr>
        <tr>
            <td>Cl, не правда ли?</td>
            <td><span class="construction">..., не правда ли?</span> </td>
        </tr>
        <tr>
            <td>Cl, по-твоему/по-вашему?</td>
            <td><span class="construction">..., по-твоему?</span></td>
        </tr>
        <tr>
            <td>по-моему, Cl</td>
            <td><span class="construction">По-моему, ... </span></td>
        </tr>
    </table><br>
    <button onclick="Ex8_eng()">Show in English</button><br>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex8_norw"></div><br>
    <button onclick="Ex8_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex8_comment"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            A: — А это семья моего деда. Он в центре, с усами. У него строгий взгляд, <span class="construction">правда ведь?</span><br>
            Б: — Ага! <span class="construction">По-моему,</span> он очень серьёзный. А что за мужчина стоит слева?<br>
            А: — А ты как думаешь? Это мой отец. А рядом с ним, справа, моя мама. Она очень красивая, <span class="construction">правда ведь?</span><br>
            Б: — Да! А ты есть на этой фотографии?
        </p>
        <p>
            <b>а.</b><br>
            <img src="../../images/9/8_1.jpg" alt="8_1" style="width: 600px;">
        </p>
        <p>
            <b>б.</b><br>
            <img src="../../images/9/8_2.jpg" alt="8_2" style="width: 600px;">
        </p>
        <p>
            <b>в.</b><br>
            <img src="../../images/9/8_3.jpg" alt="8_3" style="width: 600px;">
        </p>
        <p>
            <b>г.</b><br>
            <img src="../../images/9/8_4.jpg" alt="8_4" style="width: 600px;">
        </p>
        <p>
            <b>д.</b><br>
            <img src="../../images/9/8_5.jpg" alt="8_5" style="width: 600px;">
        </p>
        <p>
            <b>е.</b><br>
            <img src="../../images/9/8_6.jpg" alt="8_6" style="width: 600px;">
        </p>
    </div>
    <h3>
        9. Бонусное упражнение* <br>
        Вы — сценарист и кастинг-директор в студии по производству фильмов. Ваша студия хочет создать новые экранизации известных литературных произведений. Обсудите подбор актёров на разные роли с точки зрения внешности актёров и ваших представлений о роли. Используйте конструкции:
    </h3>
    <table class="table_lesson" style="width: 550px">
        <tr>
            <td><b>Узнать мнение</b></td>
            <td><b>Выразить своё мнение</b></td>
        </tr>
        <tr>
            <td valign="top">
                 <ul style="margin-top: 0">
                     <li><span class="construction">а NP-Nom не думать-Prs, что Cl?</span></li>
                     <li><span class="construction">Cl, а NP-Nom как думать-Prs? </span></li>
                     <li><span class="construction">Cl, не правда ли?</span></li>
                     <li><span class="construction">Cl, по-твоему /по-вашему?</span></li>
                 </ul>
            </td>
            <td valign="top">
                <ul style="margin-top: 0">
                     <li><span class="construction">по-моему, Cl</span></li>
                     <li><span class="construction">(как) по мне, (так) Cl</span></li>
                     <li><span class="construction">на PronPoss-Acc взгляд, Cl</span></li>
                     <li><span class="construction">честно говоря, Cl</span></li>
                 </ul>
            </td>
        </tr>
    </table><br>
    <p><b>Роли:</b></p>
    <ul>
        <li>Квазимодо</li>
        <li>Эсмеральда</li>
        <li>Джеймс Бонд</li>
        <li>Король Лир</li>
        <li>Шерлок Холмс</li>
        <li>Миссис Хадсон</li>
        <li>Джульетта</li>
        <li>Гарри Поттер</li>
        <li>Волан-де-морт</li>
        <li>Гермиона</li>
        <li>Мисс Марпл</li>
    </ul>
    <button onclick="Ex9_eng()">Show in English</button><br>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex9_norw"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            — <span class="construction">Как по мне,</span> Джульетту должна сыграть Джейн.<br>
            — <span class="construction">А ты не думаешь, что</span> она для этой роли слишком старая? <span class="construction">На мой взгляд,</span> Джульетту должна сыграть Оливия: она молодая и красивая.<br>
            — Но Джульетта не может быть блондинкой, <span class="construction">не правда ли</span>?<br>
            — <span class="construction">По-твоему,</span> мы не можем покрасить ей волосы или надеть парик?<br>
        </p>
        <table class="table_lesson">
            <tr>
                <td><img src="../../images/9/9_1.jpg" alt="9_1" style="width: 200px"><br>Джессика</td>
                <td><img src="../../images/9/9_2.jpg" alt="9_2" style="width: 200px"><br>Джейн</td>
                <td><img src="../../images/9/9_3.jpg" alt="9_3" style="width: 200px"><br>Оливия</td>
            </tr>
            <tr>
                <td><img src="../../images/9/9_4.jpg" alt="9_4" style="width: 200px"><br>Николь</td>
                <td><img src="../../images/9/9_5.jpg" alt="9_5" style="width: 200px"><br>Сара</td>
                <td><img src="../../images/9/9_6.jpg" alt="9_6" style="width: 200px"><br>Анжелика</td>
            </tr>
            <tr>
                <td><img src="../../images/9/9_7.jpg" alt="9_7" style="width: 200px"><br>Рольф</td>
                <td><img src="../../images/9/9_8.jpg" alt="9_8" style="width: 200px"><br>Саймон</td>
                <td><img src="../../images/9/9_9.jpg" alt="9_9" style="width: 200px"><br>Рикардо</td>
            </tr>
            <tr>
                <td><img src="../../images/9/9_10.jpg" alt="9_10" style="width: 200px"><br>Крис</td>
                <td><img src="../../images/9/9_11.jpg" alt="9_11" style="width: 200px"><br>Джордж</td>
                <td><img src="../../images/9/9_12.jpg" alt="9_12" style="width: 200px"><br>Антуан</td>
            </tr>
        </table>
    </div>

    <h3>
        10. Ваша подруга Алла собирается на свидание. Она хочет выглядеть очень нарядно, а вы спорите с ней, потому что считаете, что нет ничего лучше естественности. Дополните диалог своими репликами.
    </h3>
    <button onclick="Ex10_eng()">Show in English</button><br>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex10_norw"></div><br>
    <button onclick="Ex10_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex10_comment"></div>
    <div class="second_indent">
        <p>
            — Хочу завтра красиво одеться, накраситься и сходить в парикмахерскую. К первому свиданию нужно как следует подготовиться, <span class="construction">правда ведь?</span><br>
            — <span class="construction">Честно говоря,</span> __________________________________________________. По-моему, ___________________________________________________________.<br>
            — Мне кажется, первое впечатление — это очень важно.<br>
            — <span class="construction">А ты не думаешь, что</span> ___________________________________________________________?<br>
            — Да, не главное. Но с красивым человеком и разговаривать приятнее, <span class="construction">не правда ли?</span><br>
            — <span class="construction">На мой взгляд,</span> ___________________________________________________________.<br>
            — <span class="construction">По-твоему,</span> я должна прийти на свидание в джинсах и без макияжа?<br>
            — <span class="construction">Как по мне,</span> ___________________________________________________________ .<br>
        </p>
        <button onclick="Ex10()">Показать ответ</button>
        <div id="ex10_ans"></div>
    </div>

    <h3>
        11. Перед вами разговор двух подруг. Реплики в разговоре перепутались местами. Восстановите порядок реплик, чтобы получился связный текст. Обсудите в парах, с чьей позицией вы скорее согласны и почему.
    </h3>
    <button onclick="Ex11_eng()">Show in English</button><br>
    <div class="translation" id="ex11_eng"></div><br>
    <button onclick="Ex11_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex11_norw"></div><br>
    <div class="second_indent">
        а. — <span class="construction">А ты не думаешь, что</span> внешность в отношениях не главное?
        б. — Почему нет? <span class="construction">Как по мне,</span> всегда нужно быть самой собой. Естественность — лучший наряд.
        в. — Хочу завтра красиво одеться, накраситься и сходить в парикмахерскую. К первому свиданию нужно как следует подготовиться, <span class="construction">правда ведь?</span>
        г. — Да, не главное. Но с красивым человеком и разговаривать приятнее, <span class="construction">не правда ли?</span>
        д. — <span class="construction">На мой взгляд,</span> ты и в обычной одежде выглядишь отлично.
        е. — <span class="construction">По-твоему,</span> я должна прийти на свидание в джинсах и без макияжа?
        ж. — Мне кажется, первое впечатление — это очень важно.
        з. — <span class="construction">Честно говоря,</span> для меня это странно. <span class="construction">По-моему,</span> к свиданию не нужно специально готовиться.<br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex11_input" placeholder="а,б,в,г,д,е,ж,з">
        <button onclick="check_Ex11()">Проверить</button><br>
        <div id="ex11_result" style="display: inline;"></div><br>
        <button onclick="Ex11()">Показать ответ</button>
        <div id="ex11_ans"></div>
    </div>


    <a class = "no_undscr" href="../lessons/eight.html" style="color: inherit;">&lt; Назад</a>
    <a class = "no_undscr" href="#start" style="color: inherit;">|&nbsp;&nbsp;&nbsp;&nbsp;В начало страницы&nbsp;&nbsp;&nbsp;&nbsp;|</a>
    <a class = "no_undscr" href="../lessons/ten.html" style="color: inherit;">Вперед &gt;</a>

</div>

    <br><br>
</body>

</html>