<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/seven.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 7
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 7. Праздники <a href="../../files/Lesson 7. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>1873</td>
                <td>VP, заодно VP</td>
                <td>Сходи за хлебом, заодно мусор вынесешь.</td>
            </tr>
            <tr>
                <td>308</td>
                <td>словом, Cl</td>
                <td>Словом, я хочу её видеть.</td>
            </tr>
            <tr>
                <td>11</td>
                <td>(как) по мне, (так) Cl</td>
                <td>Как по мне, это ещё не беда.</td>
            </tr>
            <tr>
                <td>739</td>
                <td>будь моя воля, Cl бы</td>
                <td>Будь моя воля, я бы одни конфеты ел.</td>
            </tr>
            <tr>
                <td>2279</td>
                <td>Cl, так (ведь)?</td>
                <td>До магазина недалеко, так ведь?</td>
            </tr>
            <tr>
                <td>2303</td>
                <td>Сам подумать-Imp, Cl</td>
                <td>Сам подумай, зачем взрослому человеку это нужно?</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

        <button onclick="Ex1_eng()">Show in English</button><br>
        <div class="translation" id="ex1_eng"></div><br>
        <button onclick="Ex1_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex1_norw"></div>

        <div class="second_indent">
            <p>
                Я очень люблю праздники. <span class="construction">Будь моя воля</span>, я бы праздновал что-нибудь каждый день.
                Например, 3 марта — День писателя, 4 марта — День рождения микрофона, а 5 марта — День рождения степлера.
                <span class="construction">Как по мне</span>, все эти праздники очень важные. <span class="construction">Сами подумайте</span>, я пишу этот текст, значит, я писатель. Вы пользуетесь степлером, <span class="construction">так</span>?
                Значит, надо отмечать 5 марта. <span class="construction">Словом</span>, надо жить так, чтобы каждый день был как праздник!
            </p>
            <button onclick="Ex1()">Показать ответ</button>
            <div id="ex1_ans"></div>
        </div>

    <h3>2. Соедините части предложений, подобрав логичное продолжение.Используйте
        конструкцию <span class="construction">VP, заодно VP</span>. В этой конструкции VP — это глагол (VP=verb phrase).
    </h3>
        <button onclick="Ex2_eng()">Show in English</button><br>
        <div class="translation" id="ex2_eng"></div><br>
        <button onclick="Ex2_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex2_norw"></div>

        <div class="second_indent">
            <p><b>Образец</b>:<br>
                Я вчера сделала уборку дома, <span class="construction">заодно</span> нашла старые фотографии бабушки с дедушкой.
            </p>
            <table class="table_lesson" style="width: 650px">
                <tr>
                    <td>1. Я вчера сделала уборку дома<br><br>
                        2. Помоги мне, пожалуйста, приготовить торт<br><br>
                        3. Отправь приглашение на юбилей тёте Ирине<br><br>
                        4. Давай пораньше украсим дом к Новому году<br><br>
                        5. Он уже купил всей семье подарки на Рождество
                    </td>
                    <td>а. попробуем вместе новый рецепт.<br><br>
                        б. посмотрим, нужны ли нам новые ёлочные игрушки.<br><br>
                        в. нашла старые фотографии бабушки с дедушкой.<br><br>
                        г. нашёл себе новую рубашку на праздник.<br><br>
                        д. узнаешь как у неё дела.
                    </td>
                </tr>
            </table><br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex2_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex2()">Проверить</button><br>
            <div id="ex2_result" style="display: inline;"></div><br>
            <button onclick="Ex2()">Показать ответ</button>
            <div id="ex2_ans"></div>
        </div>

    <h3>
        3. Иностранные студенты обсуждают русские праздники. Заполните пропуски, используя конструкцию <span class="construction">Cl, так (ведь)?</span> в вопросах и конструкцию <span class="construction">Сам подумать-Imp, Cl</span> в ответах.<br>
        В этих конструкциях Cl — это целое предложение (Cl=clause, sentence), а
        подумать-Imp — это форма императива от глагола <i>подумать</i> (Imp = imperative), то есть <i>подумай</i> (в единственном числе) и <i>подумайте</i> (во множественном числе).<br>
        Обратите внимание на то, что форма местоимения <i>сам</i> зависит от пола собеседника: <i>сам</i> при обращении к мужчине и <i>сама</i> при обращении к женщине (см. образец). При этом форма императива <i>подумай</i> не меняется.
    </h3>
        <button onclick="Ex3_eng()">Show in English</button><br>
        <div class="translation" id="ex3_eng"></div><br>
        <button onclick="Ex3_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex3_norw"></div><br>
        <button onclick="Ex3_comment()">Comment for language teachers</button><br>
        <div class="translation" id="ex3_comment"></div>

        <div class="second_indent">
            <p><b>Образец</b>:<br><br>
                <img src="../../images/7/3_1.png" alt="3_1" style="width: 700px;">
            <p>
                <b>а.</b><br>
                Ханна:	— В День знаний в магазинах России не продают алкоголь, <input class="input_normal" type="text" id="ex3a1_input">? <span id="ex3a1_result" style="display: inline-block;"></span><br>
                Майкл: —  Да. <input class="input_normal" type="text" id="ex3a2_input">, это же праздник для школьников. <span id="ex3a2_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex3a()">Проверить</button><br>
            <button onclick="Ex3a()">Показать ответ</button>
            <div id="ex3a_ans"></div>
            <p>
                <b>б.</b><br>
                Закир: — Масленицу отмечают три дня, <input class="input_normal" type="text" id="ex3b1_input">? <span id="ex3b1_result" style="display: inline-block;"></span><br>
                Фатима: — Нет. <input class="input_normal" type="text" id="ex3b2_input">. Масленицу же называют Масленичной неделей, значит семь дней. <span id="ex3b2_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex3b()">Проверить</button><br>
            <button onclick="Ex3b()">Показать ответ</button>
            <div id="ex3b_ans"></div>
            <p>
                <b>в.</b><br>
                Шарлотта: — Ты отмечаешь День защиты детей, <input class="input_normal" type="text" id="ex3c1_input">? <span id="ex3c1_result" style="display: inline-block;"></span><br>
                Лиам: — Нет. <input class="input_normal" type="text" id="ex3c2_input">, я же уже не ребенок и детей у меня пока нет. <span id="ex3c2_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex3c()">Проверить</button><br>
            <button onclick="Ex3c()">Показать ответ</button>
            <div id="ex3c_ans"></div>
            <p>
                <b>г.</b><br>
                Сара: — Тебе подарили цветы на 8 марта, <input class="input_normal" type="text" id="ex3d1_input">? <span id="ex3d1_result" style="display: inline-block;"></span><br>
                Оливия: — Конечно! <input class="input_normal" type="text" id="ex3d2_input">, я же женщина. <span id="ex3d2_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex3d()">Проверить</button><br>
            <button onclick="Ex3d()">Показать ответ</button>
            <div id="ex3d_ans"></div>
            <p>
                <b>д.</b><br>
                Джеймс: — Итон, ты отмечал День святого Валентина в этом году, <input class="input_normal" type="text" id="ex3e1_input">? <span id="ex3e1_result" style="display: inline-block;"></span><br>
                Итон: — Нет, конечно! <input class="input_normal" type="text" id="ex3e2_input">, я же недавно расстался с девушкой. <span id="ex3e2_result" style="display: inline-block;"></span>
            </p>
            <button onclick="check_Ex3e()">Проверить</button><br>
            <button onclick="Ex3e()">Показать ответ</button>
            <div id="ex3e_ans"></div>
        </div>
    <h3>
        4. У вашей подруги Саши скоро День Рождения. Вы с другом пришли в магазин и пытаетесь выбрать подарок, но Саше сложно угодить. Обсудите с другом, какой подарок вы купите. Используйте конструкции <span class="construction">Cl, так (ведь)?</span> и <span class="construction">Сам подумать-Imp, Cl.</span><br>
        В этих конструкциях Cl — это целое предложение (Cl=clause, sentence), а подумать-Imp — это форма императива от глагола <i>подумать</i> (Imp = imperative), то есть <i>подумай</i> (в единственном числе) и <i>подумайте</i> (во множественном числе).
        Обратите внимание на то, что форма местоимения <i>сам</i> зависит от пола собеседника: <i>сам</i> при обращении к мужчине и <i>сама</i> при обращении к женщине. При этом форма императива <i>подумай</i> не меняется.
    </h3>
        <button onclick="Ex4_eng()">Show in English</button><br>
        <div class="translation" id="ex4_eng"></div><br>
        <button onclick="Ex4_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex4_norw"></div><br>

        <div class="second_indent">
            <p><b>Информация о Саше:</b>
                <ul>
                    <li>20 лет</li>
                    <li>не любит оранжевый, красный и зелёный цвет</li>
                    <li>учится на историка</li>
                    <li>любит книги про феминизм</li>
                    <li>любит мягкие игрушки</li>
                    <li>у неё есть собака Буян</li>
                    <li>любит яркий макияж</li>
                    <li>не любит кошек</li>
                </ul>
            </p>
            <p><b>Что есть в магазине:</b></p>
            <table class="table_lesson">
                <tr>
                    <td><img src="../../images/7/4_1.jpg" alt="4_1" style="width: 200px;"><br>тени для век<br>(зелёные и красные)</td>
                    <td><img src="../../images/7/4_2.jpg" alt="4_2" style="width: 200px;"><br>Энциклопедия<br>"История России"</td>
                    <td><img src="../../images/7/4_3.jpg" alt="4_3" style="width: 200px;"><br>Журнал<br>"Феминизм в комиксах"</td>
                </tr>
                <tr>
                    <td><img src="../../images/7/4_4.jpg" alt="4_4" style="width: 200px;"><br>мягкая игрушка, мишка</td>
                    <td><img src="../../images/7/4_5.jpg" alt="4_5" style="width: 200px;"><br>мягкая игрушка, кот</td>
                    <td><img src="../../images/7/4_6.jpg" alt="4_6" style="width: 200px;"><br>настольная игра “Дженга”</td>
                </tr>
                <tr>
                    <td><img src="../../images/7/4_7.jpg" alt="4_7" style="width: 200px;"><br>термос (голубой)</td>
                    <td><img src="../../images/7/4_8.jpg" alt="4_8" style="width: 200px;"><br>шарф</td>
                    <td><img src="../../images/7/4_9.jpg" alt="4_9" style="width: 200px;"><br>курточка для собаки</td>
                </tr>
            </table>
        </div>

    <h3>
        5. Расскажите, что бы вы изменили в мире к лучшему, если бы была такая возможность. Используйте конструкцию <span class="construction">будь моя воля, Cl бы.</span><br>
        В этой конструкции Cl — это целое предложение (Cl=clause, sentence). Глагол после частицы бы используется в форме прошедшего времени и мужского или женского рода в зависимости от пола говорящего (см. образец).
    </h3>
        <button onclick="Ex5_eng()">Show in English</button><br>
        <div class="translation" id="ex5_eng"></div><br>
        <button onclick="Ex5_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex5_norw"></div><br>
        <div class="second_indent">
            <p><b>Образец</b>:<br><br>
                <img src="../../images/7/5_1.png" alt="5_1" style="width: 700px;">
        </div>

    <h3>
        6. Обсудите с собеседником ваше отношение к праздникам, которые отмечают в России и в вашей стране. Используйте конструкцию <span class="construction">(как) по мне, (так) Cl.</span><br>
        В этой конструкции Cl — это целое предложение (Cl=clause, sentence), а скобки () вокруг слова означают, что это факультативный элемент конструкции.
    </h3>
        <button onclick="Ex6_eng()">Show in English</button><br>
        <div class="translation" id="ex6_eng"></div><br>
        <button onclick="Ex6_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex6_norw"></div><br>
        <div class="second_indent">
            <p><b>Образец</b>:<br><br>
            Праздник: 8 марта<br>
                — <span class="construction">Как по мне,</span> люди не понимают смысл этого праздника.<br>
                — <span class="construction">Как по мне,</span> этот праздник устарел.
            </p><br>
            <table class="table_lesson" style="width: 750px">
                <tr>
                    <td style="width: 400px">Праздники:</td>
                    <td>Подсказки:</td>
                </tr>
                <tr>
                    <td valign="top">
                        <ul>
                            <li>День рождения</li>
                            <li>Новый год</li>
                            <li>Рождество</li>
                            <li>Пасха</li>
                            <li>День космонавтики (12 апреля)</li>
                            <li>8 марта</li>
                            <li>День Конституции</li>
                            <li>День святого Валентина</li>
                            <li>Профессиональные праздники (День медицинского работника, День учителя)</li>
                            <li>День знаний (1 сентября)</li>
                            <li>Хэллоуин (31 октября)</li>
                            <li>День труда (1 мая)</li>
                            <li>День студента (25 января)</li>
                            <li>добавляйте праздники, которые вы знаете</li>
                        </ul>
                    </td>
                    <td valign="top">
                        <ul>
                            <li>важный</li>
                            <li>неважный</li>
                            <li>мой любимый</li>
                            <li>главный праздник в моей стране</li>
                            <li>устарел</li>
                            <li>актуален</li>
                            <li>коммерческий</li>
                            <li>популярный</li>
                            <li>непопулярный</li>
                            <li>непонятный</li>
                            <li>не понимаю, зачем поздравлять</li>
                            <li>отмечают в каждой семье</li>
                            <li>никто не отмечает</li>
                            <li>праздник для детей</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    <h3>
        7. Подпишите открытки, адресованные разным людям. В каждой открытке напишите поздравление с помощью «конструктора поздравлений». Обратите внимание, что поздравления разным людям отличаются друг от друга. Каждое поздравление заканчивайте, используя конструкцию <span class="construction">словом, Cl.</span><br>
        В этой конструкции Cl — это целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex7_eng()">Show in English</button><br>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex7_norw"></div><br>
    <div class="second_indent">
        <p><b>Кого поздравить:</b><br>
        <ul>
            <li>сестру с Днём рождения (18 лет)</li>
            <li>друга с Новым годом</li>
            <li>начальника с юбилеем (60 лет)</li>
            <li>подругу с рождением ребёнка</li>
            <li>бабушку с 8 марта</li>
            <li>родителей с годовщиной свадьбы</li>
            <li>коллегу с Днём рождения (34 года)</li>
            <li>учителя с Днём учителя</li>
        </ul>
        <p><b>Конструктор поздравлений:</b><br>
        <table class="table_lesson" style="width: 750px">
            <tr>
                <td>(Дорогой/Дорогая) + имя!<br>
                    (Уважаемый/Уважаемая) + имя + отчество!
                </td>
            </tr>
            <tr>
                <td>
                   Поздравляю тебя/Вас/вас с + Ins
                    <ul style="display: grid;grid-auto-flow: column;grid-template-rows: repeat(4, auto);">
                        <li>День рождения</li>
                        <li>юбилей</li>
                        <li>годовщина свадьбы</li>
                        <li>Новый год</li>
                        <li>рождение ребёнка</li>
                        <li>Восьмое марта</li>
                        <li>День учителя</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Желаю тебе/Вам/вам + Gen
                    <ul style="display: grid;grid-auto-flow: column;grid-template-rows: repeat(5, auto);">
                        <li>здоровье</li>
                        <li>счастье</li>
                        <li>успехи (в Loc)</li>
                        <li>хорошее настроение</li>
                        <li>исполнение желаний</li>
                        <li>любовь</li>
                        <li>улыбки</li>
                        <li>доброе</li>
                        <li>радость</li>
                        <li>всё самое хорошее</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    Пусть + Fut
                    <ul>
                        <li>мечты сбываться</li>
                        <li>всё (есть) хорошо</li>
                        <li>каждый день (есть) добрым</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="construction">Словом,</span>
                    <ul>
                        <li>будь счастлив!</li>
                        <li>всего самого доброго!</li>
                        <li>всего самого хорошего!</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <h3>
        8. Перед вами разговор Лизы и Оли. Заполните пропуски словами из списка:
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">будь моя воля </span></li>
            <li><span class="construction">как по мне, так</span></li>
            <li><span class="construction">заодно</span></li>
            <li><span class="construction">сама подумай</span></li>
            <li><span class="construction">словом</span></li>
            <li><span class="construction">так ведь</span></li>
        </ul>
    </h3>
        <button onclick="Ex8_eng()">Show in English</button><br>
        <div class="translation" id="ex8_eng"></div><br>
        <button onclick="Ex8_norw()">Show in Norwegian</button><br>
        <div class="translation" id="ex8_norw"></div><br>
        <div class="second_indent">
            <p>
                <b>Оля:</b>  Привет! Я в эти выходные праздную свой День рождения. Приходи, <input class="input_normal" type="text" id="ex8_1_input"> с Антоном познакомишься. <input class="input_normal" type="text" id="ex8_2_input">, мы уже с ним полгода встречаемся, а с друзьями я его ещё не знакомила.
                <span id="ex8_1_result" style="display: inline-block;"></span> <span id="ex8_2_result" style="display: inline-block;"></span>
            </p>
            <p>
                <b>Лиза:</b>  Ты же дома празднуешь, <input class="input_normal" type="text" id="ex8_3_input">? <input class="input_normal" type="text" id="ex8_4_input"> это отличная идея. Обожаю приходить к тебе в гости. <input class="input_normal" type="text" id="ex8_5_input">, я бы от тебя и не уходила никогда. <input class="input_normal" type="text" id="ex8_6_input">, я обязательно буду! Во сколько всё начнётся?
                <span id="ex8_3_result" style="display: inline-block;"></span> <span id="ex8_4_result" style="display: inline-block;"></span> <span id="ex8_5_result" style="display: inline-block;"></span> <span id="ex8_6_result" style="display: inline-block;"></span>
            </p>
            <p>
                <b>Оля:</b>  Ура! Я жду всех к шести вечера, но ты приходи пораньше — поболтаем до прихода гостей.
            </p>
            <button onclick="check_Ex8()">Проверить</button><br>
            <div id="ex8_result" style="display: inline;"></div>
            <button onclick="Ex8()">Показать ответ</button>
            <div id="ex8_ans"></div>
        </div>
    <h3>
        9. Напишите короткий текст (5-6 предложений) о том, какой праздник вы бы ввели или упразднили. Используйте новые конструкции этого урока.
    </h3>
    <button onclick="Ex9_eng()">Show in English</button><br>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex9_norw"></div><br>
</div>
    <br><br>
</body>

</html>
