<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/six.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 6
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 6. Транспорт <a href="../../files/Урок 6. Download preliminary v..pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>2001</td>
                <td>с точки зрения NP-Gen</td>
                <td><span class="construction">С точки зрения</span> экологии, это катастрофа.</td>
            </tr>
            <tr>
                <td>899</td>
                <td>впрочем, Cl</td>
                <td>Фильм получил высокие оценки. <span class="construction">Впрочем,</span> он получился затянутым.</td>
            </tr>
            <tr>
                <td>2278</td>
                <td>Cl, не так ли?</td>
                <td>Уютная квартира<span class="construction">, не так ли?</span></td>
            </tr>
            <tr>
                <td>1137</td>
                <td>на PronPoss-Acc взгляд, Cl</td>
                <td><span class="construction">На мой взгляд,</span> у него сложный характер.</td>
            </tr>
            <tr>
                <td>2005</td>
                <td>насколько PronPers-1 понимать, Cl</td>
                <td>Ты ещё не готов<span class="construction">, насколько я понимаю.</span></td>
            </tr>
            <tr>
                <td>188</td>
                <td>на PronPoss-Loc месте/на месте NP-Gen Cl бы</td>
                <td><span class="construction">На его месте</span> я <span class="construction">бы</span> поступила в другой университет.</td>
            </tr>
        </table>
        <p>NP = noun phrase (существительное)<br>
            Gen = Genitive case (генитив)<br>
            Cl = clause, sentence (предложение)<br>
            Acc = Accusative case (аккузатив)<br>
            PronPoss = possessive pronoun (притяжательное местоимение)<br>
            PronPers = personal pronoun (личное местоимение)<br>
            1 = 1st person (1 лицо)<br>
            Loc  = Locative case (локатив)<br>
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>
    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

    <button onclick="Ex1_eng()">Show in English</button><br>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex1_norw"></div>

    <div class="second_indent">
        <p>
            — Алло, привет! Встретимся у Эрмитажа?<br>
            — Давай! Это станция метро «Адмиралтейская»,<span class="construction"> не так ли?</span><br>
            — <span class="construction">На мой взгляд</span>, от Адмиралтейской дойти ближе всего, <span class="construction">впрочем</span>, можно доехать до станции «Гостиный двор» или «Невский проспект», а дальше пешком или на транспорте. <span class="construction">На твоём месте</span> я бы доехала от Невского проспекта на такси. Ты билет уже купила?<br>
            — <span class="construction">Насколько я понимаю</span>, завтра в Эрмитаже бесплатный день, билет не нужен.<br>
            — Точно! Тогда до встречи!<br>
        </p>
    </div>

    <h3>2. Соедините части предложений, подобрав логичное продолжение.Используйте
        конструкцию <span class="construction">Cl,и на том спасибо</span>. На месте Cl находится целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex2_eng()">Show in English</button><br>
    <div class="translation" id="ex2_eng"></div><br>
    <button onclick="Ex2_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex2_norw"></div><br>
    <button onclick="Ex2_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex2_comment"></div><br>
    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>
                    <img src="../../images/6/2_1.png" alt="2_1" style="width: 200px;">
                </td>
                <td><span class="construction">с точки зрения NP-Gen, Cl</span><br><br>
                    Есть разные параметры, по которым можно охарактеризовать объект. Конструкция указывает на один из них.<br><br>
                    There exist various parameters that can be used to characterize an object. This construction points to one of these parameters.<br><br>
                    Det eksisterer flere parametere for å beskrive et objekt. Denne konstruksjonen peker mot en av disse parameterne.<br><br>
                </td>
            </tr>
        </table><br>
        <p><b>Модель</b><br>
            <span class="construction">С точки зрения</span> ________ , ________ лучше/хуже ________
        </p>
        <p><b>Образец</b><br>
            <span class="construction">С точки зрения</span> комфорта, яхта лучше поезда.
        </p>
        <table class="table_lesson" style="width: 700px">
            <tr>
                <td style="width: 170px">
                    С точки зрения + Gen
                </td>
                <td>
                    цена<br>
                    комфорт<br>
                    скорость<br>
                    безопасность<br>
                    экология<br>
                    надёжность<br>
                    доступность<br>
                    маневренность
                </td>
                <td>
                    автобус<br>
                    автомобиль<br>
                    катер<br>
                    самолёт<br>
                    поезд<br>
                    круизный лайнер<br>
                    вертолёт<br>
                    яхта<br>
                </td>
                <td style="width: 150px">
                лучше/хуже + Gen
                </td>
                <td>
                    автобус<br>
                    автомобиль<br>
                    катер<br>
                    самолёт<br>
                    поезд<br>
                    круизный лайнер<br>
                    вертолёт<br>
                    яхта<br>
                </td>
            </tr>
        </table><br>
    </div>
    <h3>
        3. Соедините предложения, подобрав логичное продолжение. Используйте конструкцию <span class="construction">впрочем, Cl.</span> На месте Cl находится целое предложение (Cl=clause, sentence). Обратите внимание на значение конструкции, представленное на схеме ниже.
    </h3>
    <button onclick="Ex3_eng()">Show in English</button><br>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex3_norw"></div><br>
    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>
                    <img src="../../images/6/3_1.png" alt="3_1" style="width: 300px;">
                </td>
                <td><span class="construction">впрочем, Cl</span><br><br>
                    Говорящий предложил один вариант ответа, потом немного подумал и предложил другой вариант ответа, который противоречит первому.<br><br>
                    The speaker offered an answer, then thought for a while and offered a different answer that contradicts the first one.<br><br>
                    Taleren svarer, tenker seg om en liten stund og kommer med et nytt svar som helt eller delvis motsier det første svaret.<br><br>
                </td>
            </tr>
        </table><br>
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>
                    1. — Как мне доехать до стадиона?
                    <p style="margin-left: 18px">— Вам нужен трамвай номер 25.</p>
                </td>
                <td>
                    а. Впрочем, налево и прямо тоже можно.
                </td>
            </tr>
             <tr>
                <td>
                    2. — Сколько стоит проезд на метро?
                    <p style="margin-left: 18px">— Одна поездка стоит 56 рублей.</p>
                </td>
                <td>
                    б. Впрочем, вам быстрее дойти пешком через парк.
                </td>
            </tr>
             <tr>
                <td>
                    3. — Как дойти до Большого театра?
                    <p style="margin-left: 18px">— Вам сейчас нужно повернуть направо и на перекрестке снова направо.</p>
                </td>
                <td>
                    в. Впрочем, на троллейбусе можно доехать всего за двадцать минут.
                </td>
            </tr>
             <tr>
                <td>
                    4. — Ура, прилетели! Поедем домой на автобусе?
                    <p style="margin-left: 18px">— Да, можно.</p>
                </td>
                <td>
                    г. Впрочем, сейчас пробки. Нам будет быстрее доехать в аэропорт на аэроэкспрессе.
                </td>
            </tr>
             <tr>
                <td>
                    5. — Нам надо быть в аэропорту через час. Я вызову такси?
                    <p style="margin-left: 18px">— Да, вызывай!</p>
                </td>
                <td>
                    д. Впрочем, неважно! У вас же есть проездной!
                </td>
            </tr>
             <tr>
                <td>
                    6. — Вы далеко живёте от работы?
                    <p style="margin-left: 18px">— Далеко! Пешком идти больше часа.</p>
                </td>
                <td>
                    е. Впрочем, у нас много багажа. Поехали лучше на такси!
                </td>
            </tr>
        </table><br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3_input" placeholder="1а, 2б, 3в, 4г, 5д, 6е">
        <button onclick="check_Ex3()">Проверить</button><br>
        <div id="ex3_result" style="display: inline;"></div><br>
        <button onclick="Ex3()">Показать ответ</button>
        <div id="ex3_ans"></div>
    </div>
    <h3>
        4. Перед вами фрагмент схемы московского метро. Один из вас — турист, а другой — москвич. Турист хочет узнать, как ему доехать на метро от одной станции до другой. Москвич объясняет и называет два способа, как доехать до нужной станции. Используйте модель диалога, предложенную ниже, и конструкцию <span class="construction">впрочем, Cl.</span> На месте Cl находится целое предложение (Cl=clause, sentence).
    </h3>
    <button onclick="Ex4_eng()">Show in English</button><br>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex4_norw"></div><br>
    <button onclick="Ex4_comment()">Comment for language teachers</button><br>
    <div class="translation" id="ex4_comment"></div><br>
    <div class="second_indent">
        <p>Откройте схему московского метро по ссылке <a href="https://yandex.ru/metro/moscow?scheme_id=sc3497401">1</a> или <a href="https://mosmetro.ru/metro-map/?utm_referrer=https%3a%2f%2fwww.google.com%2f">2</a>.</p>
        <img src="../../images/6/4_1.png" alt="4_1" style="width: 700px;">
        <p>*5 — Кольцевая ветка (название дано не по цвету).</p>
        <p><b>Модель</b></p>
        <table class="table_lesson" style="width: 700px">
            <tr><td>
                <b>Турист/туристка:</b><br>
                — Скажите, пожалуйста, как мне доехать от (Gen)__________ до (Gen) __________?<br><br>
                <b>Москвич/москвичка:</b><br>
                — Вам нужно доехать до (Gen)____________, а потом пересесть на (Acc) ____________ ветку. <span class="construction">Впрочем,</span> вы можете доехать до (Gen)____________, а потом пересесть на (Acc) ____________ ветку (а потом доехать до (Gen)____________и пересесть на (Acc) ____________ ветку)
            </td></tr>
        </table>
        <p><b>Образец</b><p>
        <table class="table_lesson" style="width: 700px">
            <tr>
                <td>
                    <b>Откуда</b>
                </td>
                <td>
                    <b>Куда</b>
                </td>
            </tr>
            <tr>
                <td>
                    Минская
                </td>
                <td>
                    Киевская
                </td>
            </tr>
        </table>
        <p>
            — Скажите, пожалуйста, как мне доехать от Минской до Киевской?<br>
            — Вам нужно доехать до Делового центра, а потом пересесть на голубую ветку. <span class="construction">Впрочем,</span> вы можете доехать до Парка победы, а потом пересесть на синюю ветку.
        </p><br>
        <table class="table_lesson" style="width: 700px">
            <tr>
                <td></td>
                <td>
                    <b>Откуда</b>
                </td>
                <td>
                    <b>Куда</b>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Китай-город (Gen Китай-города)
                </td>
                <td>
                    Павелéцкая
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Тексти́льщики (Gen Текстильщиков)
                </td>
                <td>
                    Чкáловская
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Тру́бная
                </td>
                <td>
                    Площадь революции (Gen Площади революции)
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Новослобóдская
                </td>
                <td>
                    Пу́шкинская
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Третьякóвская
                </td>
                <td>
                    Серпуховскáя
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Театрáльная
                </td>
                <td>
                    Баррикáдная
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    Маякóвская
                </td>
                <td>
                    Китай-город (Gen Китай-города)
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    Кропóткинская
                </td>
                <td>
                    Проспект мира (Gen Проспекта мира)
                </td>
            </tr>
        </table>
    </div>
    <h3>
        5. Вы с друзьями собираетесь в поездку и вам нужно выбрать транспорт. В парах обсудите плюсы и минусы самолёта, поезда, автобуса и личного автомобиля, используя конструкции <span class="construction">Cl, не так ли?</span> и <span class="construction">на PronPoss-Acc взгляд, Cl.</span><br>
        В этих конструкциях Cl — это целое предложение (Cl=clause, sentence), а
        PronPoss-Acc — это притяжательное местоимение в аккузативе (PronPoss = possessive pronoun, Acc = Accusative case), например <i>мой, наш</i>.<br>
        Слова <span class="construction">на мой взгляд</span> и <span class="construction">на наш взгляд</span> могут находиться в начале, в конце или в середине предложения.
    </h3>
    <button onclick="Ex5_eng()">Show in English</button><br>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex5_norw"></div><br>
    <div class="second_indent">
        <p>
            <b>Образец</b>
            А: — На самолёте мы долетим намного быстрее, <span class="construction">не так ли?</span><br>
            Б:  — Да, но <span class="construction">на мой взгляд,</span> мы больше времени потратим в аэропорту. Поезд намного экологичнее, <span class="construction">не так ли?</span><br>
            А: — Да, но он дороже, чем автобус, <span class="construction">на мой взгляд</span>. Автобусы ходят очень часто, мы можем выбрать самый удобный рейс, <span class="construction">не так ли?</span>
        </p>
        <p><b>Опорные слова</b></p>
        <p>Самолет</p>
        <ul>
            <li>быстро</li>
            <li>красивый вид из иллюминатора</li>
            <li>можно заказать еду и напитки в пути</li>
            <li>дорого</li>
            <li>необходимо приезжать в аэропорт за 2 часа до вылета</li>
            <li>сложный предполётный досмотр</li>
        </ul>
        <p>Поезд</p>
        <ul>
            <li>можно приехать на вокзал сразу ко времени отправления</li>
            <li>экологично</li>
            <li>можно взять отдельное купе только для вашей компании</li>
            <li>дольше ехать, чем на самолёте</li>
            <li>дорого</li>
            <li>могут быть шумные соседи</li>
        </ul>
        <p>Автобус</p>
        <ul>
            <li>недорого</li>
            <li>много маршрутов и рейсов</li>
            <li>можно приехать на автовокзал сразу ко времени отправления</li>
            <li>долгая поездка может быть утомительной</li>
            <li>некоторых людей в автобусах тошнит</li>
            <li>неэкологично</li>
        </ul>
        <p>Личный автомобиль</p>
        <ul>
            <li>можно поехать в любое время</li>
            <li>нет соседей</li>
            <li>можно останавливаться в любом месте, где хочешь</li>
            <li>дорогой бензин</li>
            <li>если водитель один, то нужно будет останавливаться на ночь в отеле</li>
            <li>машина может сломаться по дороге</li>
        </ul>
    </div>
    <h3>
        6. Вы приехали в Москву, и вас уже принимают за местного. Помогите туристам найти дорогу. Используйте конструкцию <span class="construction">насколько PronPers-1 понимать, Cl.</span><br>
        В этой конструкции PronPers-1 — это личное местоимение 1 лица <i>я, мы</i> (PronPers=personal pronoun), а Cl — это целое предложение (Cl=clause, sentence). <br>
        Глагол <i>понимать</i> согласуется с местоимением: <i>я понимаю, мы понимаем</i>.
    </h3>
    <button onclick="Ex6_eng()">Show in English</button><br>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex6_norw"></div><br>
    <div class="second_indent">
        <p>
            <b>Образец</b><br>
            Вопрос туриста:
            — Как доехать от станции метро Театральная до Охотного ряда?<br>
            (Это одна станция. Перейдите с зелёной ветки на красную.)<br>
            -><br>
            Ваш ответ:<br>
            — <span class="construction">Насколько я понимаю,</span> это одна станция. Перейдите с зелёной ветки на красную.
        </p><br>
        <p><b>1.</b> Где находится Никольская улица? (рядом с Красной площадью)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6_1_input">
        <button onclick="check_Ex6_1()">Проверить</button><br>
        <div id="ex6_1_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6_1()">Показать ответ</button>
        <div id="ex6_1_ans"></div>
        <p><b>2.</b> Как доехать до Третьяковской галереи? (трамвай номер 3)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6_2_input">
        <button onclick="check_Ex6_2()">Проверить</button><br>
        <div id="ex6_2_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6_2()">Показать ответ</button>
        <div id="ex6_2_ans"></div>
        <p><b>3.</b> На чём можно уехать в Сергиев Посад? (электричка)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6_3_input">
        <button onclick="check_Ex6_3()">Проверить</button><br>
        <div id="ex6_3_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6_3()">Показать ответ</button>
        <div id="ex6_3_ans"></div>
        <p><b>4.</b> На какой ветке метро находится парк Воробьёвы горы? (красная)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6_4_input">
        <button onclick="check_Ex6_4()">Проверить</button><br>
        <div id="ex6_4_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6_4()">Показать ответ</button>
        <div id="ex6_4_ans"></div>
        <p><b>5.</b> Я могу доехать до аэропорта Домодедово на аэроэкспрессе? (да)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex6_5_input">
        <button onclick="check_Ex6_5()">Проверить</button><br>
        <div id="ex6_5_result" style="display: inline-block;"></div><br>
        <button onclick="Ex6_5()">Показать ответ</button>
        <div id="ex6_5_ans"></div>
    </div>
    <h3>
        7. Посоветуйте людям, названным в предложениях, другой способ передвижения. Используйте конструкцию <span class="construction">на PronPoss-Loc месте/на месте NP-Gen Cl бы.</span><br>
        В этой конструкции PronPoss-Loc — это притяжательное местоимение в локативе (PronPoss=possessive pronoun, Loc=Locative case), NP-Gen — это существительное в генитиве (NP=noun phrase, Gen=Genitive case), а Cl — это целое предложение (Cl=clause, sentence). Глагол после частицы бы используется в форме прошедшего времени и мужского или женского рода в зависимости от пола говорящего.
    </h3>
    <button onclick="Ex7_eng()">Show in English</button><br>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex7_norw"></div><br>
    <div class="second_indent">
        <p>
            <b>Образец</b><br><br>
            Я поеду на такси (автобус)<br>
            ->
        </p>
        <img src="../../images/6/7_1.png" alt="7_1" style="width: 700px;">
        <p><b>1.</b> Паша пойдёт пешком. (поехать на метро)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7_1_input">
        <button onclick="check_Ex7_1()">Проверить</button><br>
        <div id="ex7_1_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7_1()">Показать ответ</button>
        <div id="ex7_1_ans"></div>
        <p><b>2.</b> Таня поедет на трамвае. (велосипед)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7_2_input">
        <button onclick="check_Ex7_2()">Проверить</button><br>
        <div id="ex7_2_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7_2()">Показать ответ</button>
        <div id="ex7_2_ans"></div>
        <p><b>3.</b> Мы полетим на самолёте. (поехать на поезде)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7_3_input">
        <button onclick="check_Ex7_3()">Проверить</button><br>
        <div id="ex7_3_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7_3()">Показать ответ</button>
        <div id="ex7_3_ans"></div>
        <p><b>4.</b> Они поедут на трамвае. (машине)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7_4_input">
        <button onclick="check_Ex7_4()">Проверить</button><br>
        <div id="ex7_4_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7_4()">Показать ответ</button>
        <div id="ex7_4_ans"></div>
        <p><b>5.</b> Валя поедет на такси. (пойти пешком)</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex7_5_input">
        <button onclick="check_Ex7_5()">Проверить</button><br>
        <div id="ex7_5_result" style="display: inline-block;"></div><br>
        <button onclick="Ex7_5()">Показать ответ</button>
        <div id="ex7_5_ans"></div>
        </p>
    </div>
    <h3>
        8. Бонусное упражнение* <br>
        Вы с друзьями сидите в баре и обсуждаете ваши проблемы. Дайте советы своим друзьям: как бы вы поступили на их месте? Используйте конструкцию <span class="construction">на PronPoss-Loc месте/на месте NP-Gen Cl бы.</span><br>
        В этой конструкции PronPoss-Loc — это притяжательное местоимение в локативе (PronPoss=possessive pronoun, Loc=Locative case), NP-Gen — это существительное в генитиве (NP=noun phrase, Gen=Genitive case), а Cl — это целое предложение (Cl=clause, sentence). Глагол после частицы бы используется в форме прошедшего времени и мужского или женского рода в зависимости от пола говорящего.
    </h3>
    <button onclick="Ex8_eng()">Show in English</button><br>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex8_norw"></div><br>
    <div class="second_indent">
        <p><b>Образец</b></p>
        <table class="table_lesson">
            <tr>
                <td><b>Друг</b></td>
                <td><b>Проблема</b></td>
                <td><b>Совет</b></td>
            </tr>
            <tr>
                <td>Алёна</td>
                <td>У меня постоянно болит живот.</td>
                <td>не есть фастфуд каждый день</td>
            </tr>
        </table>
        <p>-></p>
        <img src="../../images/6/8_1.png" alt="8_1" style="width: 700px;">
        <table class="table_lesson">
            <tr>
                <td><b>Друг</b></td>
                <td><b>Проблема</b></td>
                <td><b>Совет</b></td>
            </tr>
            <tr>
                <td>Сергей</td>
                <td>Я получаю плохие оценки за сессию.</td>
                <td>готовиться к экзаменам заранее</td>
            </tr>
            <tr>
                <td>Кристина</td>
                <td>Я всё время сильно напиваюсь на вечеринках.</td>
                <td>приходить на вечеринки с безалкогольными напитками</td>
            </tr>
            <tr>
                <td>Костя</td>
                <td>Я не могу найти себе девушку.</td>
                <td>зарегистрироваться в Тиндере</td>
            </tr>
            <tr>
                <td>Яна</td>
                <td>Я постоянно забываю о своих дедлайнах.</td>
                <td>записывать дедлайны в календарь</td>
            </tr>
        </table><br>
        <button onclick="check_Ex8()">Проверить</button><br>
        <div id="ex8_result" style="display: inline-block;"></div><br>
        <button onclick="Ex8()">Показать ответ</button>
        <div id="ex8_ans"></div>
    </div>
    <h3>9. Придумайте свои советы для людей из упражнения 8. Используйте конструкцию <span class="construction">на PronPoss-Loc месте/на месте NP-Gen Cl бы.</span></h3>
    <button onclick="Ex9_eng()">Show in English</button><br>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex9_norw"></div><br>
    <h3>10. Турист пришёл в турагентство. В зависимости от вашей роли, купите или продайте турпутёвку. Описание каждой роли предложено ниже (турист и турагент). Используйте конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">с точки зрения NP-Gen, Cl </span></li>
            <li><span class="construction">впрочем, Cl</span></li>
            <li><span class="construction">Cl, не так ли?</span></li>
            <li><span class="construction">на PronPoss-Acc взгляд, Cl</span></li>
            <li><span class="construction">насколько PronPers-1 понимать, Cl</span></li>
            <li><span class="construction">на PronPoss-Loc месте/на месте NP-Gen Cl бы</span></li>
        </ul>
        Задача туриста — выбрать самую привлекательную турпутёвку из тех, которые предлагает турагент. Для этого турист должен описать турагенту своё идеальное путешествие. Задача турагента — продать одну из трёх турпутёвок. Для этого турагент должен убедить туриста выбрать одну из них.
    </h3>
    <button onclick="Ex10_eng()">Show in English</button><br>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex10_norw"></div>
    <div class="second_indent">
        <p>
            <b>Турист 1.</b><br>
            Вы едете отдыхать. Ваше идеальное путешествие:
        </p>
        <table class="table_lesson">
            <tr>
                <td><img src="../../images/6/10_1.png" alt="10_1" style="width: 200px;"><br>пляж</td>
                <td><img src="../../images/6/10_2.png" alt="10_2" style="width: 200px;"><br>жарко</td>
                <td><img src="../../images/6/10_3.png" alt="10_3" style="width: 200px;"><br>1-8 мая</td>
            </tr>
            <tr>
                <td><img src="../../images/6/10_4.png" alt="10_4" style="width: 200px;"><br>дворец</td>
                <td><img src="../../images/6/10_5.png" alt="10_5" style="width: 200px;"><br>вдвоём</td>
                <td><img src="../../images/6/10_6.png" alt="10_6" style="width: 200px;"><br>музеи, галереи</td>
            </tr>
        </table><br>
        <p>
            <b>Турист 2.</b><br>
            Вы едете отдыхать. Ваше идеальное путешествие:
        </p>
        <table class="table_lesson">
            <tr>
                <td><img src="../../images/6/10_7.png" alt="10_7" style="width: 200px;"><br>горнолыжный курорт</td>
                <td><img src="../../images/6/10_8.png" alt="10_8" style="width: 200px;"><br>прохладно, тепло</td>
                <td><img src="../../images/6/10_9.png" alt="10_9" style="width: 200px;"><br>начало августа</td>
            </tr>
            <tr>
                <td><img src="../../images/6/10_10.png" alt="10_10" style="width: 200px;"><br>парк аттракционов</td>
                <td><img src="../../images/6/10_11.png" alt="10_11" style="width: 200px;"><br>семья с детьми</td>
                <td><img src="../../images/6/10_12.png" alt="10_12" style="width: 200px;"><br>шопинг</td>
            </tr>
        </table><br>
        <p>
            <b>Турагент</b><br>
            Продайте турпутёвку в Калининград, Сочи или Санкт-Петербург.
        </p>
        <table class="table_lesson">
            <tr>
                <td><b>Калининград</b></td>
                <td><b>Санкт-Петербург</b></td>
                <td><b>Сочи</b></td>
            </tr>
            <tr>
                <td><img src="../../images/6/10_K1.JPG" alt="10_K1" style="width: 200px;"></td>
                <td><img src="../../images/6/10_P1.JPG" alt="10_P1" style="width: 200px;"></td>
                <td><img src="../../images/6/10_S1.JPG" alt="10_S1" style="width: 200px;"></td>
            </tr>
            <tr>
                <td><img src="../../images/6/10_K2.png" alt="10_K2" style="width: 200px;"></td>
                <td><img src="../../images/6/10_P2.png" alt="10_P2" style="width: 200px;"></td>
                <td><img src="../../images/6/10_S2.png" alt="10_S2" style="width: 200px;"></td>
            </tr>
            <tr>
                <td><img src="../../images/6/10_K3.png" alt="10_K3" style="width: 200px;"></td>
                <td><img src="../../images/6/10_P3.png" alt="10_P3" style="width: 200px;"></td>
                <td><img src="../../images/6/10_S3.png" alt="10_S3" style="width: 200px;"></td>
            </tr>
            <tr>
                <td align="center" valign="top"><img src="../../images/6/10_K4.JPG" alt="10_K4" style="width: 200px;"><br>пляж в Калининграде</td>
                <td align="center" valign="top"><img src="../../images/6/10_P4.JPG" alt="10_P4" style="width: 200px;"><br>пляж у Петропавловской<br> крепости</td>
                <td align="center" valign="top"><img src="../../images/6/10_S4.JPG" alt="10_S4" style="width: 200px;"><br>пляж в Сочи </td>
            </tr>
            <tr>
                <td align="center" valign="top"><img src="../../images/6/10_K5.JPG" alt="10_K5" style="width: 200px;"><br>Кёнигсбергский собор </td>
                <td align="center" valign="top"><img src="../../images/6/10_P5.JPG" alt="10_P5" style="width: 200px;"><br>дворец и парк в Петергофе</td>
                <td align="center" valign="top"><img src="../../images/6/10_S5.JPG" alt="10_S5" style="width: 200px;"><br>горнолыжный курорт<br>Роза Хутор</td>
            </tr>
            <tr>
                <td align="center" valign="top"><img src="../../images/6/10_K6.JPG" alt="10_K6" style="width: 200px;"><br>парк аттракционов<br>Юность</td>
                <td align="center" valign="top"><img src="../../images/6/10_P6.JPG" alt="10_P6" style="width: 200px;"><br>торговые центры</td>
                <td align="center" valign="top"><img src="../../images/6/10_S6.JPG" alt="10_S6" style="width: 200px;"><br>парк аттракционов<br>Сочи Парк </td>
            </tr>
        </table>
    </div>
    <h3>11. Вы с другом или подругой обсуждаете маршрут, как добраться из места, где вы находитесь, до места, куда вам нужно. Перед вами карты из приложения Google Карты (Google Maps). Обсудите все варианты и выберите оптимальный. Учитывайте разные факторы, которые влияют на ваш маршрут:
        <ul style="margin-top: 0; margin-bottom: 0">
            <li>Цена</li>
            <li>Пробки</li>
            <li>Время</li>
            <li>Комфорт</li>
            <li>Погода</li>
        </ul>
        Используйте конструкции
        <ul style="margin-top: 0; margin-bottom: 0">
            <li><span class="construction">с точки зрения NP-Gen, Cl </span></li>
            <li><span class="construction">впрочем, Cl</span></li>
            <li><span class="construction">Cl, не так ли?</span></li>
            <li><span class="construction">на PronPoss-Acc взгляд, Cl</span></li>
            <li><span class="construction">насколько PronPers-1 понимать, Cl</span></li>
            <li><span class="construction">на PronPoss-Loc месте/на месте NP-Gen Cl бы</span></li>
        </ul>
    </h3>
    <button onclick="Ex11_eng()">Show in English</button><br>
    <div class="translation" id="ex11_eng"></div><br>
    <button onclick="Ex11_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex11_norw"></div>
    <div class="second_indent">
        <p>
            <b>Ситуация 1.</b><br>
            Вы в городе Тромсё в Северной Норвегии<br>
            Откуда: центральная библиотека города Тромсё<br>
            Куда: музей Полярия
        </p>
        <img src="../../images/6/11_1.png" alt="11_1" style="width: 400px;">
        <img src="../../images/6/11_2.png" alt="11_2" style="width: 400px;"><br><br>
        <p>
            <b>Ситуация 2.</b><br>
            Вы в Париже.<br>
            Откуда: музей Лувр<br>
            Куда: музей Орсе
        </p>
        <img src="../../images/6/11_3.png" alt="11_3" style="width: 800px;"><br>
        <img src="../../images/6/11_4.png" alt="11_4" style="width: 400px;"><br><br>
        <p>
            <b>Ситуация 3.</b><br>
            Вы в Москве.<br>
            Откуда: парк Зарядье<br>
            Куда: музей Третьяковская галерея
        </p>
        <img src="../../images/6/11_5.png" alt="11_5" style="width: 400px;">
        <img src="../../images/6/11_6.png" alt="11_6" style="width: 400px;"><br>
    </div>
    <h3>
        12. К вам скоро приедет друг или подруга. Объясните ему или ей, как добраться из а) аэропорта, б) из центра вашего города или в) из университета до вашего дома. Предложите два варианта, как добраться. Составьте диалог, как в упражнении 1. Используйте конструкции этого урока.
    </h3>
    <button onclick="Ex12_eng()">Show in English</button><br>
    <div class="translation" id="ex12_eng"></div><br>
    <button onclick="Ex12_norw()">Show in Norwegian</button><br>
    <div class="translation" id="ex12_norw"></div><br>
</div>

    <br><br>
</body>

</html>