<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../../scripts/three.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 3
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;" id="start">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 3. Устройство на работу <a href="../../files/Lesson 3. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>1840</td>
                <td>к примеру, Cl/XP</td>
                <td>Вот, <span class="construction">к примеру,</span> мне нравится Мерилин Монро.</td>
            </tr>
            <tr>
                <td>2350</td>
                <td>так, Cl</td>
                <td>Кошки намного хуже нас видят цвета. <span class="construction">Так,</span> красный цвет им недоступен.</td>
            </tr>
            <tr>
                <td>6</td>
                <td>(а/так) что насчёт XP?</td>
                <td><span class="construction">Что насчёт</span> пятницы? Какие у тебя планы?</td>
            </tr>
            <tr>
                <td>365</td>
                <td>что касается NP-Gen, то Cl</td>
                <td><span class="construction">Что касается</span> спорта, то я никогда не любил бегать.</td>
            </tr>
            <tr>
                <td>2222</td>
                <td>честно говоря, Cl</td>
                <td><span class="construction">Честно говоря,</span> я с вами не согласен.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)
        </p>
        <p>Русский конструктикон <a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>

    <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>
    <button onclick="Ex1_eng()">Show in English</button>
    <div class="translation" id="ex1_eng"></div><br>
    <button onclick="Ex1_norw()">Show in Norwegian</button>
    <div class="translation" id="ex1_norw"></div>
    <div class="second_indent">
        <p>
            а.<br>
            — <span class="construction">Что насчет</span> твоей работы? Ты всё ещё работаешь юристом?
            — Да, но <span class="construction">честно говоря</span>, я не очень люблю свою работу. Ответственности* много, а денег мало. Мне кажется, в фирме меня совсем не любят. Мой начальник*, <span class="construction">к примеру</span>, даже имя моё часто забывает. <span class="construction">Что касается</span> коллег, <span class="construction">то</span> мы почти не общаемся*. <span class="construction">Так</span>, я постоянно обедаю одна, а коллеги — вместе. Я даже хочу уволиться*.<br><br>
            *ответственность — English: responsibility; Norwegian: ansvar<br>
            *начальник — English: boss; Norwegian: sjef, arbeidsgiver<br>
            *общаться — English: communicate; Norwegian: å kommunisere<br>
            *уволиться — English: quit; Norwegian: å slutte<br>
        </p>
        <p>
            б.<br>
            Искать работу — большой стресс. <span class="construction">Так</span>, многие работодатели* требуют большой опыт работы* по специальности. <span class="construction">К примеру</span>, чтобы тебя взяли на работу, нужен опыт, минимум три года. А чтобы получить этот опыт, нужно сначала устроиться* на работу. <span class="construction">Что касается</span> фриланса, <span class="construction">то</span> он не считается опытом работы, потому что не указан в трудовой книжке*. <span class="construction">Честно говоря</span>, это совсем нелогично.<br><br>
            * работодатель — English: employer; Norwegian: arbeidsgiver<br>
            * устроиться на работу — English: to get a job; Norwegian: å få en jobb<br>
            * трудовая книжка — English: employment history; Norwegian: ansettelseshistorie (eller CV)<br>
            * опыт работы — English: work experience; Norwegian: arbeidserfaring<br>
        </p>
    </div>
    <h3>2. Соедините части предложений. Используйте конструкцию <span class="construction">что касается NP-Gen, то Cl</span>. В этой конструкции NP-Gen — это существительное (NP=noun phrase) в генитиве (Gen= Genitive case). На месте Cl находится целое предложение (Cl=clause, sentence).</h3>
    <button onclick="Ex2_eng()">Show in English</button>
    <div class="translation" id="ex2_eng"></div><br>
    <button onclick="Ex2_norw()">Show in Norwegian</button>
    <div class="translation" id="ex2_norw"></div>
    <div class="second_indent">
        <p>а. Образование / Я закончил экономический факультет МГУ.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2a_input">
        <button onclick="check_Ex2a()">Проверить</button><br>
        <div id="ex2a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex2a()">Показать ответ</button>
        <div id="ex2a_ans"></div>
        <p>б. Опыт работы / Я уже два года работаю финансовым аналитиком в банке.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2b_input">
        <button onclick="check_Ex2b()">Проверить</button><br>
        <div id="ex2b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex2b()">Показать ответ</button>
        <div id="ex2b_ans"></div>
        <p>в. Хобби / Я люблю играть в теннис и кататься на лыжах.</p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2c_input">
        <button onclick="check_Ex2c()">Проверить</button><br>
        <div id="ex2c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex2c()">Показать ответ</button>
        <div id="ex2c_ans"></div>
        <p>г. Навыки программирования / Я программирую на языках Python и С++. </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2d_input">
        <button onclick="check_Ex2d()">Проверить</button><br>
        <div id="ex2d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex2d()">Показать ответ</button>
        <div id="ex2d_ans"></div>
        <p>д. Личные качества / Я коммуникабельный и умею работать в команде. </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex2e_input">
        <button onclick="check_Ex2e()">Проверить</button><br>
        <div id="ex2e_result" style="display: inline-block;"></div><br>
        <button onclick="Ex2e()">Показать ответ</button>
        <div id="ex2e_ans"></div>
    </div>

    <h3>3. Заполните пропуски, используя конструкцию <span class="construction">(а/так) что насчёт XP? </span> и слова скобках. На месте XP могут быть слова разных частей речи. Если это существительное или прилагательное, то в этой конструкции оно стоит в генитиве. Если это наречие или глагол в инфинитиве, эти слова изменять не надо.
    </h3>
    <button onclick="Ex3_eng()">Show in English</button>
    <div class="translation" id="ex3_eng"></div><br>
    <button onclick="Ex3_norw()">Show in Norwegian</button>
    <div class="translation" id="ex3_norw"></div>

    <div class="second_indent">
        <p>
            — ___________________________________________ (новый фильм Джеймса Кэмерона)?
            Ты его уже смотрела?<br>
            — Да! Фильм красивый, но мне кажется, он очень скучный.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3a_input">
        <button onclick="check_Ex3a()">Проверить</button><br>
        <div id="ex3a_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3a()">Показать ответ</button>
        <div id="ex3a_ans"></div>
        <p>
            — ____________________________________________________ (поездка)? Ты согласен?<br>
            — Ещё не знаю, мне надо подумать.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3b_input">
        <button onclick="check_Ex3b()">Проверить</button><br>
        <div id="ex3b_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3b()">Показать ответ</button>
        <div id="ex3b_ans"></div>
        <p>
            — ___________________________________________________ (шкаф)? где его поставить?<br>
            — Поставь его в спальне.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3c_input">
        <button onclick="check_Ex3c()">Проверить</button><br>
        <div id="ex3c_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3c()">Показать ответ</button>
        <div id="ex3c_ans"></div>
        <p>
            — Вы говорили, что скучаете по своей старой работе. __________________________________________ (вернуться туда)?<br>
            — Не могу, зарплата там слишком маленькая.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3d_input">
        <button onclick="check_Ex3d()">Проверить</button><br>
        <div id="ex3d_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3d()">Показать ответ</button>
        <div id="ex3d_ans"></div>
        <p>
            — ____________________________________________________ (завтра)? Пойдём гулять?<br>
            —  Да, пойдём! Завтра после работы у меня нет никаких дел.
        </p>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex3e_input">
        <button onclick="check_Ex3e()">Проверить</button><br>
        <div id="ex3e_result" style="display: inline-block;"></div><br>
        <button onclick="Ex3e()">Показать ответ</button>
        <div id="ex3e_ans"></div>
    </div>

    <h3>4. Прочитайте вопросы и найдите подходящие ответы. Что обозначает конструкция <span class="construction">Честно говоря, Cl</span>?</h3>
    <button onclick="Ex4_eng()">Show in English</button>
    <div class="translation" id="ex4_eng"></div><br>
    <button onclick="Ex4_norw()">Show in Norwegian</button>
    <div class="translation" id="ex4_norw"></div>

    <div class="second_indent">
        <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. В каких ещё компаниях вы проходите собеседование?</td>
                <td>а. Честно говоря, я не очень амбициозный человек. Через пять лет я хочу продолжать работать в вашей компании на должности руководителя отдела*.</td>
            </tr>
            <tr>
                <td>2. Расскажите о своей мечте.</td>
                <td>б. Честно говоря, это очень неожиданный* вопрос. Не думаю, что я бы хотел быть животным.</td>
            </tr>
            <tr>
                <td>3. Где вы видите себя через пять лет?</td>
                <td>в. Честно говоря, я не мечтаю, а действую. Но вообще я хочу прыгнуть с парашютом.</td>
            </tr>
            <tr>
                <td>4. Почему вы решили сменить* работу?</td>
                <td>г. Честно говоря, это мое единственное собеседование.</td>
            </tr>
            <tr>
                <td>5. Каким животным вы бы хотели быть?</td>
                <td>д. Честно говоря, я давно чувствовала себя не на своём месте*. Думаю, мне больше подходит* работа с людьми.</td>
            </tr>
        </table>
        <p>
            * руководитель отдела — English: department head; Norwegian: avdelingsleder<br>
            * неожиданный — English: unexpected; Norwegian: uventet<br>
            * сменить работу — English: change jobs; Norwegian: bytte jobb<br>
            * чувствовала себя не на своём месте — English: felt out of place; Norw.: føltes malplassert<br>
            * мне подходит — English: suits me, works for me; Norwegian: det passer meg<br>
        </p>
        <br>
        <label for="answer">Ваш ответ:</label>
        <input type="text" id="ex4_input" placeholder="1а, 2б, 3в, 4г, 5д">
        <button onclick="check_Ex4()">Проверить</button><br>
        <div id="ex4_result" style="display: inline;"></div><br>
        <button onclick="Ex4()">Показать ответ</button>
        <div id="ex4_ans"></div>
    </div>

    <h3>5. Посмотрите на таблицу в упражнении 4. Обсудите с собеседником, насколько удачны эти ответы на реальном собеседовании. Предложите свои варианты, используя конструкцию <span class="construction">Честно говоря, Cl</span>.</h3>
    <button onclick="Ex5_eng()">Show in English</button>
    <div class="translation" id="ex5_eng"></div><br>
    <button onclick="Ex5_norw()">Show in Norwegian</button>
    <div class="translation" id="ex5_norw"></div><br>
    <button onclick="Ex5_comment()">Comment for language teachers</button>
    <div class="translation" id="ex5_comment"></div>

    <h3>6. Расскажите собеседнику о себе. В каждой паре предложений выберите то начало, которое вам подходит. Продолжите предложения, используя конструкции <span class="construction">К примеру, Cl/XP</span> и <span class="construction">Так, Cl</span>.</h3>
    <button onclick="Ex6_eng()">Show in English</button>
    <div class="translation" id="ex6_eng"></div><br>
    <button onclick="Ex6_norw()">Show in Norwegian</button>
    <div class="translation" id="ex6_norw"></div><br>
    <button onclick="Ex6_comment()">Comment for language teachers</button>
    <div class="translation" id="ex6_comment"></div>
    <div class="second_indent">
        <p><b>Образец</b>:<br>
            Я обожаю домашних животных. <span class="construction">Так,</span> у меня дома живут кот, черепаха и рыбки.<br><br>
        </p>
        <p>
            1.<br>
            а. Сфера моих интересов обширна. <span class="construction">Так,</span> …<br>
            б. У меня не так много интересов. <span class="construction">Так,</span> …<br><br>

            2.<br>
            а. Я обожаю спорт. <span class="construction">К примеру,</span> …<br>
            б. Я не фанат спорта. <span class="construction">К примеру,</span> …<br><br>

            3.<br>
            а. У меня активная жизнь. <span class="construction">Так,</span> …<br>
            б. У меня не очень активная жизнь. <span class="construction">Так,</span> …<br><br>

            4.<br>
            а. Я очень люблю путешествовать. <span class="construction">К примеру,</span> …<br>
            б. Я не очень люблю путешествовать. <span class="construction">К примеру,</span> …<br><br>
        </p>
    </div>

    <h3>7. Задавая вопрос, люди часто сначала отвечают на него сами. Продолжите предложения, используйте конструкции <span class="construction">К примеру,</span> и <span class="construction">Что касается NP-Gen, то Cl</span>.</h3>
    <button onclick="Ex7_eng()">Show in English</button>
    <div class="translation" id="ex7_eng"></div><br>
    <button onclick="Ex7_norw()">Show in Norwegian</button>
    <div class="translation" id="ex7_norw"></div><br>
    <button onclick="Ex7_comment()">Comment for language teachers</button>
    <div class="translation" id="ex7_comment"></div>
    <div class="second_indent">
        <p>
            1.<br>
            — Какие фильмы вам нравятся? Мне, <span class="construction">к примеру,</span> …<br>
            — <span class="construction">Что касается</span> меня, <span class="construction">то</span> …<br><br>

            2.<br>
            — О чём вы мечтаете? Я, <span class="construction">к примеру,</span> о …<br>
            — <span class="construction">Что касается</span> меня, <span class="construction">то</span> …<br><br>

            3.<br>
            — Часто ли вы читаете книги? Я, <span class="construction">к примеру,</span> …<br>
            — <span class="construction">Что касается</span> меня, <span class="construction">то</span> …<br><br>

            4.<br>
            — Вы больше любите кино или театр? Я, <span class="construction">к примеру,</span> …<br>
            — <span class="construction">Что касается</span> меня, то …<br><br>

            5.<br>
            — Какой вид спорта вы предпочитаете? Я, <span class="construction">к примеру,</span> …<br>
            — <span class="construction">Что касается</span> меня, <span class="construction">то</span> …<br><br>

            6.<br>
            — Часто ли вы пропускаете дедлайны? Я, <span class="construction">к примеру,</span> …<br>
            — <span class="construction">Что касается</span> меня, <span class="construction">то</span> …<br><br>

            7.<br>
            — Вы обычно делаете всё заранее или в последний момент? Я, <span class="construction">к примеру,</span> …<br>
            — <span class="construction">Что касается</span> меня, <span class="construction">то</span> …<br><br>

        </p>
    </div>

    <h3>8. Заполните пропуски словами из списка:
        <ul>
            <li><span class="construction">Так,</span></li>
            <li><span class="construction">К примеру</span></li>
            <li><span class="construction">Честно говоря</span></li>
            <li><span class="construction">Что касается</span></li>
            <li><span class="construction">то</span></li>
        </ul>


    </h3>
    <button onclick="Ex8_eng()">Show in English</button>
    <div class="translation" id="ex8_eng"></div><br>
    <button onclick="Ex8_norw()">Show in Norwegian</button>
    <div class="translation" id="ex8_norw"></div>

    <p>
        В этом году я поступил в университет на филологический факультет. ___________________________________, учиться здесь сложно. ___________________________________, преподаватель по литературе, задаёт очень много домашних заданий на неделю. ___________________________________, к сегодняшнему занятию нам нужно было прочитать роман "Идиот" целиком и написать эссе. ___________________________________меня, ___________________________________я люблю учить иностранные языки: английский и испанский. А вот литература мне уже не очень нравится.
    </p>

    <button onclick="Ex8()">Показать ответ</button>
    <div id="ex8_ans"></div>

    <h3>9. Сегодня три компании проводят собеседования. В зависимости от вашей роли, проведите или пройдите собеседование. Описание каждой роли предложено ниже (3 варианта вакансий и 3 варианта кандидатов).
        Используйте конструкции
        <ul>
            <li><span class="construction">Что касается</span></li>
            <li><span class="construction">К примеру</span></li>
            <li><span class="construction">Так,</span></li>
            <li><span class="construction">Честно говоря</span></li>
            <li><span class="construction">(а/так) что насчёт XP?</span></li>
        </ul>
    </h3>
    <button onclick="Ex9_eng()">Show in English</button>
    <div class="translation" id="ex9_eng"></div><br>
    <button onclick="Ex9_norw()">Show in Norwegian</button>
    <div class="translation" id="ex9_norw"></div><br>
    <button onclick="Ex9_comment()">Comment for language teachers</button>
    <div class="translation" id="ex9_comment"></div>
    <p>
        <b>Возможные вопросы</b><br>
        1. Какие у вас сильные и слабые стороны?<br>
        2. Какие языки вы знаете?<br>
        3. Какой график работы вам подходит?<br>
        4. Есть ли у вас опыт работы в этой области?<br>
        5. Какую зарплату вы ожидаете?<br>
        6. Какое у вас образование?<br>
        7. Кем вы видите себя через 5 лет?<br>
        8. Почему вы ушли с прошлой работы?<br>
    </p>
    <div class="second_indent">
        <p>
            <b>1. Вы — сотрудник HR. Найдите подходящего компании сотрудника.</b><br><br>
            <b>Вакансия:</b> Кассир в Макдональдсе<br>
            <b>Опыт работы:</b> не требуется<br>
            <b>Зарплата:</b> от 20 000 рублей в месяц<br>
            <b>Образование:</b> высшее образование не требуется<br>
            <b>Требования:</b> коммуникабельность, ответственность, умение работать в команде<br>
            <b>Обязанности:</b> приём заказов, помощь на кухне<br>
            Возможен карьерный рост: менеджер ресторана (после года работы)<br>
            Гибкий график работы
            <br><br>

            <b>2. Вы — сотрудник HR. Найдите подходящего компании сотрудника.</b><br><br>
            <b>Вакансия:</b> Переводчик документов в крупной компании<br>
            <b>Опыт работы:</b> от 3 лет<br>
            <b>Зарплата:</b> 60 000 рублей в месяц<br>
            <b>Образование:</b> высшее (филолог/лингвист/переводчик)<br>
            <b>Требования:</b> знание русского, норвежского, английского не ниже уровня В2 (требуется сертификат), навык составления документов. Приветствуется опыт работы в сфере рыболовной промышленности.<br>
            <b>Обязанности:</b> перевод документов<br>
            Возможно повышение зарплаты после испытательного срока (3 месяца)<br>
            Полный рабочий день, работа в офисе<br><br>


            <b>3. Вы — сотрудник HR. Найдите подходящего компании сотрудника.</b><br><br>
            <b>Вакансия:</b> Веб-дизайнер<br>
            <b>Опыт работы:</b> необходимо портфолио (примеры сайтов)<br>
            <b>Зарплата:</b> по договоренности<br>
            <b>Образование:</b> высшее (дизайн/программирование)<br>
            <b>Требования:</b> опыт программирования на языках С++ и Python, владение Photoshop, умение работать со сложными клиентами<br>
            Свободный график, удалённая работа<br><br>


            <b>4. Кандидат А<br>Вы ищете работу. Пройдите три собеседования и найдите подходящую работу.</b><br><br>
            •	Вам 17 лет, учитесь в 10 классе<br>
            •	Вы хотите работать в свободное от школы время, чтобы купить себе игровую приставку PlayStation<br>
            •	Ваше хобби — создавать красивые сайты (так, вы сделали новый сайт вашей школы). Вы немного программировали на Python.<br>
            •	Вы активный, коммуникабельный человек, умеете работать в команде. Немного ленивый, любите прокрастинировать, поэтому работать из дома у вас не получается.<br><br>


            <b>5. Кандидат Б<br>Вы ищете работу. Пройдите три собеседования и найдите подходящую работу.</b><br><br>
            •	Вам 36 лет, вы уже 7 лет работаете переводчиком (норвежский, английский, немецкий). Недавно сдали экзамен по русскому языку, ваш уровень — С1.<br>
            •	Первое образование вы получили по программе Рыболовство и аквакультура в UiT.<br>
            •	Затем решили, что хотите переводить художественную литературу с английского на норвежский. Ваше второе образование — переводчик.<br>
            •	Вы очень внимательный человек, любите порядок, предпочитаете работать в офисе.
            <br><br>

            <b>6. Кандидат В<br>Вы ищете работу. Пройдите три собеседования и найдите подходящую работу.</b><br><br>
            •	Вам 25 лет, сейчас вы фрилансер<br>
            •	Учились на программиста, но вам надоело, поэтому бросили университет<br>
            •	С детства любите рисовать (сейчас изучаете Photoshop, чтобы рисовать в нём)<br>
            •	Последние 3 года вы создаете сайты для различных заказчиков, у вас большое портфолио<br>
            •	Хотите найти постоянную работу, потому что устали сами искать клиентов
            <br><br>


        </p>
    </div>

    <h3>10. Составьте краткий текст (питч) из 6 предложений. Ваша задача — прорекламировать себя за короткое время, убедить работодателя в том, что вы идеальный кандидат на должность. Выберите один вариант вакансии или придумайте свой
    </h3>
    <ul>
        <li>менеджер по инновациям в компании по производству мобильных телефонов</li>
        <li>художественный руководитель в театре оперы и балета</li>
        <li>журналист в международном отделе газеты</li>
        <li>инструктор в автошколе</li>
    </ul>
    <button onclick="Ex10_eng()">Show in English</button>
    <div class="translation" id="ex10_eng"></div><br>
    <button onclick="Ex10_norw()">Show in Norwegian</button>
    <div class="translation" id="ex10_norw"></div>




<a class = "no_undscr" href="../lessons/two.html" style="color: inherit;">&lt; Назад</a>
<a class = "no_undscr" href="#start" style="color: inherit;">|&nbsp;&nbsp;&nbsp;&nbsp;В начало страницы&nbsp;&nbsp;&nbsp;&nbsp;|</a>
<a class = "no_undscr" href="../lessons/four.html" style="color: inherit;">Вперед &gt;</a>

</div>

    <br><br>
</body>

</html>
