<!DOCTYPE html>
<html>
<head>
    <script src="../../scripts/two.js"></script>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="icon" href="../../images/logo.png">
    <title>Lesson 2
    </title>

</head>

<body style="font-family: Calibri, sans-serif;">
    <div style="display: inline-block; width: 100%;">
        <img src="../../images/txtlogo.png" alt="Construxercise" style="height: 150px;">
    </div>

<div class="grid-container">
    <a class="grid-item_1" href="../../index.html">HOME</a>
    <a class="grid-item_2" id="lesson_btn" href="../lessons.html">LESSONS</a>
    <a class="grid-item_2" id="constr_btn" href="../functions.html">FUNCTIONS</a>
    <a class="grid-item_1" href="../about.html">ABOUT</a>
</div>
<div class="first_indent">
    <h1>Урок 2. Поездка за границу <a href="../../files/Lesson 2. Download.pdf" target="_blank" style="color: inherit; font-size: smaller;">&#8595скачать</a></h1>
    <p>Конструкции урока:</p>
        <table class="table_lesson">
            <tr>
                <th>ID</th>
                <th>Construction</th>
                <th>Illustration</th>
            </tr>
            <tr>
                <td>2273</td>
                <td>в-NumOrd-ых, XP/Cl</td>
                <td><span class="construction">Во-первых,</span> я бы хотел поблагодарить своего тренера.</td>
            </tr>
            <tr>
                <td>2353</td>
                <td>С одной стороны, XP/Cl. С другой (стороны), XP/Cl</td>
                <td><span class="construction">С одной стороны,</span> мои знания были глубокими, <span class="construction">с другой стороны,</span> односторонними.</td>
            </tr>
            <tr>
                <td>365</td>
                <td>что касается NP-Gen, то Cl</td>
                <td><span class="construction">Что касается</span> спорта, <span class="construction">то</span> я никогда не любил бегать.</td>
            </tr>
            <tr>
                <td>1093</td>
                <td>в целом Cl</td>
                <td><span class="construction">В целом</span> кино достойно просмотра.</td>
            </tr>
            <tr>
                <td>1839</td>
                <td>таким образом, Cl</td>
                <td><span class="construction">Таким образом,</span> наша команда за год добилась важных результатов.</td>
            </tr>
        </table>
        <p>XP = phrase (фраза)<br>
            Cl = clause, sentence (предложение)<br>
            NP = noun phrase (существительное)<br>
            Gen = Genitive case (генитив)
        </p>
        <p>Русский конструктикон содержит информацию обо всех конструкциях урока<br><a href="https://constructicon.github.io/russian/" target="_blank"
            style="color: inherit;">https://constructicon.github.io/russian/</a></p>


        <h3>1. Прочитайте текст. Для чего нужны конструкции, выделенные в тексте? Что они обозначают?</h3>

        <button onclick="Ex1_eng()">Show in English</button>
        <div class="translation" id="ex1_eng"></div><br>
        <button onclick="Ex1_norw()">Show in Norwegian</button>
        <div class="translation" id="ex1_norw"></div>
    
        <div class="second_indent">
            <p>
                а.<br>
                Чтобы поехать в Россию, вам нужно получить визу. Для этого необходимы, <span class="construction">во-первых</span>,
                деньги, <span class="construction">во-вторых</span>, время, а <span class="construction">в-третьих</span>, терпение*. <span class="construction">С одной стороны</span>, оформлять
                документы очень скучно, <span class="construction">с другой стороны</span>, это необходимо. <span class="construction">Что касается</span> времени, <span class="construction">то</span>
                визу надо делать заранее, как минимум за месяц до поездки. <span class="construction">В целом</span> визу сделать
                несложно!<br>
                *терпение — English: patience; Norwegian: tålmodighet
            </p>
            <p>
                б.<br>
                Программа обмена доступна* многим студентам. Для неё вам необходимо подготовить
                небольшой пакет документов. <span class="construction">Во-первых</span>, вам нужна копия паспорта. <span class="construction">Во-вторых</span>, справка
                о знании английского языка. <span class="construction">В-третьих</span>, рекомендательное письмо от одного
                преподавателя. Кроме того, вам надо написать короткое эссе. <span class="construction">С одной стороны</span>, это очень
                легко сделать. <span class="construction">С другой стороны</span>, только 10% студентов решают попробовать.<br>
                *доступна — English: available; Norwegian: tilgjengelig
            </p>
            <p>
                в.<br>
                Привет, Мартин! Спасибо тебе за приглашение в Норвегию на Пасху! Я очень хочу поехать,
                но боюсь, что не успею собрать документы. <span class="construction">Во-первых</span>, у меня нет загранпаспорта. <span class="construction">С
                одной стороны</span>, его очень просто сделать, <span class="construction">а с другой стороны</span>, это может занять* три
                месяца. <span class="construction">Что касается</span> других справок и сертификатов, то <span class="construction">в целом</span>, их выдают быстро.
                <span class="construction">Таким образом</span>, когда я получу загранпаспорт, мне можно будет подавать документы на
                визу. <span class="construction">Как бы то ни было</span>, я надеюсь, что всё сделаю вовремя и приеду в Норвегию! Твоя
                подруга Саша.<br>
                *занять — English: it takes (about time); Norwegian: det kan ta (om tid)
            </p>
        </div>
        
        <h3>2. Составьте текст, используя конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
            В этой конструкции NumOrd — это порядковое числительное (ordinal
            numeral), которое образует слова <span class="construction">во-первых, во-вторых, в-третьих, в-
            четвёртых...</span> . На месте XP/Cl находится фраза (XP=phrase) или целое
            предложение (Cl=clause, sentence).
        </h3>
        <button onclick="Ex2_eng()">Show in English</button>
        <div class="translation" id="ex2_eng"></div><br>
        <button onclick="Ex2_norw()">Show in Norwegian</button>
        <div class="translation" id="ex2_norw"></div><br>
    
        <div class="second_indent">
            <p>
                а. Что нужно, чтобы поехать в Россию?<ol>
                    <li>Сделать визу</li>
                    <li>Купить билеты</li>
                    <li>Забронировать отель/найти жильё</li>
                    <li>Собрать чемодан/вещи</li>
                </ol>
            </p>
            <p>
                б. Почему вы хотите поехать в Россию?<ol>
                    <li>Интересные музеи</li>
                    <li>Красивая архитектура</li>
                    <li>Хорошие люди</li>
                    <li>Вкусная еда</li>
                </ol>
            </p>
            <p>
                в. У имени Александр есть много вариантов.<ol>
                    <li>Обычно используют сокращённый* вариант этого имени, Саша.</li>
                    <li>Есть ещё другие варианты имени Александр — Шура, Саня, Алик.</li>
                    <li>Саша — это не только мужское, но и женское имя (Александра).</li>
                <ol>
           </p>
        </div><span style="display:inline-block;">сокращённый* — English: shortened; Norwegian: forkortet</span><br>
        <button onclick="Ex2()">Показать ответ</button>
        <div id="ex2_ans"></div>

        <h3>3. Перепишите информационное письмо из визового центра, используя
            конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
            В этой конструкции NumOrd — это порядковое числительное (ordinal
            numeral), которое образует слова <span class="construction">во-первых, во-вторых, в-третьих, в-
            четвёртых...</span> . На месте XP/Cl находится фраза (XP=phrase) или целое
            предложение (Cl=clause, sentence).
        </h3>
        <button onclick="Ex3_eng()">Show in English</button>
        <div class="translation" id="ex3_eng"></div><br>
        <button onclick="Ex3_norw()">Show in Norwegian</button>
        <div class="translation" id="ex3_norw"></div><br>
    
        <div class="second_indent">
            <p>
                Добрый день! Вы записаны в визовый центр на 12:00.<br>
                Список документов, которые вам нужно иметь с собой…
                <ul>
                    <li>загранпаспорт;</li>
                    <li>сертификат о вакцинации;</li>
                    <li>подтверждение о бронировании отеля;</li>
                    <li>две фотографии;</li>
                </ul>
                С уважением,<br>
                Визовый центр.
            </p>
        </div>
        <button onclick="Ex3()">Показать ответ</button>
        <div id="ex3_ans"></div>

        <h3>4. Вы сотрудник посольства. Расскажите туристу, который хочет
            поехать в Россию, что ему нужно сделать, чтобы получить визу.
            Используйте схему, слова «надо», «нужно» и «необходимо», а также
            конструкцию <span class="construction">в-NumOrd-ых, XP/Cl</span>.
        </h3>
        <button onclick="Ex4_eng()">Show in English</button>
        <div class="translation" id="ex4_eng"></div><br>
        <button onclick="Ex4_norw()">Show in Norwegian</button>
        <div class="translation" id="ex4_norw"></div><br>
    
        <div class="second_indent">
            <img src="../../images/2/4.jpg" alt="scheme" style="height: 500px;">
        </div>

        <h3>5. Соедините части предложений, подобрав логичное продолжение. Используйте
            конструкцию <span class="construction">С одной стороны, XP/Cl. С другой (стороны), XP/Cl.</span> Слово
            «стороны» во второй части конструкции часто опускается, поэтому в
            формуле конструкции оно указано в скобках (). На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause,
            sentence)</h3>
        <button onclick="Ex5_eng()">Show in English</button>
        <div class="translation" id="ex5_eng"></div><br>
        <button onclick="Ex5_norw()">Show in Norwegian</button>
        <div class="translation" id="ex5_norw"></div>
    
        <div class="second_indent">
            <!-- <p>Для первой части предложения в левом столбце таблицы подберите логичное продолжение из правого столбца.<br> Для каждого предложения назовите часть речи тех слов, которые связаны конструкцией не только XP, но и XP</p> -->
            <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. В Москве зимой очень красиво<br><br>
                    2. Путешествовать интересно<br><br>
                    3. Есть много сладкого вредно<br><br>
                    4. Учить русский язык сложно<br><br>
                    5. Смотреть сериалы весело
                </td>
                <td>а. сладкое — это очень вкусно<br><br>
                    б. это прокрастинация<br><br>
                    в. там холодно<br><br>
                    г. очень интересно<br><br>
                    д. для путешествий нужно много времени и денег
                </td>
            </tr>
            </table>
            <br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex5_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex5()">Проверить</button><br>
            <div id="ex5_result" style="display: inline;"></div><br>
            <button onclick="Ex5()">Показать ответ</button>
            <div id="ex5_ans"></div>
        </div>

        <h3>6. Антон отдыхал в Греции и после поездки решил написать отзыв на сайте
            отеля. Что-то ему понравилось, а что-то не понравилось. Антон сделал
            заметки. Помогите ему написать отзыв, соединив предложения.
            Используйте конструкцию <span class="construction">С одной стороны, XP/Cl. С другой (стороны),
                XP/Cl</span>. На месте XP/Cl находится фраза (XP=phrase) или целое предложение (Cl=clause,
                sentence)
        </h3>
        <button onclick="Ex6_eng()">Show in English</button>
        <div class="translation" id="ex6_eng"></div><br>
        <button onclick="Ex6_norw()">Show in Norwegian</button>
        <div class="translation" id="ex6_norw"></div>
    
        <ol>
            <li>В отеле была хорошая еда / плохо убирали в номере<br><input class="input_normal" type="text" id="ex6a_input"></li>
            <div id="ex6a_result" style="display: inline;"></div><br>
            <li>У отеля отдельный пляж / там всегда было много людей<br><input class="input_normal" type="text" id="ex6b_input"></li>
            <div id="ex6b_result" style="display: inline;"></div><br>
            <li>Вечером были весёлые вечеринки / музыка всю ночь мешала спать.<br><input class="input_normal" type="text" id="ex6c_input"></li>
            <div id="ex6c_result" style="display: inline;"></div><br>
            <li>находиться в отеле было приятно / иногда некомфортно<br><input class="input_normal" type="text" id="ex6d_input"></li>
            <div id="ex6d_result" style="display: inline;"></div><br>
        </ol>
        <button onclick="check_Ex6()">Проверить</button><br><br>
        <button onclick="Ex6()">Показать ответ</button>
        <div id="ex6_ans"></div>


        <h3>7. Соедините два предложения в одно, используя конструкцию <span class="construction">что
            касается NP-Gen, то Cl</span>. В этой конструкции <span class="construction">NP-Gen</span> — это существительное
            (NP=noun phrase) в генитиве (Gen). На месте Cl находится целое
            предложение (Cl=clause, sentence).
        </h3>
        <button onclick="Ex7_eng()">Show in English</button>
        <div class="translation" id="ex7_eng"></div><br>
        <button onclick="Ex7_norw()">Show in Norwegian</button>
        <div class="translation" id="ex7_norw"></div>
        <div class="second_indent">
        
        <p>
            <b>Образец</b>:<br>
            Отель мне ещё нужно забронировать. <u>Билеты</u> я купил уже давно.<br>
            -&gt; Отель мне ещё нужно забронировать. <span class="construction">Что касается</span> билетов, <span class="construction">то</span> я купил их уже давно.
        </p>
            <ol>
                <li>Студенческий билет у вас уже есть. <u>Справку об обучении</u> можно заказать в учебном
                    офисе*.<br>
                    * Учебный офис может также называться «деканат».</li>
                <div id="ex7a_result" style="display: inline;"></div><br>
                <li>Петя и Катя получили визу в Норвегию. <u>Кирилл</u> пока ждет ответа от посольства.</li>
                <div id="ex7b_result" style="display: inline;"></div><br>
                <li>С пропуском вы можете зайти в любое здание университета. <u>Студенческий билет</u> будет
                    нужен, если вы хотите купить билет в музей со скидкой.</li>
                <div id="ex7c_result" style="display: inline;"></div><br>
                <li>Фотографию для визы нужно принести с собой. <u>Отпечатки пальцев</u> у вас снимут в
                    посольстве.</li>
                <div id="ex7d_result" style="display: inline;"></div><br>
            </ol>
            <button onclick="check_Ex7()">Проверить</button><br><br>
            <button onclick="Ex7()">Показать ответ</button>
            <div id="ex7_ans"></div>
        </div>


        <h3>8. Составьте короткий рассказ об одном дне из жизни друзей. Оцените, как прошёл их день, используя конструкцию <span class='construction'>в целом Cl</span>.
            На месте Cl находится целое предложение (Cl=clause, sentence).</h3>
        <button onclick="Ex8_eng()">Show in English</button>
        <div class="translation" id="ex8_eng"></div><br>
        <button onclick="Ex8_norw()">Show in Norwegian</button>
        <div class="translation" id="ex8_norw"></div>

        <div class="second_indent">
            <p><b>Образец</b>:</p>
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Леонид</td>
                    <td>выспался<br>
                        сходил на море<br>
                        сходил на футбольный матч</td>
                </tr>
            </table>
            <p>Леонид выспался, сходил на море и на футбольный матч. <span class="construction">В целом</span> день прошёл хорошо.</p>

            <div>а
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Евгения</td>
                    <td>отдохнула<br>
                        сходила в спа<br>
                        посмотрела фильм</td>
                </tr>
            </table>
            </div><br>

            <div>б
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Наташа и Андрей</td>
                    <td>потеряли ключи от квартиры<br>
                        опоздали на поезд<br>
                        замёрзли на прогулке</td>
                </tr>
            </table>
            </div><br>

            <div>в
            <table class="table_lesson" style="width: 400px">
                <tr>
                    <td>Кто?</td>
                    <td>Что делал?</td>
                </tr>
                <tr>
                    <td>Дима</td>
                    <td>приготовил вкусный ужин<br>
                        посмотрел новый фильм<br>
                        купил новый диван</td>
                </tr>
            </table>
            </div><br>
            <button onclick="Ex8()">Показать ответ</button>
            <div id="ex8_ans"></div>
        </div>

        <h3>9. Выберите подходящую конструкцию. Объясните свой выбор. В каждом
            случае одна конструкция вводит вывод, а другая добавляет информацию.
        </p>
        </h3>
        <button onclick="Ex9_eng()">Show in English</button>
        <div class="translation" id="ex9_eng"></div><br>
        <button onclick="Ex9_norw()">Show in Norwegian</button>
        <div class="translation" id="ex9_norw"></div>
    
        <div class="second_indent">
            <ol>
                <li>На границе офицер попросил меня показать паспорт и сертификат о вакцинации. <span class="construction">Кроме
                    того, / В целом</span> он спросил о цели визита.</li>
                <div id="ex9a_result" style="display: inline;"></div><br>
                <li>У фильма интересный сюжет, актёры тоже хорошо играли. <span class="construction">Кроме того, / В целом</span> я
                    рекомендую вам посмотреть этот фильм.</li>
                <div id="ex9b_result" style="display: inline;"></div><br>
                <li>Оформление паспорта занимает не более трёх месяцев, визы — не более пяти дней. <span class="construction">К тому же, / В
                    целом</span> до отпуска мы успеем.</li>
                <div id="ex9c_result" style="display: inline;"></div><br>
                <li>Перед путешествием надо купить билеты, страховку, забронировать отель и получить
                    визы. <span class="construction">К тому же, / В целом</span> теперь надо сделать ПЦР-тест на коронавирус.</li>
                <div id="ex9d_result" style="display: inline;"></div><br>
                <li>Для путешествия мне нужна виза, билеты и жильё. Билеты можно купить заранее, а
                    жить — в хостеле или через каучсёрфинг. <span class="construction">Кроме того, / В целом</span> путешествия — это не
                    всегда очень дорого.</li>
                <div id="ex9e_result" style="display: inline;"></div><br>
                
            </ol>
            <button onclick="check_Ex9()">Проверить</button><br><br>
            <button onclick="Ex9()">Показать ответ</button>
            <div id="ex9_ans"></div>
        </div>


        <h3>10. Соедините предложения, подобрав логичное продолжение.
            Используйте конструкцию <span class="construction">таким образом, Cl</span>. На месте Cl находится целое
            предложение (Cl=clause, sentence).</span></h3>
        <button onclick="Ex10_eng()">Show in English</button>
        <div class="translation" id="ex10_eng"></div><br>
        <button onclick="Ex10_norw()">Show in Norwegian</button>
        <div class="translation" id="ex10_norw"></div>
    
        <div class="second_indent">
            <table class="table_lesson" style="width: 650px">
            <tr>
                <td>1. Для поездки за границу нужно сделать
                    загранпаспорт, получить визу, купить билеты и
                    спланировать маршрут.<br><br>
                    2. В Санкт-Петербурге много музеев, парков, дворцов и
                    храмов. За день их все не посмотреть.<br><br>
                    3. Чтобы сделать визу в Норвегию, нужно много
                    времени и денег, а у русских мало и того, и другого.<br><br>
                    4. Я потеряла паспорт, а Соня не смогла улететь домой,
                    потому что её рейс отменили.
                </td>
                <td>а. Туда лучше ехать на
                    несколько дней.<br><br>
                    б. Мы вместе остались на
                    каникулы в общежитии.<br><br>
                    в. Готовиться к путешествию
                    нужно заранее.<br><br>
                    г. В Норвегию русские туристы
                    приезжают нечасто.
                </td>
            </tr>
            </table>
            <br>
            <label for="answer">Ваш ответ:</label>
            <input type="text" id="ex10_input" placeholder="1а, 2б, 3в, 4г, 5д">
            <button onclick="check_Ex10()">Проверить</button><br>
            <div id="ex10_result" style="display: inline;"></div><br>
            <button onclick="Ex10()">Показать ответ</button>
            <div id="ex10_ans"></div>
        </div>




        <h3>11. Вы с другом собираете чемодан в поездку. Перед вами список вещей.
            Чемодан маленький, поэтому взять нужно только самое необходимое.
            Обсудите с другом, что из списка вы возьмёте. В таблице даны 4 варианта
            поездки. Обсудите каждый вариант отдельно.</h3>
        <button onclick="Ex11_eng()">Show in English</button>
        <div class="translation" id="ex11_eng"></div><br>
        <button onclick="Ex11_norw()">Show in Norwegian</button>
        <div class="translation" id="ex11_norw"></div><br>
        <button onclick="Ex11_comment()">Comment for language teachers</button>
        <div class="translation" id="ex11_comment"></div>

        <div class="second_indent">
            
            <table class="table_lesson" style="width: 600px">
                <tr>
                    <td></td>
                    <td><b>Куда?</b></td>
                    <td><b>На сколько?</b></td>
                    <td><b>Зачем?</b></td>
                    <td><b>Когда?</b></td>
                </tr>
                <tr>
                    <td>а.</td>
                    <td>Сочи</td>
                    <td>1 неделя</td>
                    <td>Кататься на лыжах</td>
                    <td>Январь</td>
                </tr>
                <tr>
                    <td>б.</td>
                    <td>Москва</td>
                    <td>2 недели</td>
                    <td>Шопинг</td>
                    <td>Август</td>
                </tr>
                <tr>
                    <td>в.</td>
                    <td>Санкт-Петербург</td>
                    <td>10 дней</td>
                    <td>Гулять по городу</td>
                    <td>Октябрь</td>
                </tr>
                <tr>
                    <td>г.</td>
                    <td>Калининград</td>
                    <td>5 дней</td>
                    <td>В гости к другу</td>
                    <td>Март</td>
                </tr>
            </table>
            <p>
                Список вещей:
                <ul>
                    <li>фотоаппарат</li>
                    <li>купальник</li>
                    <li>лыжи</li>
                    <li>теплая куртка</li>
                    <li>подарок другу</li>
                    <li>паспорт</li>
                    <li>зонт</li>
                    <li>красивая одежда для прогулки</li>
                    <li>одеяло</li>
                    <li>непромокаемая обувь</li>
                    <li>очки от солнца</li>
                    <li>ноутбук</li>
                    <li>деньги</li>
                    <li>коробка конфет</li>
                    <li>фонарик</li>
                </ul>
            </p>
        </div>

        <h3>12. Расскажите вашим друзьям о своей поездке. Расскажите о том, что вам
            понравилось и что не понравилось. Следуйте плану.
        </h3>
        <button onclick="Ex12_eng()">Show in English</button>
        <div class="translation" id="ex12_eng"></div><br>
        <button onclick="Ex12_norw()">Show in Norwegian</button>
        <div class="translation" id="ex12_norw"></div>
    
        <div class="second_indent">
            Моя поездка в _____ (город или страна)____  прошла _____(отлично / ужасно /
            средне)____.<br>
            Во-первых, ___________________________________________________________ .<br>
            Во-вторых, ___________________________________________________________ .<br>
            В целом, ___________________________________________________________ .<br>
            Что касается, ___(отеля / пляжа / ресторанов)___, то _________________________ .<br>
            С одной стороны, ___(что-то хорошее)___, а с другой стороны ____(что-то плохое)___.<br>
            Таким образом, _____(общий вывод о поездке)____.
        </div>
        <button onclick="Ex12()">Показать ответ</button>
        <div id="ex12_ans"></div>

        <h3>13*. Бонусное упражнение. Соедините достопримечательности России (1-4)
            и факты о них (а-г) при помощи конструкции <span class='construction'>что касается NP-Gen, то Cl.</span> В этой конструкции NP-Gen
            — это существительное (NP=noun phrase) в генитиве (Gen= Genitive case). На
            месте Cl находится целое предложение (Cl=clause, sentence).
        </h3>
        <button onclick="Ex13_eng()">Show in English</button>
        <div class="translation" id="ex13_eng"></div><br>
        <button onclick="Ex13_norw()">Show in Norwegian</button>
        <div class="translation" id="ex13_norw"></div>
    
        <div class="second_indent">
            <table class="table_lesson">
                <tr>
                    <td><img src="../../images/2/13_1.jpg" alt="13_1" style="width: 400px;"><br>1. Красная площадь в Москве</td>
                    <td><img src="../../images/2/13_2.jpg" alt="13_2" style="width: 400px;"><br>2. Царь-колокол в Москве</td>
                </tr>
                <tr>
                    <td><img src="../../images/2/13_3.jpg" alt="13_3" style="width: 400px;"><br>3. Исаакиевский собор в Санкт-Петербурге</td>
                    <td><img src="../../images/2/13_4.jpg" alt="13_4" style="width: 400px;"><br>4. Зимний дворец в Санкт-Петербурге</td>
                </tr>
            </table>
            <p>
                Факты:<br>
                а. Раньше это была резиденция российского императора, а сейчас в этом здании
                находится музей «Государственный Эрмитаж».<br>
                б. Этот огромный колокол весит 202 тонны и был поврежден во время большого пожара в
                Москве в 1737 году.<br>
                в. Это главная площадь Москвы, которая расположена рядом с Московским Кремлём на
                берегу Москвы-реки.<br>
                г. Это самый крупный православный храм Санкт-Петербурга, который сейчас является
                музеем и одним из символов города.
            </p>
        </div>
        <button onclick="Ex13()">Показать ответ</button>
        <div id="ex13_ans"></div>


</div>

    <br><br>
</body>

</html>